@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "PrintOutwardToShop";
}

<script type="text/javascript">
    jQuery(document).ready(function () {

        var temp = $("#date").text();
        var dat = new Date(temp);
        var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var data = dat.getDate() + "/" + month[dat.getMonth()] + "/" + dat.getFullYear();
        document.getElementById('date').innerHTML = data;

    });
</script>

@Html.HiddenFor(model => model.OutwardToShopDetails.Date)

<table style="border: 1px double; width: 100%;">
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <img src="~/Images/retail-logo.png" class="img-responsive" alt="logo" style="max-width: 100px;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <label><b>A To Z DADAR T.T.</b></label><br />
                        <label>Shopping Centre, Dadar T.T., Dadar East,Mumbai - 400014</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <label style="font-size: x-large;"><b>Outward To Shop</b></label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="border: 1px double; width: 100%">
                <tr>
                    <td style="width: 34%">
                        <label style="font-size: larger; font-weight: bold">Salesman Details:</label><br />
                        <label><b>&nbsp;Name: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.SalesmanName)<br />
                        <label><b>&nbsp;Designation: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.SalesmanDesignation)<br />
                        <label><b>&nbsp;Contact Number: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.SalesmanContactNo)<br />
                        <label><b>&nbsp;Email: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.SalesmanEmail)
                        <div style="height: 35px"></div>
                    </td>
                    <td style="width: 34%">
                        <div style="float: left; min-height: 170px; width: 1px; background-color: GrayText;"></div>
                        <br />
                        <label style="font-size: large; font-weight: bold">&nbsp;Employee Details:</label><br />
                        <label><b>&nbsp;Name: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.EmpName)<br />
                        <label><b>&nbsp;Designation: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.EmpDesignation)<br />
                        <label><b>&nbsp;Contact Number: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.EmpContactNo)<br />
                        <label><b>&nbsp;Email: &nbsp</b></label>@Html.DisplayFor(model => model.OutwardToShopDetails.EmpEmail)
                    </td>
                    <td style="width: 34%">
                        <div style="float: left; min-height: 170px; width: 1px; background-color: GrayText;"></div>
                        <br />
                        <div>
                            <table class="table">
                                <tr>
                                    <td><b>Date</b></td>
                                    <td>
                                        @{
                                            var date = Convert.ToDateTime(Model.OutwardToShopDetails.Date).ToString("MM/dd/yyyy");
                                        }
                                        <label id="date" style="font-weight: normal">@date</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Outward No.</b></td>
                                    <td>
                                        <label style="font-weight: normal">@Html.DisplayFor(model => model.OutwardToShopDetails.OutwardCode)</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Reference No : </b></td>
                                    <td>
                                        <label style="font-size: 18px; font-weight: bold">@Html.DisplayFor(model => model.OutwardToShopDetails.GatePass)</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <div style="height: 15px"></div>
        </td>
    </tr>

    <tr>
        <td>
            <label style="font-size: large; font-weight: bold">Item Details:</label>
            <table border="1" style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align: center">
                            <label>S.N.</label></th>
                        <th style="text-align: center">
                            <label>Item</label></th>
                        <th style="text-align: center">
                            <label>Description</label></th>
                        <th style="text-align: center">
                            <label>Stock Quantity</label></th>
                        <th style="text-align: center">
                            <label>Outward Quantity</label></th>
                        <th style="text-align: center">
                            <label>Current Bal</label></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.OutwardItemToShopList != null && Model.OutwardItemToShopList.Any())
                        {
                            int count = 1;
                            foreach (var data in Model.OutwardItemToShopList)
                            {                                                                        
                        <tr>
                            @{
                                double stkqty = Convert.ToDouble(@data.StockQuantity);
                                var StockQty = stkqty.ToString("#,###.00##");
                                double outqty = Convert.ToDouble(@data.OutwardQuantity);
                                var OutwardQty = outqty.ToString("#,###.00##");
                                double bal = Convert.ToDouble(@data.CurrentBalance);
                                var Balance = bal.ToString("#,###.00##");
                            }
                            <td>
                                <label style="font-weight: normal">&nbsp;@count</label>
                            </td>
                            <td>
                                <label style="font-weight: normal">&nbsp;@data.ItemName</label>
                            </td>
                            <td>
                                <label style="font-weight: normal">&nbsp;@data.ItemDescription</label>
                            </td>
                            <td style="text-align: right">
                                <label style="font-weight: normal">@StockQty&nbsp;</label>
                            </td>
                            <td style="text-align: right">
                                <label style="font-weight: normal">@OutwardQty&nbsp;</label>
                            </td>
                            <td style="text-align: right">
                                <label style="font-weight: normal">@Balance&nbsp;</label>
                            </td>
                        </tr>
                                count += 1;
                            }
                        }
                    }
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <div style="height: 15px"></div>
        </td>
    </tr>

    <tr>
        <td>
            <label style="font-size: large; font-weight: bold">Shop Details</label>
            <table border="1" style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: center">
                        <label><b>Name</b></label>
                    </td>
                    <td style="text-align: center">
                        <label><b>Address</b></label>
                    </td>
                    <td style="text-align: center">
                        <label><b>Email_Id</b></label>
                    </td>
                    <td style="text-align: center">
                        <label><b>Contact No.</b></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.OutwardToShopDetails.ShopName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.OutwardToShopDetails.ShopAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.OutwardToShopDetails.ShopEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.OutwardToShopDetails.ShopContactNo)
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <div style="height: 10px"></div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="float: right; text-align: right">
                <label style="font-size: medium; font-weight: bold">Prepared By,</label><br />
                @Html.DisplayFor(model => model.OutwardToShopDetails.PrepaidBy)
            </div>
        </td>
    </tr>

    @{
        if (Model.OutwardToShopDetails.Narration != null)
        {
        <tr>
            <td>
                <label style="font-weight: bold">Narration</label>
                &nbsp; &nbsp; &nbsp;
                    @Html.DisplayFor(model => model.OutwardToShopDetails.Narration)
            </td>
        </tr>
        }
    }

</table>



