@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "Create";
}

<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>
<link href="~/Content/customAlerts.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    function alertbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone1.ogg';

        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('alertClass');
        bootbox.alert('<i class="fa fa-2x fa-warning"></i><br>' + message + '<hr>');
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {

        // Init Theme Core 	  
        Core.init();

        $.ajax({
            url: '/Transport/CreateBankDetail',
            type: "GET",
            success: function (data) {
                $("#BankPartialView").html(data);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("input").not($(":button")).keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields =
$(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
        $("select").keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields =
$(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
        $("textarea").keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields =
$(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlcountry").val("India").attr('selected', 'selected');
        $("#ddlcountry").change(function () {
            var idmodel = $(this).val();
            $.getJSON("/Transport/LoadStateByCountry", { countryname: idmodel },
            function (Data) {
                var select = $("#ddlstate");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Select State"
                }));
                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlstate").change(function () {
            var idmodel = $(this).val();
            $.getJSON("/Transport/LoadDistrictByState", { statename: idmodel },
            function (Data) {
                var select = $("#ddldistrict");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Select District"
                }));
                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TransportDetails_Email").change(function () {
            var idmodel = $(this).val();
            $.getJSON("/Transport/ValidateEmail", { mail: idmodel },
            function (Data) {
                if (Data == "success") {
                    document.getElementById("errormsg").style.display = "inline"
                    document.getElementById("errormsg").innerHTML = "Email Id Is Already Registered!!!";
                    $("#TransportDetails_Email").val('');
                }
                else {
                    document.getElementById("errormsg").style.display = "none"
                    document.getElementById('errormsg').innerHTML = "";
                }
            });
        });
    });
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#Submit").click(function () {
            setTimeout(function () {
                var error = 0;
                if (document.getElementById("name").innerHTML != "" || document.getElementById("state").innerHTML != "" || document.getElementById("district").innerHTML != "" ||
                    document.getElementById("city").innerHTML != "" || document.getElementById("address").innerHTML != "" || document.getElementById("contact1").innerHTML != "" ||
                    document.getElementById("mode").innerHTML != "") {
                    error++;
                }
                else {
                    if (document.getElementById("contact2").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("contact3").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("country").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("pincode").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("email").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("accounttype").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("accountno").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("micr").innerHTML != "") {
                        error++;
                    }
                    else if (document.getElementById("branch").innerHTML != "") {
                        error++;
                    }
                }

                if (error == 0) {
                    $("#Submit").attr("disabled", true);
                }
                else {
                    return false;
                }
            }, 500);

        });
    });
</script>*@

<script type="text/javascript">
    function buttonclick() {

        if ($("#ddlBankNames").val() != "") {
            if ($("#TransportBankDetails_AccountNo").val() == "" || $("#TransportBankDetails_AccountType").val() == "" ||
                $("#ddlBankbranches").val() == "") {
                alertbox("Branch,Account No and Account Type fields are required");
                return false;
            } else if ($("#TransportBankDetails_AccountNo").val().length > 25 || $("#TransportBankDetails_AccountNo").val().length < 10) {
                alertbox("Account No should be between 10 and 25");
                return false;
            }
            else if ($("#TransportBankDetails_MICRCode").val() != "") {
                if ($("#TransportBankDetails_MICRCode").val().length != 9) {
                    alertbox("MICR Code Length Must Be 9");
                    return false;
                }
            }
        }

        $.ajax({
            url: '/Transport/CreateBankDetail',
            type: "POST",
            data: {
                bankname: document.getElementById("ddlBankNames").value,
                branch: document.getElementById("ddlBankbranches").value,
                transportcode: document.getElementById("transportcode").value,
                bankifscno: document.getElementById("TransportBankDetails_BankIFSCNo").value,
                bankaddress: document.getElementById("TransportBankDetails_BankAddress").value,
                accountno: document.getElementById("TransportBankDetails_AccountNo").value,
                accounttype: document.getElementById("TransportBankDetails_AccountType").value,
                micr: document.getElementById("TransportBankDetails_MICRCode").value,
            },
            success: function (data) {
                $("#BankPartialView").html(data);
            }
        });
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#TransportDetails_TransportName").autocomplete({
            source: "/Transport/GetTransportNames",
            minLength: 1,
            select: function (event, ui) {
                if (ui.item) {
                    $("#TransportDetails_TransportName").val(ui.item.value);
                }
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Submit").click(function () {
            var idmodel = document.getElementById('TransportDetails_TransportName').value;
            $.getJSON("/Transport/ValidateTransportName", { transportname: idmodel },
            function (Data) {
                if (Data == "success") {
                    document.getElementById("errorname").style.display = "inline"
                    document.getElementById("errorname").innerHTML = "Name Already Present!!!";
                    $("#TransportDetails_TransportName").val('');
                }
                else {
                    document.getElementById("errorname").style.display = "none"
                    document.getElementById('errorname').innerHTML = "";
                }
            });
        });
    });
</script>
<!-- Start: Header -->
@Html.Partial("../Shared/Header")
<!-- End: Header -->
<!-- Start: Main -->
<section>
    <div class="mainwrapper">
        <!-- Start: Sidebar -->
        @Html.Partial("../Shared/LeftMenu")
        <audio id="audio" muted="true" preload="auto" style="display: none" controls="controls" autoplay="false">
            <source src="" type="audio/ogg" />
        </audio>
        <!-- End: Sidebar -->
        <!-- Start: Content -->
        @using (Html.BeginForm("Create", "Transport", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.TransportDetails.TransportCode)
            <div class="mainpanel">
                <div class="col-md-12 col-lg-12">

                    <br />

                    <h2>Transport Details</h2>
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group row">
                                        <label for="exampleInputname">Transport Name<label style="color: red">*</label></label>
                                        @Html.TextBoxFor(model => model.TransportDetails.TransportName, new { @placeholder = "Transport Name", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.TransportName, null, new { style = "color:red" , @id = "name" })
                                        <label id="errorname" class="error" style="display: none"></label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputTypeofname">Mode Of Transport<label style="color: red">*</label></label>
                                        @Html.DropDownListFor(model => model.TransportDetails.ModeOfTransport, new List<SelectListItem> { new SelectListItem { Text = "Road" }, new SelectListItem { Text = "Train" }, new SelectListItem { Text = "Air" } }, "Select Mode", new { id = "ddltypeofmode", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.ModeOfTransport, null, new { style = "color:red" , @id = "mode" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputCountry">Country</label>
                                        @Html.DropDownListFor(model => model.TransportDetails.Country, new SelectList(Model.TransportDetails.CountryList, "countryName", "countryName"), "Select Country", new { id = "ddlcountry", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.Country, null, new { style = "color:red" , @id = "country" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputState">State<label style="color: red">*</label></label>
                                        @Html.DropDownListFor(model => model.TransportDetails.State, new SelectList(Model.TransportDetails.StateList, "StateName", "StateName"), "Select State", new { id = "ddlstate", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.State, null, new { style = "color:red" , @id = "state" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputDistrict">District<label style="color: red">*</label></label>
                                        @Html.DropDownListFor(model => model.TransportDetails.District, Enumerable.Empty<SelectListItem>(), "Select District", new { id = "ddldistrict", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.District, null, new { style = "color:red" , @id = "district" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-3">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group row">
                                        <label for="exampleInputCity">City<label style="color: red">*</label></label>
                                        @Html.TextBoxFor(model => model.TransportDetails.City, new { @placeholder = "City", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.City, null, new { style = "color:red" , @id = "city" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputAddress">Address<label style="color: red">*</label></label>
                                        @Html.TextAreaFor(model => model.TransportDetails.Address, new { @placeholder = "Address", @class = "form-control", @rows = 1 })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.Address, null, new { style = "color:red" , @id = "address" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputPincode">Pincode</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.Pincode, new { @placeholder = "Pincode", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.Pincode, null, new { style = "color:red" , @id = "pincode" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputContact">Contact No. 1<label style="color: red">*</label></label>
                                        @Html.TextBoxFor(model => model.TransportDetails.ContactNo1, new { @placeholder = "Contact No. 1", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.ContactNo1, null, new { style = "color:red" , @id = "contact1" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputContact">Contact No. 2</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.ContactNo2, new { @placeholder = "Contact No. 2", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.ContactNo2, null, new { style = "color:red" , @id = "contact2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-3">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group row">
                                        <label for="exampleInputContact">Contact No. 3</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.ContactNo3, new { @placeholder = "Contact No 3", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.ContactNo3, null, new { style = "color:red" , @id = "contact3" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputEmail">Email</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.Email, new { @placeholder = "Email", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.Email, null, new { style = "color:red" , @id = "email"})
                                        <label id="errormsg" class="error" style="display: none"></label>
                                    </div>
                                    <div class=" form-group row">
                                        <label for="exampleInputWebsite">Website</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.Website, new { @placeholder = "Website", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.Website, null, new { style = "color:red" , @id = "website" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputSalesTax">Sales Tax No</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.STNo, new { @placeholder = "STNo", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.STNo, null, new { style = "color:red" , @id = "salestax" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputGST">GST</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.OtherTax, new { @placeholder = "GST", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.OtherTax, null, new { style = "color:red" })
                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-3 col-lg-3">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group row">
                                        <label for="exampleInputVAT">VAT No</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.VTNo, new { @placeholder = "VTNo", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.VTNo, null, new { style = "color:red" })
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputTDS">TDS</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.TDSNo, new { @placeholder = "TDSNo", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.TDSNo, null, new { style = "color:red" })
                                    </div>
                                    <div class=" form-group row">
                                        <label for="exampleInputPANNo">Pan No</label>
                                        @Html.TextBoxFor(model => model.TransportDetails.Pancard, new { @placeholder = "Pan No", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportDetails.Pancard)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr />

                        <div id="BankPartialView"></div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-lg-offset-4">
                            <input type="button" id="Add Another Bank" value="Add Another Bank" class="btn btn-link" style="color: dodgerblue; font-weight: bolder;" onclick="buttonclick()" />
                        </div>

                        <div class="col-md-offset-5 col-lg-offset-5">
                            <button type="submit" class="btn btn-success" id="Submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


<!-- End: Main -->




