@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "EditSubCategory";
}

<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {

        // Init Theme Core 	  
        Core.init();

        $("input").not($(":button")).keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields = $(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#DDLCatList").change(function () {
            var idmodel = $(this).val();
            if (idmodel == "") {
                document.getElementById("Searchdiv").style.display = "none";
                document.getElementById("SubCatView").style.display = "none";
            }
            else {
                document.getElementById("Searchdiv").style.display = "inline";
                document.getElementById("SubCatView").style.display = "inline";
                $.ajax({
                    url: '/Item/LoadSubCategories',
                    type: "GET",
                    data: { name: idmodel },
                    success: function (data) {

                        $("#SubCatView").html(data);
                    }
                });
            }
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbutton").click(function () {
            document.getElementById("Searchdiv").style.display = "inline";
            var idmodel = document.getElementById("searchtext").value;
            $.ajax({
                url: '/Item/SubCategoryList',
                type: "GET",
                data: { name: idmodel },
                success: function (data) {

                    $("#SubCatView").html(data);
                }
            });
        });
    });
</script>


<script type="text/javascript">
    function SubEditRow(id, bndry, count) {
        document.getElementById('LoadPartialView').style.display = "inline";
        document.getElementById('ShowSubCategory').style.display = "none";
        for (var i = 1; i <= bndry; i++) {
            SubCatEditId = "SubCategoryEditId" + i;
            LabSubEditId = "LableSubEditId" + i;
            rowid = "RowId" + i;
            if (document.getElementById(SubCatEditId) != null) {
                document.getElementById(SubCatEditId).style.display = "none";
                document.getElementById(LabSubEditId).style.display = "inline";
                document.getElementById(rowid).style.backgroundColor = "#F1DDE7";
                
            }

        }
        document.getElementById("DDLCatList").disabled = true;
        document.getElementById("searchbutton").disabled = true;
        document.getElementById("searchtext").disabled = true;
        RowId = "RowId" + count;
        document.getElementById(RowId).style.background = "lightgreen";
        

        $.ajax({
            url: '/Item/SubCategoryEditPartial',
            type: "GET",
            data: { ID: id },
            success: function (data) {

                $("#PartialView").html(data);

            }
        });
        document.getElementById('pagertextbox').disabled = true;
        document.getElementById('pagerdropdown').disabled = true;
        document.getElementById("pager").style.display = "none";
        $("#NumberOfRows").val(bndry);
        $("#SelectedRowValue").val(count)
    }
</script>



<script type="text/javascript">
    function EditSubCategory() {

        if ($("#ItemSubCategoryDetails_subCategoryName").val() == "") {
            return false;
        }
        else {

            //this code is used for show changes in list
            var count = document.getElementById("SelectedRowValue").value;
            var subcatname = "subcatname" + count;
            document.getElementById(subcatname).innerHTML = $("#ItemSubCategoryDetails_subCategoryName").val();

            //this code is used for to Show first lettr capital
            var txt = document.getElementById("ItemSubCategoryDetails_subCategoryName").value;
            txt = txt.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
            document.getElementById(subcatname).innerHTML = txt;
            document.getElementById("ItemSubCategoryDetails_subCategoryName").value = txt;

            var itmsubcategory = {
                subCategoryId: $("#ItemSubCategoryDetails_subCategoryId").val(),
                CategoryName: $("#ItemSubCategoryDetails_categoryName").val(),
                SubCategoryName: $("#ItemSubCategoryDetails_subCategoryName").val(),
                ItemSubCategoryCode: $("#ItemSubCategoryDetails_ItemSubCategoryCode").val(),
            };

            $.ajax({
                url: '/Item/SubCategoryEditPartial',
                contentType: "application/json;charset=utf-8",
                type: "POST",
                data: JSON.stringify(itmsubcategory),
                datatype: "json",
                success: function (data) {
                    document.getElementById('LoadPartialView').style.display = "none";
                    document.getElementById('ShowSubCategory').style.display = "inline";
                    $("#ShowSubCategory").html(data);
                }
            });
            document.getElementById("RowId" + count).style.background = "#F1DDE7";
            document.getElementById("DDLCatList").disabled = false;
            document.getElementById("searchbutton").disabled = false;
            document.getElementById("searchtext").disabled = false;
            document.getElementById("pager").style.display = "inline";
            document.getElementById('pagertextbox').disabled = false;
            document.getElementById('pagerdropdown').disabled = false;
        }
    }
</script>

<!-- Start: Header -->
@Html.Partial("../Shared/Header")
<!-- End: Header -->

<!-- Start: Main -->
<section>
    <div class="mainwrapper">
        <!-- Start: Sidebar -->
        @Html.Partial("../Shared/LeftMenu")
        <!-- End: Sidebar -->


        <!-- Start: Content -->

        @Html.ValidationSummary(true)

        <input type="hidden" id="NumberOfRows" name="NumberOfRows" />
        <input type="hidden" id="SelectedRowValue" />

        <div class="mainpanel">
            <div class="col-md-12 col-lg-12">
                
                <br />
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="form-group col-md-4 col-lg-4">
                            <div class="form-group col-md-11 col-lg-11">
                                <div class="row">
                                    <div class="row">
                                        <div class="row">
                                            <div class="form-group col-md-11 col-lg-11">
                                                <label>Category Name</label>
                                                @Html.DropDownListFor(model => model.ItemSubCategoryDetails.categoryName, new SelectList(Model.ItemCategoryList, "CategoryName", "CategoryName"), "Select", new { id = "DDLCatList", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row" id="Searchdiv" style="display: none">
                                            <div class="row">
                                                <div class="form-group col-md-12 col-lg-12">
                                                    @Html.Label("Search")
                                                    <div class="row">
                                                        <div class="form-group col-md-8 col-lg-8">
                                                            @Html.TextBox("search", ViewData.TemplateInfo.FormattedModelValue, new { placeholder = "Search", @class = "form-control", id = "searchtext" })
                                                        </div>
                                                        <button type="submit" id="searchbutton" class="btn btn-primary glyphicon glyphicon-search" style="width: 70px"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12 col-lg-12">
                                            <div class="form-group col-md-12 col-lg-12">
                                                <div class="row">
                                                    <div class="form-group col-md-12 col-lg-12">
                                                        <div id="SubCatView"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float: left; min-height: 650px; width: 1px; background-color: lightgrey;"></div>
                        </div>

                        <!--this div is used to display Right hand side partial view-->
                        <div class="form-group col-md-8 col-lg-8" id="LoadPartialView">
                            <div id="PartialView"></div>
                        </div>

                        <div class="form-group col-md-8 col-lg-8">
                            <div id="ShowSubCategory"></div>
                        </div>
                    </div>


                </div>
                <!--end of tile body-->
            </div>
            <!--end of countainer-->
        </div>
    </div>
</section>
<!-- End: Main -->