@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "LoadSubCategories";
}

<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
       .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
</script>

<div class="col-md-11 col-lg-11">

    <div class="row">
        <div class="row">
            <div class="row">
                <table class=" tablesorter table">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-lg-1">
                                <label style="color: royalblue;">Code</label></th>
                            <th class="col-md-6 col-lg-6">
                                <label style="color: royalblue;">SubCategories</label></th>
                            <th class="col-md-5 col-lg-5">
                                <label style="color: royalblue">Options</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.ItemSubCategoryList != null && Model.ItemSubCategoryList.Any())
                            {

                                int count = 1;
                                int bndry = Model.ItemSubCategoryList.Count();
                                string type = TempData["ViewType"].ToString();
                                TempData["ViewType"] = type;
                                if (type == "Edit")
                                {
                                    string LabSubEditId = string.Empty;
                                    string rowid = string.Empty;
                                    string subcatname = string.Empty;
                                    string SubCatEditId = string.Empty;
                                    foreach (var data in Model.ItemSubCategoryList)
                                    {
                                        SubCatEditId = "SubCategoryEditId" + count;
                                        LabSubEditId = "LableSubEditId" + count;
                                        rowid = "RowId" + count;
                                        subcatname = "subcatname" + count;
                                
                            <tr id="@rowid">
                                <td class="col-md-1 col-lg-1">
                                    @Html.DisplayFor(modeldata => data.ItemSubCategoryCode)
                                </td>
                                <td class="col-md-6 col-lg-6">
                                    @{var subcategory = data.subCategoryName;}
                                    <label id="@subcatname" style="font-weight:normal">@subcategory</label>
                                </td>

                                <td class="col-md-5 col-lg-5">
                                    <a href="#" onclick="SubEditRow(@data.subCategoryId,@bndry,@count)" id="@SubCatEditId">Edit</a>
                                    <label id="@LabSubEditId" style="display:none; font-weight:normal; color:dodgerblue">Edit</label>
                                </td>
                            </tr>
                                      count = count + 1;
                                    }
                                }
                                else
                                {
                                    string LabSubDeleteId = string.Empty;
                                    string rowid = string.Empty;
                                    string subcatname = string.Empty;
                                    string SubCatDeleteId = string.Empty;
                                    foreach (var data in Model.ItemSubCategoryList)
                                    {
                                        SubCatDeleteId = "SubCategoryDeleteId" + count;
                                        LabSubDeleteId = "LableSubDeleteId" + count;
                                        rowid = "RowId" + count;
                                        subcatname = "subcatname" + count;
                                
                            <tr id="@rowid">
                                <td class="col-md-1 col-lg-1">
                                    @Html.DisplayFor(modeldata => data.ItemSubCategoryCode)
                                </td>
                                <td class="col-md-6 col-lg-6">
                                    @{var subcategory = data.subCategoryName;}
                                    <label id="@subcatname" style="font-weight:normal">@subcategory</label>
                                </td>

                                <td class="col-md-5 col-lg-5">
                                    <a href="#" onclick="SubDeleteRow(@data.subCategoryId,@bndry,@count)" id="@SubCatDeleteId">Delete</a>
                                    <label id="@LabSubDeleteId" style="display:none; font-weight:normal; color:dodgerblue">Delete</label>
                                </td>
                            </tr>
                                      count = count + 1;
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
                <br />
                <div id="pager">
                    <form>
                        <img src="../Images/first.png" class="first" />
                        <img src="../Images/prev.png" class="prev" />
                        <input type="text" class="pagedisplay" id="pagertextbox" style="width: 170px" />
                        <img src="../Images/next.png" class="next" />
                        <img src="../Images/last.png" class="last" />
                        <select class="pagesize" id="pagerdropdown">
                            <option selected="selected" value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
