@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "DeletePartial";
}

@Html.HiddenFor(model => model.SupplierDetails.SupplierId)
@Html.HiddenFor(model => model.SupplierDetails.SupplierCode)
@Html.HiddenFor(model => model.SupplierDetails.SupplierName)
@Html.HiddenFor(model => model.SupplierDetails.SupplierType)
@Html.HiddenFor(model => model.SupplierDetails.Country)
@Html.HiddenFor(model => model.SupplierDetails.State)
@Html.HiddenFor(model => model.SupplierDetails.district)
@Html.HiddenFor(model => model.SupplierDetails.City)
@Html.HiddenFor(model => model.SupplierDetails.Address)
@Html.HiddenFor(model => model.SupplierDetails.Email)
@Html.HiddenFor(model => model.SupplierDetails.Website)
@Html.HiddenFor(model => model.SupplierDetails.Pincode)
@Html.HiddenFor(model => model.SupplierDetails.ContactNo1)
@Html.HiddenFor(model => model.SupplierDetails.ContactNo2)
@Html.HiddenFor(model => model.SupplierDetails.ContactNo3)
@Html.HiddenFor(model => model.SupplierDetails.STNo)
@Html.HiddenFor(model => model.SupplierDetails.VTNo)
@Html.HiddenFor(model => model.SupplierDetails.OtherTax)
@Html.HiddenFor(model => model.SupplierDetails.TDSNo)
@Html.HiddenFor(model => model.SupplierDetails.pancard)
@Html.HiddenFor(model => model.SupplierDetails.ShortCode)
@Html.HiddenFor(model => model.SupplierDetails.checkState)
@Html.HiddenFor(model => model.SupplierDetails.Registered)
<div>
    <div class="row">
        <div id="title2" style="position: absolute; font-family: Arial; font-size: 16px; text-decoration: underline; text-align: left;">
            <label for="exampleInputname">
                <h2>Supplier Details</h2>
            </label>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="col-md-12 col-lg-12">
                <div class="form-group row">
                    <label for="exampleSupplierCode">Supplier Code</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.SupplierCode)
                </div>
                <div class="form-group row">
                    <label for="exampleInputname">Supplier Name</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.SupplierName)
                </div>
                <div class="form-group row">
                    <label for="exampleInputTypeofname">Items Providing</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.SupplierType)
                </div>
                <div class="form-group row">
                    <label for="exampleInputCountry">Country</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.Country)
                </div>
                <div class="form-group row">
                    <label for="exampleInputState">State</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.State)
                </div>
                <div class="form-group row">
                    <label for="exampleInputDistrict">District</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.district)
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3">
            <div class="col-md-12 col-lg-12">
                <div class="form-group row">
                    <label for="exampleInputCity">City</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.City)
                </div>
                <div class="form-group row">
                    <label for="exampleInputAddress">Address</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.Address)
                </div>
                <div class="form-group row">
                    <label for="exampleInputPincode">Pincode</label><br />
                    @{
                        if (Model.SupplierDetails.Pincode != null)
                        { 
                        @Html.DisplayFor(model => model.SupplierDetails.Pincode)        
                        }
                        else
                        {
                        <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputContact">Contact No. 1</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.ContactNo1)
                </div>
                <div class="form-group row">
                    <label for="exampleInputContact">Contact No. 2</label><br />
                    @{
                        var idmodel = Model.SupplierDetails.ContactNo2;
                        if (idmodel != null)
                        {
                        @Html.DisplayFor(model => model.SupplierDetails.ContactNo2)
                        }
                        else
                        {
                        <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputContact">Contact No. 3</label><br />
                    @{
                        var modeldata = Model.SupplierDetails.ContactNo3;
                        if (modeldata != null)
                        {
                        @Html.DisplayFor(model => model.SupplierDetails.ContactNo3)
                        }
                        else
                        {
                        <label>----</label>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3">
            <div class="col-md-12 col-lg-12">

                <div class="form-group row">
                    <label for="exampleInputEmail">Email</label><br />
                    @{
                        if (Model.SupplierDetails.Email != null)
                        { 
                        @Html.DisplayFor(model => model.SupplierDetails.Email)        
                        }
                        else
                        {
                        <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputWebsite">Website</label><br />
                    @{
                        if (Model.SupplierDetails.Website != null)
                        { 
                        @Html.DisplayFor(model => model.SupplierDetails.Website)        
                        }
                        else
                        {
                        <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputSalesTax">Sales Tax No</label><br />
                    @{
                        if (Model.SupplierDetails.STNo != null)
                        { 
                            @Html.DisplayFor(model => model.SupplierDetails.STNo)        
                        }
                        else
                        {
                           <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputOtherTax">Other Tax</label><br />
                    @{
                        var othertax = Model.SupplierDetails.OtherTax;
                        if (othertax != null && othertax != "")
                        {
                            @Html.DisplayFor(model => model.SupplierDetails.OtherTax)
                        }
                        else
                        {
                            <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputVAT">VAT No</label><br />
                    @{
                        if (Model.SupplierDetails.VTNo != null)
                        { 
                            @Html.DisplayFor(model => model.SupplierDetails.VTNo)        
                        }
                        else
                        {
                           <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputTDS">TDS</label><br />
                    @{
                        if (Model.SupplierDetails.TDSNo != null)
                        { 
                            @Html.DisplayFor(model => model.SupplierDetails.TDSNo)        
                        }
                        else
                        {
                           <label>----</label>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3">
            <div class="col-md-12 col-lg-12">
                <div class="form-group row">
                    <label for="exampleInputPANNo">Pan No</label><br />
                    @{
                        if (Model.SupplierDetails.pancard != null)
                        { 
                            @Html.DisplayFor(model => model.SupplierDetails.pancard)        
                        }
                        else
                        {
                           <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputPANNo">Short Code</label><br />
                    @{
                        if (Model.SupplierDetails.ShortCode != null)
                        { 
                            @Html.DisplayFor(model => model.SupplierDetails.ShortCode)        
                        }
                        else
                        {
                           <label>----</label>
                        }
                    }
                </div>
                <div class="form-group row">
                    <label for="exampleInputPANNo">Dealer</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.checkState)
                </div>
                <div class="form-group row">
                    <label for="exampleInputPANNo">Registered</label><br />
                    @Html.DisplayFor(model => model.SupplierDetails.Registered)
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model.SupplierBankDetailList != null && Model.SupplierBankDetailList.Any())
        {
        <hr />       
        <div class="row">
            <div id="title1" style="position: absolute; font-family: Arial; font-size: 16px; text-decoration: underline; text-align: left;">
                <label for="exampleInputname">Bank Details</label>
            </div>
            <br />
            <br />
        </div>

        <div class="form-group row">
            <div class="col-md-12 col-lg-12">
                <table class="table-bordered col-md-12 col-lg-12" style="border-width: medium; border-color: grey;">
                    <tr>
                        <th class="col-md-2 col-lg-2">Bank Name
                        </th>
                        <th class="col-md-2 col-lg-2">Branch
                        </th>
                        <th class="col-md-2 col-lg-2">Bank IFSCNo
                        </th>
                        <th class="col-md-2 col-lg-2">Bank Address
                        </th>
                        <th class="col-md-2 col-lg-2">Account Type
                        </th>
                        <th class="col-md-2 col-lg-2">Account Number
                        </th>
                        <th class="col-md-2 col-lg-2">MICR Code
                        </th>
                    </tr>

                    @foreach (var bankdata in Model.SupplierBankDetailList)
                    {
                        <tr>
                            <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankName)</td>
                            <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.Branch)</td>
                            <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankIFSCNo)</td>
                            <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankAddress)</td>
                            <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.AccountType)</td>
                            <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.AccountNo)</td>
                            <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.MICRCode)</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        }
    }
    <div class="col-lg-offset-5">
        <button type="button" class="btn btn-success" id="Delete" onclick="DeleteSupplierData()">Delete</button>
    </div>
</div>
