@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "DeletePartial";
}


@Html.HiddenFor(model => model.ClientDetails.ClientId)
@Html.HiddenFor(model => model.ClientDetails.ClientCode)
@Html.HiddenFor(model => model.ClientDetails.State)
@Html.HiddenFor(model => model.ClientDetails.Pincode)
@Html.HiddenFor(model => model.ClientDetails.STNo)
@Html.HiddenFor(model => model.ClientDetails.ClientName)
@Html.HiddenFor(model => model.ClientDetails.District)
@Html.HiddenFor(model => model.ClientDetails.ContactNo1)
@Html.HiddenFor(model => model.ClientDetails.ContactNo2)
@Html.HiddenFor(model => model.ClientDetails.ContactNo3)
@Html.HiddenFor(model => model.ClientDetails.VTNo)
@Html.HiddenFor(model => model.ClientDetails.TypeOfMembershipCard)
@Html.HiddenFor(model => model.ClientDetails.City)
@Html.HiddenFor(model => model.ClientDetails.Email)
@Html.HiddenFor(model => model.ClientDetails.TDSNo)
@Html.HiddenFor(model => model.ClientDetails.OtherTax)
@Html.HiddenFor(model => model.ClientDetails.Country)
@Html.HiddenFor(model => model.ClientDetails.Address)
@Html.HiddenFor(model => model.ClientDetails.Website)
@Html.HiddenFor(model => model.ClientDetails.PanCard)
@Html.HiddenFor(model => model.ClientDetails.NameOnCard)
@Html.HiddenFor(model => model.ClientDetails.CardNumber)
@Html.HiddenFor(model => model.ClientDetails.IssueDate)
@Html.HiddenFor(model => model.ClientDetails.FormType)
@Html.HiddenFor(model => model.ClientDetails.ClientType)
@Html.HiddenFor(model => model.ClientDetails.ConsumeResell)

<div class="row">
    <div id="title2" style="position: absolute; font-family: Arial; font-size: 16px; text-align: left;">
        <h2>Client Details</h2>
    </div>
    <br />
    <br />
    <br />
</div>
<div class="row">
    <div class="col-md-3 col-lg-3">
        <div class="col-md-12 col-lg-12">
            <div class="form-group row">
                <label for="exampleClientCode">Client Code</label><br />
                @Html.DisplayFor(model => model.ClientDetails.ClientCode)
            </div>
            <div class="form-group row">
                <label for="exampleInputname">Client Name</label><br />
                @Html.DisplayFor(model => model.ClientDetails.ClientName)
            </div>
            <div class="form-group row">
                <label for="exampleInputTypeofname">Type Of Membership</label><br />
                @Html.DisplayFor(model => model.ClientDetails.TypeOfMembershipCard)
            </div>

            <div class="form-group row">
                <label for="exampleInputCountry">Country</label><br />
                @Html.DisplayFor(model => model.ClientDetails.Country)
            </div>
            <div class="form-group row">
                <label for="exampleInputState">State</label><br />
                @Html.DisplayFor(model => model.ClientDetails.State)
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3">
        <div class="col-md-12 col-lg-12">
            <div class="form-group row">
                <label for="exampleInputDistrict">District</label><br />
                @Html.DisplayFor(model => model.ClientDetails.District)
            </div>
            <div class="form-group row">
                <label for="exampleInputCity">City</label><br />
                @Html.DisplayFor(model => model.ClientDetails.City)
            </div>
            <div class="form-group row">
                <label for="exampleInputAddress">Address</label><br />
                @Html.DisplayFor(model => model.ClientDetails.Address)
            </div>
            <div class="form-group row">
                <label for="exampleInputPincode">Pincode</label><br />
                @Html.DisplayFor(model => model.ClientDetails.Pincode)
            </div>
            <div class="form-group row">
                <label for="exampleInputContact">Contact No. 1</label><br />
                @Html.DisplayFor(model => model.ClientDetails.ContactNo1)
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3">
        <div class="col-md-12 col-lg-12">
            <div class="form-group row">
                <label for="exampleInputContact">Contact No. 2</label><br />
                @{
                    var idmodel = Model.ClientDetails.ContactNo2;
                    if (idmodel != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.ContactNo2)
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>
            <div class="form-group row">
                <label for="exampleInputContact">Contact No. 3</label><br />
                @{
                    var modeldata = Model.ClientDetails.ContactNo3;
                    if (modeldata != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.ContactNo3)
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>
            <div class="form-group row">
                <label for="exampleInputEmail">Email</label><br />
                @{
                    if (Model.ClientDetails.Email != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.Email)    
                    }
                    else
                    {
                    <label>----</label>
                    }
                }

            </div>
            <div class="form-group row">
                <label for="exampleInputWebsite">Website</label><br />
                @{
                    if (Model.ClientDetails.Website != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.Website)    
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>
            <div class="form-group row">
                <label for="exampleInputSalesTax">Sales Tax No</label><br />
                @{
                    if (Model.ClientDetails.STNo != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.STNo)    
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>

        </div>
    </div>

    <div class="col-md-3 col-lg-3">
        <div class="col-md-12 col-lg-12">
            <div class="form-group row">
                <label for="exampleInputOtherTax">Other Tax</label><br />
                @{
                    var othertax = Model.ClientDetails.OtherTax;
                    if (othertax != null && othertax != "")
                    {
                    @Html.DisplayFor(model => model.ClientDetails.OtherTax)
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>
            <div class="form-group row">
                <label for="exampleInputVAT">VAT No</label><br />
                @{
                    if (Model.ClientDetails.VTNo != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.VTNo)    
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>
            <div class="form-group row">
                <label for="exampleInputTDS">TDS</label><br />
                @{
                    if (Model.ClientDetails.TDSNo != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.TDSNo)    
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>
            <div class="form-group row">
                <label for="exampleInputPANNo">Pan No</label><br />
                @{
                    if (Model.ClientDetails.PanCard != null)
                    {
                    @Html.DisplayFor(model => model.ClientDetails.PanCard)    
                    }
                    else
                    {
                    <label>----</label>
                    }
                }
            </div>
            <div class="form-group row">
                <label for="exampleInputSalesTax">Client Type</label><br />
                @Html.DisplayFor(model => model.ClientDetails.ClientType)<br />
                @Html.DisplayFor(model => model.ClientDetails.ConsumeResell)
            </div>
            @{
                var formtype = Model.ClientDetails.FormType;
                if (formtype != null && formtype != "")
                {
                <div class="form-group row">
                    <label for="exampleInputFormType">Form Type</label><br />
                    @Html.DisplayFor(model => model.ClientDetails.FormType)
                </div>
                }
            }
        </div>
    </div>
</div>
@{
    if (Model.ClientBankDetailList != null && Model.ClientBankDetailList.Any())
    {
    <hr />
    <div class="row">
        <div id="title1" style="position: absolute; font-family: Arial; font-size: 16px; text-decoration: underline; text-align: left;">
            <label for="exampleInputname">Bank Details</label>
        </div>
        <br />
        <br />
    </div>

    <div class="form-group row">
        <div class="col-md-12 col-lg-12">
            <table class="table-bordered col-md-12 col-lg-12" style="border-width: medium; border-color: grey;">
                <tr>
                    <th class="col-md-2 col-lg-2">Bank Name
                    </th>
                    <th class="col-md-2 col-lg-2">Branch
                    </th>
                    <th class="col-md-2 col-lg-2">Bank IFSCNo
                    </th>
                    <th class="col-md-2 col-lg-2">Bank Address
                    </th>
                    <th class="col-md-2 col-lg-2">Account Type
                    </th>
                    <th class="col-md-2 col-lg-2">Account Number
                    </th>
                    <th class="col-md-2 col-lg-2">MICR Code
                    </th>
                </tr>

                @foreach (var bankdata in Model.ClientBankDetailList)
                {
                    <tr>
                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankName)</td>
                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.Branch)</td>
                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankIFSCNo)</td>
                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankAddress)</td>
                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.AccountType)</td>
                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.AccountNo)</td>
                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.MICRCode)</td>
                    </tr>  
                }
            </table>
        </div>
    </div>                    
    }
}
<div class="col-lg-offset-5">
    <button type="submit" class="btn btn-success" id="Delete" onclick="DeleteClientData()">Delete</button>
</div>



