@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "PrintDeliveryChallanWithMRP";
}
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />

<script type="text/javascript">
    $(function () {
        document.getElementById("Inwords").innerHTML = NumberToWords();
    });
</script>
<script type="text/javascript">
    function addCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }

    function removeCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, '');
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }

    function NumberToWords() {
        var junkVal = (+removeCommas(document.getElementById('Grand_Total').innerHTML));
        junkVal = Math.floor(junkVal);
        var obStr = new String(junkVal);
        numReversed = obStr.split("");
        actnumber = numReversed.reverse();
        if (Number(junkVal) > 0) {
            //do nothing
        }
        else if (Number(junkVal) == 0) {
            //document.getElementById('container').innerHTML = obStr + '' + 'Rupees Zero Only';
            return 'Rupees Zero Only';
        }
        else {
            alert('wrong Number cannot be converted');
            return false;
        }

        if (actnumber.length > 9) {
            alert('Oops!!!! the Number is too big to covertes');
            return false;
        }

        var iWords = ["Zero", " One", " Two", " Three", " Four", " Five", " Six", " Seven", " Eight", " Nine"];
        var ePlace = ['Ten', ' Eleven', ' Twelve', ' Thirteen', ' Fourteen', ' Fifteen', ' Sixteen', ' Seventeen', ' Eighteen', ' Nineteen'];
        var tensPlace = ['dummy', ' Ten', ' Twenty', ' Thirty', ' Forty', ' Fifty', ' Sixty', ' Seventy', ' Eighty', ' Ninety'];

        var iWordsLength = numReversed.length;
        var totalWords = "";
        var inWords = new Array();
        var finalWord = "";
        j = 0;
        for (i = 0; i < iWordsLength; i++) {
            switch (i) {
                case 0:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    inWords[j] = inWords[j] + ' Only';
                    break;
                case 1:
                    tens_complication();
                    break;
                case 2:
                    if (actnumber[i] == 0) {
                        inWords[j] = '';
                    }
                    else if (actnumber[i - 1] != 0 && actnumber[i - 2] != 0) {
                        inWords[j] = iWords[actnumber[i]] + ' Hundred and';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]] + ' Hundred';
                    }
                    break;
                case 3:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    if (actnumber[i + 1] != 0 || actnumber[i] > 0) {
                        inWords[j] = inWords[j] + " Thousand";
                    }
                    break;
                case 4:
                    tens_complication();
                    break;
                case 5:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    if (actnumber[i + 1] != 0 || actnumber[i] > 0) {
                        inWords[j] = inWords[j] + " Lakh";
                    }
                    break;
                case 6:
                    tens_complication();
                    break;
                case 7:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    inWords[j] = inWords[j] + " Crore";
                    break;
                case 8:
                    tens_complication();
                    break;
                default:
                    break;
            }
            j++;
        }

        function tens_complication() {
            if (actnumber[i] == 0) {
                inWords[j] = '';
            }
            else if (actnumber[i] == 1) {
                inWords[j] = ePlace[actnumber[i - 1]];
            }
            else {
                inWords[j] = tensPlace[actnumber[i]];
            }
        }
        inWords.reverse();
        for (i = 0; i < inWords.length; i++) {
            finalWord += inWords[i];
        }
        // obStr + '  '+ finalWord;
        return finalWord;
    }
</script>

<script type="text/javascript">
    $(function () {
        var temp = $("#date").text();
        var dat = new Date(temp);
        var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var data = dat.getDate() + "/" + month[dat.getMonth()] + "/" + dat.getFullYear();
        document.getElementById('date').innerHTML = data;
    });
</script>


<script type="text/javascript">
    $(function () {
        var count = +document.getElementById("ItemCount").value;
        var TotalAmount = 0;
        var TotalDiscount = 0;
        for (i = 1; i < count; i++) {
            var amount = "ItemAmount" + i;
            var discountrps = "disrps" + i;
            var amountval = +removeCommas(document.getElementById(amount).innerHTML);
            TotalAmount = TotalAmount + amountval;
            TotalDiscount = TotalDiscount + +removeCommas(document.getElementById(discountrps).innerHTML);
        }
        document.getElementById("TotalDiscount").innerHTML = "<i class='fa fa-inr'></i>" + TotalDiscount.toFixed(2);
        document.getElementById("TotalAmount").innerHTML = "<i class='fa fa-inr'></i>" + TotalAmount.toFixed(2);
        var PackandForwd = +removeCommas(document.getElementById("Grand_Total").innerHTML) - (+removeCommas(document.getElementById("TotalAmount").innerHTML));
        document.getElementById("PackAndForwd").innerHTML = "<i class='fa fa-inr'></i>" + addCommas(PackandForwd.toFixed(2));
    });
</script>

<table style="border: 1px double; width: 100%;">
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <img src="~/Images/retail-logo.png" class="img-responsive" alt="logo" style="max-width: 100px;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <label><b>A To Z DADAR T.T.</b></label><br />
                        <label>Shopping Centre, Dadar T.T., Dadar East,Mumbai - 400014</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: center">
                        <label style="font-size: x-large;"><b>Delivery Challan</b></label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="border: 1px double; width: 100%">
                <tr>
                    <td style="width: 34%; border-right: 1px solid;">
                        <label style="font-size: larger; font-weight: bold">Client Details:</label><br />
                        <label><b>Name: &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.ClientName)<br />
                        <label><b>Contact Number: &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.ClientContactNo)<br />
                        <label><b>Email : &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.ClientEmail)<br />
                        <label><b>State : &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.ClientState)<br />
                        <label><b>Type : &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.ClientType) & @Html.DisplayFor(model => model.DeliveryChallanDetails.ConsumeResell)<br />
                        @{
                            if (Model.DeliveryChallanDetails.FormType != "" && Model.DeliveryChallanDetails.FormType != null)
                            {
                            <label><b>Form Type : &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.FormType)<br />
                            }
                        }



                    </td>

                    <td style="width: 32%; border-right: 1px solid;">
                        <table class="" style="width: 100%; top: 0px;">
                            <tr>
                                <td>
                                    <label style="font-size: large; font-weight: bold">Transport Details:</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Name: &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.TransportName)</td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Mode: &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.TransportMode)</td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Contact No: &nbsp</b></label>@Html.DisplayFor(model => model.DeliveryChallanDetails.TransportContactNo)</td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="height: 20px"></div>
                            </tr>
                        </table>
                    </td>

                    <td style="width: 32%; position: absolute; margin-top: 0px;">
                        <table class="" style="width: 100%; top: 0px;">
                            <tr>
                                <td><b>Date: &nbsp</b></td>
                                <td>
                                    <label id="date" style="font-weight: normal">@Html.DisplayFor(model => model.DeliveryChallanDetails.ChallanDate)</label>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Challan no: &nbsp</b></td>
                                <td>
                                    <label style="font-weight: normal">@Html.DisplayFor(model => model.DeliveryChallanDetails.ChallanNo)</label>
                                </td>
                            </tr>
                            <tr>
                                <td><b>L.R.No.: &nbsp</b></td>
                                <td>
                                    <label style="font-weight: normal">@Html.DisplayFor(model => model.DeliveryChallanDetails.LrNo)</label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td>
            <div style="height: 15px"></div>
        </td>
    </tr>

    <tr>
        <td>
            <label style="font-size: large"><b>Item Details</b></label>
            <div class="form-group row">
                <table border="1" style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align: center">
                                <label>S.No.</label></th>
                            <th style="text-align: center">
                                <label>Item</label></th>
                            <th style="text-align: center">
                                <label>Description</label></th>
                            <th style="text-align: center">
                                <label>Color</label></th>
                            <th style="text-align: center">
                                <label>Material</label></th>
                            <th style="text-align: center">
                                <label>Unit</label></th>
                            <th style="text-align: center">
                                <label>Quantity</label></th>
                            <th style="text-align: center">
                                <label>
                                    Rate<br />
                                    (<i class="fa fa-rupee"></i>)</label></th>
                            <th style="text-align: center">
                                <label>
                                    Disc<br />
                                    (%)</label></th>
                            <th style="text-align: center">
                                <label>
                                    Disc<br />
                                    (<i class="fa fa-rupee"></i>)</label></th>
                            <th style="text-align: center">
                                <label>
                                    Amount<br />
                                    (<i class="fa fa-rupee"></i>)</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.DeliveryChallanItemList != null && Model.DeliveryChallanItemList.Any())
                            {
                                int count = 1;
                                foreach (var data in Model.DeliveryChallanItemList)
                                {
                                    string discountrps = "disrps" + count;
                                    var itemamount = "ItemAmount" + count;
                                    var rt = Convert.ToDouble(@data.MRP);
                                    var rate = rt.ToString("#,###.00##");
                                    var amt = Convert.ToDouble(data.MRP * Convert.ToDouble(data.Quantity)).ToString("#,###.00##");
                                    var discountonmrp = (data.MRP * Convert.ToDouble(data.Quantity)) * data.DiscountPercent / 100;
                                    amt = Convert.ToDouble(data.MRP * Convert.ToDouble(data.Quantity) - discountonmrp).ToString("#,###.00##");
                            <tr>
                                <td>
                                    <label style="font-weight: normal">&nbsp;@count</label>
                                </td>
                                <td style="text-align: left">
                                    <label style="font-weight: normal">&nbsp;@data.ItemName</label>
                                </td>
                                <td style="text-align: left">
                                    <label style="font-weight: normal">&nbsp;@data.Description</label>
                                </td>
                                <td style="text-align: left">
                                    <label style="font-weight: normal">&nbsp;@data.Color</label>
                                </td>
                                <td style="text-align: left">
                                    <label style="font-weight: normal">&nbsp;@data.Material</label>
                                </td>
                                <td style="text-align: left">
                                    <label style="font-weight: normal">&nbsp;@data.Unit</label>
                                </td>
                                <td style="text-align: right">
                                    <label style="font-weight: normal">@data.Quantity&nbsp;</label>
                                </td>
                                <td style="text-align: right">
                                    <label style="font-weight: normal">@rate&nbsp;</label>
                                </td>
                                <td style="text-align: right">
                                    <label style="font-weight: normal">@data.DiscountPercent&nbsp;</label>
                                </td>
                                <td style="text-align: right">
                                    <label style="font-weight: normal" id="@discountrps">@discountonmrp&nbsp;</label>
                                </td>
                                <td style="text-align: right">
                                    <label style="font-weight: normal" id="@itemamount">@amt&nbsp;</label>
                                </td>
                            </tr>
                                    count++;
                                }
                            <input type="hidden" id="ItemCount" name="ItemCount" value="@count"/>
                            }
                        }

                    </tbody>
                </table>

                @{
                    var totalamount = Convert.ToDouble(Model.DeliveryChallanDetails.TotalAmount).ToString("#,###.00##");
                    var totaldiscount = Convert.ToDouble(Model.DeliveryChallanDetails.TotalDiscount).ToString("#,###.00##");
                    var packandforwd = Convert.ToDouble(Model.DeliveryChallanDetails.PackAndForwd).ToString("#,###.00##");
                    var ttltaxamt = Convert.ToDouble(Model.DeliveryChallanDetails.TotalTaxAmount).ToString("#,###.00##");
                    var grandtotal = Convert.ToDouble(Model.DeliveryChallanDetails.GrandTotal).ToString("#,###.00##");
                }
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 40%">
                        <table style="float: left">
                            <tr>
                                <td style="float: left">
                                    <label style="font-size: 19px"><b>Total Discount : &nbsp</b></label></td>
                                <td style="float: left">
                                    <span style="font-size: 20px; font-weight: bold" id="TotalDiscount"><i class="fa fa-inr"></i>@totaldiscount</span></td>
                            </tr>
                            <tr style="height: 75px"></tr>
                        </table>
                    </td>
                    <td style="width: 60%">
                        <table style="float: right">
                            <tr>
                                <td style="text-align: right;">
                                    <label style="font-size: 19px"><b>Total Amount : &nbsp</b></label></td>
                                <td style="float: right"><span style="font-size: 20px" id="TotalAmount"><i class="fa fa-inr"></i>@totalamount</span></td>
                            </tr>

                            <tr>
                                <td style="text-align: right">
                                    <label style="font-size: 19px"><b>Packing And Forwarding(Inc. Taxes) : &nbsp</b></label></td>
                                <td style="float: right"><span style="font-size: 20px" id="PackAndForwd"><i class="fa fa-inr"></i>@packandforwd</span></td>
                            </tr>

                            <tr>
                                <td style="text-align: right">
                                    <label style="font-size: 19px"><b>Grand Total : &nbsp</b></label></td>
                                <td style="float: right"><span id="Grand_Total" style="font-size: 20px"><i class="fa fa-inr"></i>@grandtotal</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <label style="font-size: 19px; width: 10px"><b>&nbsp;In Words:</b></label>
            &nbsp;&nbsp;<label id="Inwords" style="font-size: 18px"><b></b></label>

        </td>
    </tr>


    <tr>
        <td>
            <div style="height: 10px"></div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="background-color: GrayText; width: 100%; height: 1px"></div>
            <br />
            <div style="float: right; text-align: right">
                <label style="font-size: 17px; font-weight: bold; margin-right: 10px">Prepared By,</label><br />
                <div style="margin-right: 10px">@Html.DisplayFor(model => model.DeliveryChallanDetails.PreparedBy)</div>
                <br />
            </div>
        </td>
    </tr>
</table>

