@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "ClientBankDetails";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />


<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>

<label style="font-size: 16px;color:red">Client Bank Details</label>
<br />

@{ 
    if (Model.ClientBankDetailList.Any() && Model.ClientBankDetailList.Count() != 0)
    {
    <table class="tablesorter table" style="border-color: #d2d2d2; border: outset">
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Code</th>
                <th>Name</th>
                <th>Branch</th>
                <th>IFSC</th>
                <th>Account No</th>
                <th>Account Type</th>
            </tr>
        </thead>
        <tbody>
            @{
        int rowid = 1;
            }
            @foreach (var data in Model.ClientBankDetailList)
            {
                <tr>
                    <td>@rowid</td>
                    <td>@data.ClientCode</td>
                    <td>@data.BankName</td>
                    <td>@data.Branch</td>
                    <td>@data.BankIFSCNo</td>
                    <td>@data.AccountNo</td>
                    <td>@data.AccountType</td>
                    @{
                rowid += 1;
                    }
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <div style="height:15px"></div>
        <label style="font-size:18px;color:red">No Record Found..</label>
    }
}