@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "GetInwardToGodownDetailsByDate";
}

<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
       .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
</script>

<script type="text/javascript">
    function OpenInwardDetails(Iid) {
        $.getJSON("/Inward/EncodeInwardId", { id: Iid },
        function (data) {
            window.open("/Inward/PrintInwardFromStockDistribution?id=" + data, "_target", "width=770,height=842,top=100px,left=300px");
        });
    }
</script>

@if (Model.InwardFromStockDistributionList != null && Model.InwardFromStockDistributionList.Any())
{
    <table class="tablesorter table" style="border-color: #d2d2d2; border: outset">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Date</th>
                <th>Inward No.</th>
                <th>Godown Name</th>
                <th>Shop Name</th>
                <th>Emp Name</th>
                <th>Emp Email</th>
            </tr>
        </thead>
        <tbody>
            @{
    int rowid = 1;
            }
            @foreach (var data in Model.InwardFromStockDistributionList)
            {
                <tr>
                    <td>@rowid</td>
                    <td>@data.InwardDate</td>
                    <td><a onclick="OpenInwardDetails(@data.InwardId)" style="height:100px; width:300px; ">@data.InwardNo</a></td>
                    <td>@data.GodownName</td>
                    <td>@data.ShopName</td>
                    <td>@data.EmployeeName</td>
                    <td>@data.EmployeeEmail</td>
                    @{
                rowid += 1;
                    }
                </tr>
            }
        </tbody>
    </table>
    <script>
        document.getElementById("printbtn").style.display = 'inline';
        document.getElementById("pager").style.display = 'inline';
    </script>
}
else
{
    <label style="color: red; text-align: center; font-weight: bolder; width: 100%">Record Not Found..</label>
    <script>
        document.getElementById("printbtn").style.display = 'none';
        document.getElementById("pager").style.display = 'none';
    </script>
}
<div id="pager" style="display: none; text-align: center; width: 100px">
    <form>
        <img src="../Images/first.png" class="first" />
        <img src="../Images/prev.png" class="prev" />
        <input type="text" class="pagedisplay" id="pagertextbox" style="width: 170px" />
        <img src="../Images/next.png" class="next" />
        <img src="../Images/last.png" class="last" />
        <select class="pagesize" id="pagerdropdown">
            <option selected="selected" value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </form>
</div>


