@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "GetPurchaseOrderDetailsBySupplier";
}

<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
       .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
</script>

<script type="text/javascript">
    function OpenPODetails(POId) {
        $.getJSON("/PurchaseOrder/EncodePoId", { id: POId },
        function (data) {
            window.open("/PurchaseOrder/PrintPurchaseOrder?id=" + data, "_target", "width=790,height=842,top=100px,left=300px");
        });
    }
</script>

@if (Model.PurchaseOrderList != null && Model.PurchaseOrderList.Any())
{
    <table class="tablesorter table" style="border-color: #d2d2d2; border: outset">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>PO No.</th>
                <th>Suppiler Name</th>
                <th>Supplier Email</th>
                <th>Delivery Date</th>
                <th>Delivery At</th>
                <th style="text-align: right">Amount</th>
            </tr>
        </thead>
        <tbody>
            @{
    int rowid = 1;
            }
            @foreach (var data in Model.PurchaseOrderList)
            {
                <tr>
                    @{
                double amt = Convert.ToDouble(@data.GrandTotal);
                var amount = amt.ToString("#,###.00##");
                    }
                    <td>@rowid</td>
                    <td><a onclick="OpenPODetails(@data.PoId)" style="height:100px; width:300px; ">@data.PoNo</a></td>
                    <td>@data.SupplierName</td>
                    <td>@data.SupplierEmail</td>
                    <td>@data.DelDate</td>
                    <td>@data.DelAt</td>
                    <td style="text-align: right">@amount</td>
                    @{
                rowid += 1;
                    }
                </tr>
            }
        </tbody>
    </table>
    <script>
        document.getElementById("printbtn").style.display = 'inline';
        document.getElementById("pager").style.display = 'inline';
    </script>
}
else
{
    <label style="color: red; text-align: center; font-weight: bolder; width: 100%">Record Not Found..</label>
    <script>
        document.getElementById("printbtn").style.display = 'none';
        document.getElementById("pager").style.display = 'none';
    </script>
}
<div id="pager" style="display: none; text-align: center; width: 100px">
    <form>
        <img src="../Images/first.png" class="first" />
        <img src="../Images/prev.png" class="prev" />
        <input type="text" class="pagedisplay" id="pagertextbox" style="width: 170px" />
        <img src="../Images/next.png" class="next" />
        <img src="../Images/last.png" class="last" />
        <select class="pagesize" id="pagerdropdown">
            <option selected="selected" value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </form>
</div>


