@model CodeFirstEntities .MainApplication
@{
    ViewBag.Title = "PrintEntryStockCategorywise";
}

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("cat").innerHTML = window.opener.document.getElementById("DDLCategory").value;
    })
    
</script>

<table style="border: 1px double; width: 100%;">
    <tr>
        <td>
            <table style="width:100%">
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <img src="~/Images/retail-logo.png" class="img-responsive" alt="logo" style="max-width: 100px" />
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <label><b>A To Z DADAR T.T.</b></label><br />
                        <label>Shopping Centre, Dadar T.T., Dadar East,Mumbai - 400014</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align:center">
                        <label style="font-size: x-large"><b>Entry Stock Report</b></label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td><label style="font-weight:bold">Category:</label>&nbsp;&nbsp<label id="cat" style="font-weight: normal"></label></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <label style="font-weight: bold">&nbsp;Item Details:</label>
            <table>
                <tr>
                    <td style="height: 5px"></td>
                </tr>
            </table>
             <table border="1" cellpadding="0" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th style="text-align: left">Item Code</th>
                        <th style="text-align: left">Item Name</th>
                        <th style="text-align: left" class="col-lg-3 col-md-3">Description</th>
                        <th style="text-align: center">Stock<br />Quantity</th>
                        <th style="text-align: center">Received<br />Quantity</th>
                        <th style="text-align: left">Unit</th>
                        <th style="text-align: center">Amount</th>
                    </tr>
                </thead>
                <tbody id="itemlist">
                    @{
                    int rowid = 1;
                    }
                    @foreach (var data in Model.EntryStockItemList)
                    {
                        <tr>
                             @{
                                 double SQty = Convert.ToDouble(@data.StockQuantity);
                                 var stkquantity = SQty.ToString("#,###.00##");
                                 double RQty = Convert.ToDouble(@data.ReceivedQuantity);
                                 var revquantity = RQty.ToString("#,###.00##");
                                 double mrp = Convert.ToDouble(@data.MRP);
                                 var MRP = mrp.ToString("#,###.00##");
                            }
                            <td>@rowid</td>
                            <td style="text-align: left">@data.ItemCode</td>
                            <td style="text-align: left">@data.Item</td>
                            <td style="text-align: left" class="col-lg-3 col-md-3">@data.Description</td>
                            <td style="text-align: right">@stkquantity</td>
                            <td style="text-align: right">@revquantity</td>
                            <td style="text-align: left">@data.Unit</td>
                            <td style="text-align: right">@MRP</td>
                            @{rowid += 1;}
                        </tr>
                    }
                </tbody>
            </table>

        </td>
    </tr>
</table>




