@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "PrintOutwardToClientClientwise";
}

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("FromDate").innerHTML = window.opener.document.getElementById("fromdate").value;
        document.getElementById("ToDate").innerHTML = window.opener.document.getElementById("todate").value;
        document.getElementById("Clients").innerHTML = window.opener.document.getElementById("DDLClient").value;
    })
</script>

<table style="border: 1px double; width: 100%;">
    <tr>
        <td>
            <table style="width:100%">
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <img src="~/Images/retail-logo.png" class="img-responsive" alt="logo" style="max-width: 100px" />
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: center;">
                        <label><b>A To Z DADAR T.T.</b></label><br />
                        <label>Shopping Centre, Dadar T.T., Dadar East,Mumbai - 400014</label>
                    </td> 
                </tr>
                <tr>
                    <td colspan="8" style="text-align:center">
                        <label style="font-size: x-large"><b>Outward To Client Report </b></label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td style="float:right"><label style="font-weight:bold">Date:</label>&nbsp;&nbsp<label id="FromDate" style="font-weight: normal"></label>&nbsp;&nbsp;To&nbsp;&nbsp;<label id="ToDate" style="font-weight: normal"></label></td>
                </tr>
                <tr><td><div style="height:7px"></div></td></tr>
                <tr>
                    <td><label style="font-weight:bold">Client Name:</label><label style="font-weight:normal" id="Clients"></label></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td style="height: 5px"></td>
                </tr>
            </table>
            <table border="1" cellpadding="0" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Outward No.</th>
                        <th>Reference No.</th>
                        <th>Client Name</th>
                        <th>Client Contact</th>
                        <th>Client State</th>
                        <th>Client Email</th>
                    </tr>
                </thead>
                <tbody id="itemlist">
                    @{
                        int rowid = 1;
                    }
                    @foreach (var data in Model.OutwardToClientList)
                    {
                        <tr>
                            <td>@rowid</td>
                            <td><a onclick="OpenPODetails(@data.OutwardId)" style="height:100px; width:300px; ">@data.OutwardCode</a></td>
                            <td>@data.GatePass</td>
                            <td>@data.ClientName</td>
                            <td>@data.ClientContactNo</td>
                            <td>@data.ClientState</td>
                            <td>@data.ClientEmail</td>
                            @{
                        rowid += 1;
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </td>
    </tr>
</table>








