@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "SaleswBillSalesReport";
}
<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {

        // Init Theme Core 	  
        Core.init();

        $("select").keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields =
$(this).parents('form:eq(0),body').find();
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        var Count = +document.getElementById("DateCount").value;

        for (var i = 1; i <= Count; i++) {
            var billdate = "BillDate" + i;
            var taxfreegoods = "TaxFreeGoods" + i;
            var onepergoods = "OnePerGoods" + i;
            var onepervat = "OnePerVAT" + i;
            var fivepergoods = "FivePerGoods" + i;
            var fivepervat = "FivePerVAT" + i;
            var twelevepergoods = "TwelvePerGoods" + i;
            var twelevepervat = "TwelvePerVAT" + i;
            var netamt = "NetAmt" + i;

            var BillDate = document.getElementById(billdate).innerHTML;
            SalesBillSalesCalc(BillDate, i);
        }
    });
</script>

<script type="text/javascript">
    function SalesBillSalesCalc(BillDate, Count) {
        var billdate = "BillDate" + Count;
        var taxfreegoods = "TaxFreeGoods" + Count;
        var onepergoods = "OnePerGoods" + Count;
        var onepervat = "OnePerVAT" + Count;
        var fivepergoods = "FivePerGoods" + Count;
        var fivepervat = "FivePerVAT" + Count;
        var twelevepergoods = "TwelvePerGoods" + Count;
        var twelevepervat = "TwelvePerVAT" + Count;
        var netamt = "NetAmt" + Count;

        var taxfreegoodsval = "TaxFreeGoodsVal" + Count;
        var onepergoodsval = "OnePerGoodsVal" + Count;
        var onepervatval = "OnePerVATVal" + Count;
        var fivepergoodsval = "FivePerGoodsVal" + Count;
        var fivepervatval = "FivePerVATVal" + Count;
        var twelevepergoodsval = "TwelvePerGoodsVal" + Count;
        var twelevepervatval = "TwelvePerVATVal" + Count;

        $.getJSON("/MisReports/SalesBillSalesCalc", { billdate: BillDate },
                                     function (data) {
                                         document.getElementById(taxfreegoods).innerHTML = data.TotalTaxFreeGoodsVal.toFixed(2);
                                         document.getElementById(onepergoods).innerHTML = data.TotalOnePerGoodsVal.toFixed(2);
                                         document.getElementById(onepervat).innerHTML = data.TotalOnePerGoodsValTaxAmt.toFixed(2);
                                         document.getElementById(fivepergoods).innerHTML = data.TotalFivePointFivePerGoodsVal.toFixed(2);
                                         document.getElementById(fivepervat).innerHTML = data.TotalFivePointFivePerGoodsValTaxAmt.toFixed(2);
                                         document.getElementById(twelevepergoods).innerHTML = data.TotalTwelvePointFivePerGoodsVal.toFixed(2);
                                         document.getElementById(twelevepervat).innerHTML = data.TotalTwelvePointFivePerGoodsValTaxAmt.toFixed(2);

                                         document.getElementById(taxfreegoodsval).value = data.TotalTaxFreeGoodsVal.toFixed(2);
                                         document.getElementById(onepergoodsval).value = data.TotalOnePerGoodsVal.toFixed(2);
                                         document.getElementById(onepervatval).value = data.TotalOnePerGoodsValTaxAmt.toFixed(2);
                                         document.getElementById(fivepergoodsval).value = data.TotalFivePointFivePerGoodsVal.toFixed(2);
                                         document.getElementById(fivepervatval).value = data.TotalFivePointFivePerGoodsValTaxAmt.toFixed(2);
                                         document.getElementById(twelevepergoodsval).value = data.TotalTwelvePointFivePerGoodsVal.toFixed(2);
                                         document.getElementById(twelevepervatval).value = data.TotalTwelvePointFivePerGoodsValTaxAmt.toFixed(2);
                                         CalcNetAmount(Count);
                                     });
    }
</script>

<script type="text/javascript">
    function CalcNetAmount(Count) {
        var taxfreegoodsamt = +document.getElementById("TaxFreeGoods" + Count).innerHTML;
        var onepergoodsamt = +document.getElementById("OnePerGoods" + Count).innerHTML;
        var onepervatamt = +document.getElementById("OnePerVAT" + Count).innerHTML;
        var fivepergoodsamt = +document.getElementById("FivePerGoods" + Count).innerHTML;
        var fivepervatamt = +document.getElementById("FivePerVAT" + Count).innerHTML;
        var twelevepergoodsamt = +document.getElementById("TwelvePerGoods" + Count).innerHTML;
        var twelevepervatamt = +document.getElementById("TwelvePerVAT" + Count).innerHTML;
        var netamtval = taxfreegoodsamt + onepergoodsamt + onepervatamt + fivepergoodsamt + fivepervatamt + twelevepergoodsamt + twelevepervatamt;
        document.getElementById("NetAmt" + Count).innerHTML = netamtval.toFixed(2);
        document.getElementById("NetAmtVal" + Count).value = netamtval.toFixed(2);
    }
</script>

<script type="text/javascript">
    function GetResult() {
        document.getElementById("ExportToExcel").disabled = false;
        CalcTotalTaxFreeAmount();
        CalcTotalOnePerGoodsAmount();
        CalcTotalOnePerVATAmount();
        CalcTotalFivePerGoodsAmount();
        CalcTotalFivePerVATAmount();
        CalcTotalTwelvePerGoodsAmount();
        CalcTotalTwelvePerVATAmount();
        CalcTotalNetValAmount();
    }
</script>

<script type="text/javascript">
    function CalcTotalTaxFreeAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttltaxfreegoods = 0;
        for (var i = 1; i <= Count; i++) {
            var taxfreegoods = "TaxFreeGoods" + i;
            var taxfreegoodsval = +document.getElementById(taxfreegoods).innerHTML;
            ttltaxfreegoods = ttltaxfreegoods + taxfreegoodsval;
        }
        document.getElementById("ttltaxfreegoods").innerHTML = ttltaxfreegoods.toFixed(2);
        document.getElementById("ttltaxfreegoodsval").value = ttltaxfreegoods.toFixed(2);
    }
</script>

<script type="text/javascript">
    function CalcTotalOnePerGoodsAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttlonepergoods = 0;
        for (var i = 1; i <= Count; i++) {
            var onepergoods = "OnePerGoods" + i;
            var onepergoodsval = +document.getElementById(onepergoods).innerHTML;
            ttlonepergoods = ttlonepergoods + onepergoodsval;
        }
        document.getElementById("ttlonepergoods").innerHTML = ttlonepergoods.toFixed(2);
        document.getElementById("ttlonepergoodsval").value = ttlonepergoods.toFixed(2);
    }
</script>

<script type="text/javascript">
    function CalcTotalOnePerVATAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttlonepervat = 0;
        for (var i = 1; i <= Count; i++) {
            var onepervat = "OnePerVAT" + i;
            var onepervatval = +document.getElementById(onepervat).innerHTML;
            ttlonepervat = ttlonepervat + onepervatval;
        }
        document.getElementById("ttlonepervat").innerHTML = ttlonepervat.toFixed(2);
        document.getElementById("ttlonepervatval").value = ttlonepervat.toFixed(2);
    }
</script>

<script type="text/javascript">
    function CalcTotalFivePerGoodsAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttlfivepergoods = 0;
        for (var i = 1; i <= Count; i++) {
            var fivepergoods = "FivePerGoods" + i;
            var fivepergoodsval = +document.getElementById(fivepergoods).innerHTML;
            ttlfivepergoods = ttlfivepergoods + fivepergoodsval;
        }
        document.getElementById("ttlfivepergoods").innerHTML = ttlfivepergoods.toFixed(2);
        document.getElementById("ttlfivepergoodsval").value = ttlfivepergoods.toFixed(2);
    }
</script>

<script type="text/javascript">
    function CalcTotalFivePerVATAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttlfivepervat = 0;
        for (var i = 1; i <= Count; i++) {
            var fivepervat = "FivePerVAT" + i;
            var fivepervatval = +document.getElementById(fivepervat).innerHTML;
            ttlfivepervat = ttlfivepervat + fivepervatval;
        }
        document.getElementById("ttlfivepervat").innerHTML = ttlfivepervat.toFixed(2);
        document.getElementById("ttlfivepervatval").value = ttlfivepervat.toFixed(2);
    }
</script>

<script type="text/javascript">
    function CalcTotalTwelvePerGoodsAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttltwelvepergoods = 0;
        for (var i = 1; i <= Count; i++) {
            var twelvepergoods = "TwelvePerGoods" + i;
            var twelvepergoodsval = +document.getElementById(twelvepergoods).innerHTML;
            ttltwelvepergoods = ttltwelvepergoods + twelvepergoodsval;
        }
        document.getElementById("ttltwelevepergoods").innerHTML = ttltwelvepergoods.toFixed(2);
        document.getElementById("ttltwelevepergoodsval").value = ttltwelvepergoods.toFixed(2);
    }
</script>

<script type="text/javascript">
    function CalcTotalTwelvePerVATAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttltwelvepervat = 0;
        for (var i = 1; i <= Count; i++) {
            var twelvepervat = "TwelvePerVAT" + i;
            var twelvepervatval = +document.getElementById(twelvepervat).innerHTML;
            ttltwelvepervat = ttltwelvepervat + twelvepervatval;
        }
        document.getElementById("ttltwelevepervat").innerHTML = ttltwelvepervat.toFixed(2);
        document.getElementById("ttltwelevepervatval").value = ttltwelvepervat.toFixed(2);
    }
</script>

<script type="text/javascript">
    function CalcTotalNetValAmount() {
        var Count = +document.getElementById("DateCount").value;
        var ttlnetval = 0;
        for (var i = 1; i <= Count; i++) {
            var netval = "NetAmt" + i;
            var netvalval = +document.getElementById(netval).innerHTML;
            ttlnetval = ttlnetval + netvalval;
        }
        document.getElementById("ttlnetamt").innerHTML = ttlnetval.toFixed(2);
        document.getElementById("ttlnetamtval").value = ttlnetval.toFixed(2);
    }
</script>

<script type="text/javascript">
    function GetSBDailySalesReport(Count) {
        var billdateval = "BillDateVal" + Count;
        var SelectedDate = document.getElementById(billdateval).value;
        window.location.assign("/MisReports/GetSBDailySalesReport?Date=" + SelectedDate);
    }
</script>


<!-- Start: Header -->
@Html.Partial("../Shared/Header")
<!-- End: Header -->
<!-- Start: Main -->
<section>
    <div class="mainwrapper">
        <div class="col-md-12 col-lg-12">
            <!-- Start: Sidebar -->
            @Html.Partial("../Shared/LeftMenu")
            <!-- End: Sidebar -->
             @using (Html.BeginForm("SalesBillSalesReport", "MisReports", FormMethod.Post))
             {
            <!-- Start: Content -->
            <input type="hidden"/ id="hdnfromdate" name="hdnfromdate">
            <input type="hidden"/ id="hdntodate" name="hdntodate">

            <div class="mainpanel">
                <br />
                <div class="col-md-10 col-lg-10">
                    <h2 class="col-lg-offset-5 col-md-offset-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sales Report (Sales Bill)</h2>
                </div>
                <div class="col-md-2 col-lg-2" style="text-align: right">
                    @{
                 string Date = DateTime.Now.ToString("dd/MM/yyyy");
                    }
                    <label style="font-size: 16px;">Date:</label>
                    <label style="font-size: 16px;">@Date</label>
                </div>

                <div class="col-md-12 col-lg-12" id="FromToDateLabelDiv" style="text-align: center">
                    @{
                 var fromdate = Session["FromDate"].ToString();
                 var fdate = Convert.ToDateTime(fromdate).ToString("dd/MM/yyyy");
                        <input type="hidden" id="SBFromDate" name="SBFromDate" value="@fromdate"/>
                 var todate = Session["ToDate"].ToString();
                 var tdate = Convert.ToDateTime(todate).ToString("dd/MM/yyyy");
                        <input type="hidden" id="SBToDate" name="SBToDate" value="@todate"/>
                        <label style='font-size:16px'>DateWise Sales Summary From @fdate To @tdate</label>
                    }
                </div>

                <div class="col-md-12 col-lg-12">
                <table border="1" class="table" style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#FF647A"><label style="color:white">Bill<br />Date</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#12AEC4"><label style="color:white">Tax Free<br />Goods Value</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#FB3F8A"><label style="color:white">1% Goods<br />Value</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#65BD77"><label style="color:white">1% VAT<br />Amount</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#E9967A"><label style="color:white">5.5% Goods<br />Value</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#009999"><label style="color:white">5.5% VAT<br />Amount</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#B266FF"><label style="color:white">12.5% Goods<br />Value</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#E65055"><label style="color:white">12.5% VAT<br />Amount</label></th>
                            <th style="text-align: center; color:red; font-size:14px; background-color:#00CC00"><label style="color:white">Net<br />Amount</label></th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                 List<DateTime> datelist = (List<DateTime>)Session["SalesDateList"];
                            <input type="hidden" id="DateCount" name="DateCount" value="@datelist.Count()"/>
                            
                 int Count = 1;
                 if (datelist != null)
                 {
                     foreach (DateTime date in datelist)
                     {
                         var DATE = date.ToShortDateString();
                         DATE = Convert.ToDateTime(DATE).ToString("dd/MM/yyyy");

                         string billdate = "BillDate" + Count;
                         string taxfreegoods = "TaxFreeGoods" + Count;
                         string onepergoods = "OnePerGoods" + Count;
                         string onepervat = "OnePerVAT" + Count;
                         string fivepergoods = "FivePerGoods" + Count;
                         string fivepervat = "FivePerVAT" + Count;
                         string twelevepergoods = "TwelvePerGoods" + Count;
                         string twelevepervat = "TwelvePerVAT" + Count;
                         string netamt = "NetAmt" + Count;

                         string billdateval = "BillDateVal" + Count;
                         string taxfreegoodsval = "TaxFreeGoodsVal" + Count;
                         string onepergoodsval = "OnePerGoodsVal" + Count;
                         string onepervatval = "OnePerVATVal" + Count;
                         string fivepergoodsval = "FivePerGoodsVal" + Count;
                         string fivepervatval = "FivePerVATVal" + Count;
                         string twelevepergoodsval = "TwelvePerGoodsVal" + Count;
                         string twelevepervatval = "TwelvePerVATVal" + Count;
                         string netamtval = "NetAmtVal" + Count;
                                    
                                    <tr>
                                                <td style="text-align: right;"><a id="@billdate" style="text-align: center;" onclick="GetSBDailySalesReport(@Count)">@DATE</a><input type="hidden" id="@billdateval" name="@billdateval" value="@DATE"/></td>
                                                <td style="text-align: right;"><label id="@taxfreegoods"></label><input type="hidden" id="@taxfreegoodsval" name="@taxfreegoodsval"/></td>
                                                <td style="text-align: right;"><label id="@onepergoods"></label><input type="hidden" id="@onepergoodsval" name="@onepergoodsval"/></td>
                                                <td style="text-align: right;"><label id="@onepervat"></label><input type="hidden" id="@onepervatval" name="@onepervatval"/></td>
                                                <td style="text-align: right;"><label id="@fivepergoods"></label><input type="hidden" id="@fivepergoodsval" name="@fivepergoodsval"/></td>
                                                <td style="text-align: right;"><label id="@fivepervat"></label><input type="hidden" id="@fivepervatval" name="@fivepervatval"/></td>
                                                <td style="text-align: right;"><label id="@twelevepergoods"></label><input type="hidden" id="@twelevepergoodsval" name="@twelevepergoodsval"/></td>
                                                <td style="text-align: right;"><label id="@twelevepervat"></label><input type="hidden" id="@twelevepervatval" name="@twelevepervatval"/></td>
                                                <td style="text-align: right;"><label id="@netamt" style="color:blue"></label><input type="hidden" id="@netamtval" name="@netamtval"/></td>
                                                @{Count++;}
                                    </tr>
                     }
                 }
                            }

                    </tbody>
                    <tbody>
                        @{
                                    <tr>
                                                <td style="text-align: right;"><button type="button" class="btn btn-success" onclick="GetResult()">Result</button><input type="hidden" id="ttlbilldate" name="ttlbilldate" value="Result"/></td>
                                                <td style="text-align: right;"><label id="ttltaxfreegoods" style="color:blue"></label><input type="hidden" id="ttltaxfreegoodsval" name="ttltaxfreegoodsval"/></td>
                                                <td style="text-align: right;"><label id="ttlonepergoods" style="color:blue"></label><input type="hidden" id="ttlonepergoodsval" name="ttlonepergoodsval"/></td>
                                                <td style="text-align: right;"><label id="ttlonepervat" style="color:blue"></label><input type="hidden" id="ttlonepervatval" name="ttlonepervatval"/></td>
                                                <td style="text-align: right;"><label id="ttlfivepergoods" style="color:blue"></label><input type="hidden" id="ttlfivepergoodsval" name="ttlfivepergoodsval"/></td>
                                                <td style="text-align: right;"><label id="ttlfivepervat" style="color:blue"></label><input type="hidden" id="ttlfivepervatval" name="ttlfivepervatval"/></td>
                                                <td style="text-align: right;"><label id="ttltwelevepergoods" style="color:blue"></label><input type="hidden" id="ttltwelevepergoodsval" name="ttltwelevepergoodsval"/></td>
                                                <td style="text-align: right;"><label id="ttltwelevepervat" style="color:blue"></label><input type="hidden" id="ttltwelevepervatval" name="ttltwelevepervatval"/></td>
                                                <td style="text-align: right;"><label id="ttlnetamt" style="color:blue"></label><input type="hidden" id="ttlnetamtval" name="ttlnetamtval"/></td>
                                    </tr>
                                }
                    </tbody>
                </table>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:right">
                    <button type="submit" id="ExportToExcel" class="btn btn-warning" disabled="disabled">Export To Excel</button>
                </div>

            </div>
             }
             </div>
        </div>
</section>
<!-- End: Main -->