@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "GetOutwardToTailorList";
}

<script type="text/javascript">
    //SELECT ALL CHECKBOXES ON SELECT ALL CHECKBOX BUTTON
    function SelectAllCheckbox() {
        document.getElementById("save").disabled = false;
        var count = document.getElementById("OutwardList").value;
        if ($("#SelectAllId").prop("checked")) {
            for (i = 1; i <= count; i++) {
                var chkbox = "CheckBox" + i;
                $("#" + chkbox).attr("checked", true);
                document.getElementById(chkbox).value = "Yes";
            }
        }
        else {
            for (i = 1; i <= count; i++) {
                var chkbox = "CheckBox" + i;
                $("#" + chkbox).attr("checked", false);
                document.getElementById(chkbox).value = "No";
            }
        }
    }
</script>

<script type="text/javascript">
    function CheckCheckboxValue(Count) {
        document.getElementById("save").disabled = false;
        var checkbox = "CheckBox" + Count;
        if ($("#" + checkbox).prop("checked")) {
            document.getElementById(checkbox).value = "Yes";
        }
        else {
            document.getElementById(checkbox).value = "No";
        }
    }
</script>

@*PART PAYMENT VALIDATIONS*@
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#save").click(function () {

            var ItemList = document.getElementById("OutwardList").value;
            var Count = ItemList - 1;
            var validationcount = 0;
            for (i = 1; i <= Count; i++) {
                var checkbox = "CheckBox" + i;
                
                if (!$(checkbox).prop("checked")) {
                    alertbox("Please Select Any One Checkbox Option..");
                    validationcount = 1;
                }
            }
            if (validationcount == 0) {
                $("#submit").trigger('click');
            }
        });
    });
</script>*@


<table border="1" class="table" style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="text-align: center">SelectAll<br />
                <input type="checkbox" id="SelectAllId" onclick="SelectAllCheckbox()" style="width: 17px; height: 17px;" />
            </th>
            <th style="text-align: center">Outward<br />No.</th>
            <th style="text-align: center">Outward<br />Date</th>
            <th style="text-align: center">Client<br />Name</th>
            <th style="text-align: center">Tailor<br />
                Amount</th>
            <th style="text-align: center" class="col-lg-1 col-md-1">Payment</th>
            <th style="text-align: center" class="col-lg-1 col-md-1">Balance</th>
               
        </tr>
    </thead>
    <tbody>
        @{
            int Count = 1;
            if (Model.OutwardToTailorList != null)
            {
                foreach (var data in Model.OutwardToTailorList)
                {
                    string checkbox = "CheckBox" + Count;
                    string outardno = "OutwardNo" + Count;
                    string clientname = "ClientName" + Count;
                    string tailoramt = "TailorAmount" + Count;
                    string payment = "Payment" + Count;
                    string balance = "Balance" + Count;
            <tr>
                @{
                        string date = Convert.ToDateTime(data.Date).ToString("dd/MM/yyyy");
                }
                <td style="text-align: center">
                    <input type="checkbox" id="@checkbox" name="@checkbox" style="width:17px; height:17px" value="No" onchange="CheckCheckboxValue(@Count)"/></td>
                <td style="text-align: center">@data.OutwardCode<input type="hidden" id="@outardno" name="@outardno" value="@data.OutwardCode"/></td>
                <td style="text-align: center">@date</td>
                <td style="text-align: center">@data.ClientName<input type="hidden" id="@clientname" name="@clientname" value="@data.ClientName"/></td>
                <td style="text-align: center">@data.GrandTotal<input type="hidden" id="@tailoramt" name="@tailoramt" value="@data.GrandTotal"/></td>
                <td style="text-align: center">@data.AdvancePayment<input type="hidden" id="@payment" name="@payment" value="@data.AdvancePayment"/></td>
                <td style="text-align: center">@data.Balance<input type="hidden" id="@balance" name="@balance" value="@data.Balance"/></td>
                @{Count++;}
            </tr>
                }
            }
            <input type="hidden" id="OutwardList" value="@Count" name="OutwardList"/>
        }
    </tbody>
</table>
