@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "OutwardToTailorDetailsPop";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<!-- Plugins - Via CDN -->
<script type ="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Close").click(function () {
            window.close();
        });
    });
</script>

<div style="height: 8px"></div>
<div class="col-lg-12 col-md-12">
    <label style="font-weight:bolder; font-size:x-large">Outward To Tailor Details</label>
        <table style="border: 1px double; width: 100%">
            <tr>
                <td>
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-8 col-md-8" style="border-right: 1px solid #999; height: 85px;">
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div style="height: 10px"></div>
                            <div class="col-lg-12 col-md-12">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="row">
                                            <label style="font-size: 14px;">Date</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="row">
                                            @Html.DisplayFor(model => model.OutwardToTailorDetails.Date)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="row">
                                            <label style="font-size: 14px;">Outward No.</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="row">
                                            @Html.DisplayFor(model => model.OutwardToTailorDetails.OutwardCode)
                                        </div>
                                    </div>
                                </div>
                                @{
                                    if(Model.OutwardToTailorDetails.ClientName!=null)
                                    {
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5">
                                            <div class="row">
                                                <label style="font-size: 14px; color:blue">Client Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="row">
                                                @Html.DisplayFor(model => model.OutwardToTailorDetails.ClientName)
                                            </div>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr><td><br /></td></tr>

            <tr>
                <td>
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-4 col-md-4">
                            <label>Tailor Name:</label><br />
                            @Html.DisplayFor(model => model.OutwardToTailorDetails.TailorName)
                        </div>

                         <div class="col-lg-4 col-md-4">
                            <label>Retail Bills:</label><br />
                            @Html.DisplayFor(model => model.OutwardToTailorDetails.RetailBills)
                        </div>

                         <div class="col-lg-4 col-md-4">
                            <label>Sales Bills:</label><br />
                            @Html.DisplayFor(model => model.OutwardToTailorDetails.SalesBills)
                        </div>
                    </div>
                </td>
            </tr>

            <tr><td><br /></td></tr>

            <tr>
                <td>
                    <div class="col-md-12 col-lg-12">
                        <label style="font-weight: bolder; font-size: larger">Item Details:</label>
                    </div>
                    <table style="border: 1px double; width: 100%">
                        <tr>
                            <td>
                                <div class="col-md-12 col-lg-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">S.N.</th>
                                                <th style="text-align:center">Bill No</th>
                                                <th style="text-align:center">Item<br />Code</th>
                                                <th style="text-align:center">Item<br />Name</th>
                                                <th style="text-align:center">Job Work<br />Type</th>
                                                <th style="text-align:right">Quantity</th>
                                                <th style="text-align:center">Narration</th>
                                                <th style="text-align:right">Tailor<br />Amt(<i class="fa fa-inr"></i>)</th>
                                                <th style="text-align:right">Accessories<br />Amt(<i class="fa fa-inr"></i>)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model.OutwardToTailorItemList != null && Model.OutwardToTailorItemList.Any())
                                                {
                                                    string row = string.Empty;
                                                    int rowid = 1;

                                                    foreach (var item in Model.OutwardToTailorItemList)
                                                    {
                                                        row = "row" + rowid;
                                                        <tr id="@row">
                                                            @{
                                                                 double Qty = Convert.ToDouble(@item.Quantity);
                                                                 var quantity = Qty.ToString("#,###.00##");
                                                                 double tailoramt = Convert.ToDouble(@item.TailorAmount);
                                                                 var TailorAmt = tailoramt.ToString("#,###.00##");
                                                                 double accamt = Convert.ToDouble(@item.AccessoriesAmount);
                                                                 var AccessoriesAmt = accamt.ToString("#,###.00##");
                                                            }
                                                            <td style="text-align:center">@rowid</td>
                                                            <td style="text-align:center">@item.BillNo</td>
                                                            <td style="text-align:center">@item.ItemCode</td>
                                                            <td style="text-align:center">@item.ItemName</td>
                                                            <td style="text-align:center">@item.JobWorktype</td>
                                                            <td style="text-align:right">@quantity</td>
                                                            <td style="text-align:center">@item.NarrationForTailor</td>
                                                            <td style="text-align:right">@tailoramt</td>
                                                            <td style="text-align:right">@AccessoriesAmt</td>
                                                        </tr>
                                                rowid = rowid + 1;
                                                }
                                             }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr><td><br /></td></tr>

            <tr>
                <td>
                    <div class="col-lg-7 col-md-7"></div>
                    <div class="col-lg-5 col-md-5">
                        @{
                                                                 double bal = Convert.ToDouble(Model.OutwardToTailorDetails.Balance);
                                                                 var Balance = bal.ToString("#,###.00##");
                                                                 double advpay = Convert.ToDouble(Model.OutwardToTailorDetails.AdvancePayment);
                                                                 var AdvPayment = advpay.ToString("#,###.00##");
                                                                 double grdttl = Convert.ToDouble(Model.OutwardToTailorDetails.GrandTotal);
                                                                 var GrdTtl = grdttl.ToString("#,###.00##");
                                                                
                                                            }
                        
                        <div class="row">
                            <div class="col-lg-7 col-md-7" style="text-align:right">
                                <label style="font-size: 14px;">Grand Total:</label>
                            </div>
                            <div class="col-lg-5 col-md-5" style="text-align:right">
                                 <label>@GrdTtl</label>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-7 col-md-7" style="text-align:right">
                                <label style="font-size: 14px;">Advance Payment:</label>
                            </div>
                            <div class="col-lg-5 col-md-5" style="text-align:right">
                                 <label>@AdvPayment</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-7" style="text-align:right">
                                <label style="font-size: 14px;">Balance:</label>
                            </div>
                            <div class="col-lg-5 col-md-5" style="text-align:right">
                                 <label>@Balance</label>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </table>

        <div style="height:10px"></div>
        
        <div class="col-lg-12 col-md-12" style="text-align:center">
            <button type="button" class="btn btn-primary" id="Close">Close</button>
        </div>

    </div>

