
@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "CreateTax";
}
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />

<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />*@
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/pages.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Begin: Front Page Loading Animation --> 
<div id="page-loader"><span class="glyphicon glyphicon-cog fa-spin cog-1"></span></div>
<!-- End: Front Page Loading Animation --> 

<!-- Core Javascript - via CDN -->
@*<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@

@*<script src="~/Scripts/jquery-1.9.1.js"></script>

<script src="~/Scripts/jquery-ui-1.8.24.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
@*<script type ="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>*@
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

<!-- Plugins - Via Local Storage
<script type="text/javascript" src="vendor/plugins/jqueryflot/jquery.flot.min"></script>
<script type="text/javascript" src="vendor/plugins/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="vendor/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="vendor/plugins/calendar/fullcalendar.min.js"></script>
-->

<!-- Plugins -->

<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<!--<script type="text/javascript" src="js/plugins.js"></script>-->
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>

 <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jsDatePick_ltr.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jsDatePick_ltr.min.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jsDatePick.min.1.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jsDatePick.jquery.min.1.3.js")"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {

        // Init Theme Core 	  
        Core.init();

        $("input").not($(":button")).keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields = $(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlCountry").change(function () {
            var idModel = $(this).val();
            if (idModel == '') {
                var state = $("#ddlSate");
                state.empty();
                state.append($('<option/>', {
                    value: 0,
                    text: "Select State"
                }));
            }
            $.getJSON("/Tax/LoadStateByCountry", { id: idModel },
            function (stateData) {
                var select = $("#ddlSate");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Select State"
                }));
                $.each(stateData, function (index, itemData) {

                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });

        });
    });
</script>

<script type="text/javascript">

    $(document).keypress(function (e) {
        if (e.which == 13) {
            var idModel = document.getElementById("ddlSate").value;
            var rowid = document.getElementById("hdnRowCount").value;
            rowid = +rowid + 1;
            var city = document.createElement("SELECT");
            var select = "citylist" + rowid;
            var taxtype = "taxtype" + rowid;
            var fromdate = "fromdate" + rowid;
            var todate = "todate" + rowid;
            var percentage = "percentage" + rowid;
            var unorderedlist = $("#AddingRows");
            $.getJSON("/Tax/LoadDistrictByState", { id: idModel },
             function (stateData) {
               city.className = "form-control";
               city.id = "city" + rowid;
               city.name = "city" + rowid;
               var myoption1 = document.createElement("option");
               myoption1.text = "Select District";
               myoption1.value = 0;
               city.appendChild(myoption1);
               $.each(stateData, function (index, itemData) {
                   var myoption = document.createElement("option");
                   myoption.text = itemData.Text;
                   myoption.value = itemData.Value;
                   city.appendChild(myoption);
               });
           });
            var data = "<tr>";
            data += "<td>" + rowid+"</<td>"
            data += "<td><select id='" + taxtype + "' name= '" + taxtype + "'class='form-control'><option value='0'>Select Tax</option><option value='VAT'>VAT</option><option value='SalesTax'>Sales Tax</option><option value='OtherTax'>Other Tax</option></select></td>";
            data += "<td id='" + select + "' name='" + select + "'></td>"
            data += "<td><input type='textbox' id='" + fromdate + "' name='" + fromdate + "' class='form-control'></input></td>";
            data += "<td><input type='textbox' id='" + todate + "' name='" + todate + "' class='form-control'></input></td>";
            data += "<td><input type='textbox' id='" + percentage + "' name='" + percentage + "' class='form-control'></input></td></tr>";
            unorderedlist.append(data);
            var cities = document.getElementById(select);
            cities.appendChild(city);

            new JsDatePick({
                useMode: 2,
                target: fromdate,
                dateFormat: "%d/%M/%Y"
            });

            new JsDatePick({
                useMode: 2,
                target: todate,
                dateFormat: "%d/%M/%Y"
            });
            $("#hdnRowCount").val(rowid);
        }
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlSate").change(function () {
            var idModel = $(this).val();
            document.getElementById("dynamic").style.display = "inline";
            var rowid = document.getElementById("hdnRowCount").value;
            rowid = +rowid + 1;
            var city = document.createElement("SELECT");
            var select = "citylist" + rowid;
            var taxtype = "taxtype" + rowid;
            var fromdate = "fromdate" + rowid;
            var todate = "todate" + rowid; 
            var percentage = "percentage" + rowid;
            var unorderedlist = $("#AddingRows");
            $.getJSON("/Tax/LoadDistrictByState", { id: idModel },
            function (stateData) {
                city.className = "form-control";
                city.id = "city" + rowid;
                city.name = "city" + rowid;
            var myoption1 = document.createElement("option");
            myoption1.text = "Select District";
            myoption1.value = 0;
            city.appendChild(myoption1);
            $.each(stateData, function (index, itemData) {
                var myoption = document.createElement("option");
                myoption.text = itemData.Text;
                myoption.value = itemData.Value;
                city.appendChild(myoption);
            });
        });
         
            var data = "<tr>";
            data += "<td>" + rowid + "</<td>"
            data += "<td><select id='" + taxtype + "' name='" + taxtype + "' class='form-control'><option value='0'>Select Tax</option><option value='VAT'>VAT</option><option value='SalesTax'>Sales Tax</option><option value='OtherTax'>Other Tax</option></select></td>";
            data += "<td id='"+ select+ "' name='"+ select+ "'></td>"
            data += "<td><input type='textbox' id='"+fromdate+"' name='"+fromdate+"' class='form-control'></input></td>";
            data += "<td><input type='textbox' id='"+todate+"' name='"+todate+"' class='form-control'></input></td>";
            data += "<td><input type='textbox' id='" + percentage + "' name='" + percentage + "' class='form-control'></input></td></tr>";
        
            unorderedlist.append(data);
            var cities = document.getElementById(select);
            cities.appendChild(city);

            new JsDatePick({
                useMode: 2,
                target: fromdate,
                dateFormat: "%d/%M/%Y"
            });

            new JsDatePick({

                useMode: 2,
                target: todate,
                dateFormat: "%d/%M/%Y"
            });
            $("#hdnRowCount").val(rowid);
        });
       
    });
   
</script>


 @Html.Partial("../Shared/Header")
<!-- Start: Main -->
<div id="main">
    <!-- Start: Sidebar -->
       @Html.Partial("../Shared/LeftMenu")
    <!-- End: Sidebar -->
 @using (Html.BeginForm("CreateTax", "Tax", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreate" }))
 {
     @Html.ValidationSummary(true)
     @Html.HiddenFor(model=>model.MainTaxMasters.VAT)
     @Html.HiddenFor(model=>model.MainTaxMasters.SalesTax)
     @Html.HiddenFor(model=>model.MainTaxMasters.OtherTax)

 <input type="hidden" id="hdnRowCount" name="hdnRowCount" />    
      
     <section id="content">
         <div class="container">
             
             <br />
             <h2><strong>Tax</strong> Details</h2>

             <div class="col-lg-12">
                 <div class="row">

                     <div class="col-lg-3">
                         <div class="col-lg-12">
                             <div class="form-group row">
                                 <label for="exampleInputname">Country</label>
                                 @Html.DropDownListFor(model => model.MainTaxMasters.Country, new SelectList(Model.MainTaxMasters.CountryList, "countryid", "countryName"), "Select Country", new { Id = "ddlCountry", @class = "form-control" })
                                 <font color="red"> @Html.ValidationMessageFor(model => model.MainTaxMasters.Country)</font>
                             </div>
                         </div>
                     </div>

                     <div class="col-lg-3">
                         <div class="col-lg-12">
                             <div class="form-group row">
                                 <label for="exampleInputname">State</label>
                                 @Html.DropDownListFor(model => model.MainTaxMasters.State, Enumerable.Empty<SelectListItem>(), "Select State", new { id = "ddlSate", @class = "form-control" })
                                 <font color="red"> @Html.ValidationMessageFor(model => model.MainTaxMasters.State)</font>

                             </div>
                         </div>
                     </div>

                     @*   <div class="col-lg-3">
                         <div class="col-lg-12">
                              <div class="form-group row">
                                    <label for="exampleInputname">District</label>
                                    @*<input type="text" class="form-control" id="exampleInputName" placeholder="Supplier Name">*@
                     @*   @Html.DropDownListFor(model => model.MainTaxMasters.District, Enumerable.Empty<SelectListItem>(), "Select District", new { id = "ddlDistrict", @class = "form-control" })
                                    <font color="red"> @Html.ValidationMessageFor(model => model.MainTaxMasters.District)</font>
                             </div>
                                        </div>
                                </div>*@
                 </div>

             </div>
             <div class="row" style="display: none" id="dynamic">
                 <table class="table" id="AddingRows" style="border-width: 2px; border-color: GrayText; border: 1px double;">

                     <tr>
                         <th class="col-md-1 col-lg-1">
                             <label>S.N.</label></th>
                         <th class="col-md-2 col-lg-2">
                             <label id="Headings">TaxType</label></th>
                         <th class="col-md-2 col-lg-2">
                             <label id="Headins">District</label></th>
                         <th class="col-md-2 col-lg-2">
                             <label id="DescriptionHeadings">FromDate</label></th>
                         <th class="col-md-2 col-lg-2">
                             <label id="Heading">ToDate</label></th>
                         <th class="col-md-2 col-lg-2">
                             <label id="Headin">Percentage</label></th>

                     </tr>

                 </table>
             </div>


             <div class="col-sm-offset-5">
                 <button type="submit" class="btn btn-success" onclick="submasterspass();">Save</button>
             </div>
         </div>
     </section>

 }


