@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "Delete";
}

<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>
<link href="~/Content/customAlerts.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    function confirmbox(message, id) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone2.ogg';
        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('confirmClass');
        bootbox.confirm('<i class="fa fa-2x fa-question-circle"></i><br>' + message + '<hr>',
		 function (result) {
		     if (result) {
		         $.ajax({
		             url: '/TypeOfMaterial/DeletePartial',
		             type: "GET",
		             data: { id: id },
		             success: function (data) {
		                 document.getElementById('LoadPartialView').style.display = "inline";
		                 $("#PartialView").html(data);
		             }
		         });
		     }
		     else {
		         window.location.reload();
		     }
		 });
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {

        // Init Theme Core 	  
        Core.init();

        $("input").not($(":button")).keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields = $(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });

        //this script is used to diaplay category list on onload
        $.ajax({
            url: '/TypeOfMaterial/LoadMaterial',
            type: "GET",
            success: function (data) {
                $("#MaterialListView").html(data);
            }
        })
    });
</script>

<script>
    $(document).ready(function () {
        $("#searchbutton").click(function () {
            //document.getElementById("Searchdiv").style.display = "inline";
            var idmodel = document.getElementById("searchtext").value;
            $.ajax({
                url: '/TypeOfMaterial/MaterialList',
                type: "GET",
                data: { name: idmodel },
                success: function (data) {
                    $("#MaterialListView").html(data);
                }
            });
        });
    });
</script>

<script>
    function DeleteRow(id, bndry, count) {
        document.getElementById('ShowMaterial').style.display = "none";
        for (var i = 1; i <= bndry; i++) {
            deleteid = "DeleteId" + i;
            lableDeleteid = "LableDeleteId" + i;
            rowid = "rowid" + i;
            if (document.getElementById(deleteid) != null) {
                document.getElementById(deleteid).style.display = "none";
                document.getElementById(lableDeleteid).style.display = "inline";
                document.getElementById(rowid).style.backgroundColor = "#F1DDE7";
            }
        }
        RowId = "rowid" + count;
        if (document.getElementById(RowId) != null) {
            document.getElementById(RowId).style.backgroundColor = "lightgreen";
        }

        confirmbox("Are you sure! You want to delete this Row???", id)

        document.getElementById('pagertextbox').disabled = true;
        document.getElementById('pagerdropdown').disabled = true;
        document.getElementById("pager").style.display = "none";
        document.getElementById("searchtext").disabled = true;
        document.getElementById("searchbutton").disabled = true;
        $("#NumberOfRows").val(bndry);
        $("#SelectedRowValue").val(count)
    }
</script>


<script type="text/javascript">
    function DeleteMaterialPartial() {

        var materialdetail = {
            MaterialId: $("#MaterialDetails_MaterialId").val(),
            MaterialName: $("#MaterialDetails_MaterialName").val(),
            MaterialShortName: $("#MaterialDetails_MaterialShortName").val(),
            MaterialDescription: $("#MaterialDetails_MaterialDescription").val(),
            MaterialCode: $("#MaterialDetails_MaterialCode").val(),
        };

        $.ajax({
            url: '/TypeOfMaterial/DeletePartial',
            contentType: "application/json;charset=utf-8",
            type: "POST",
            data: JSON.stringify(materialdetail),
            datatype: "json",
            success: function (data) {
                document.getElementById('LoadPartialView').style.display = "none";
                document.getElementById('ShowMaterial').style.display = "inline";
                $("#ShowMaterial").html(data);
            }
        });

        //this code is used for delete the row in the list  
        var count = document.getElementById("SelectedRowValue").value;
        var rowid = "rowid" + count;
        document.getElementById(rowid).style.display = "none";
        var totalrow = document.getElementById("NumberOfRows").value;

        for (var i = 1; i <= totalrow; i++) {
            deleteid = "DeleteId" + i;
            lableDeleteid = "LableDeleteId" + i;
            rowid = "rowid" + i;
            if (document.getElementById(deleteid) != null) {
                document.getElementById(deleteid).style.display = "inline";
                document.getElementById(lableDeleteid).style.display = "none";
                document.getElementById(rowid).style.backgroundColor = "#F1DDE7";
            }
        }
        document.getElementById("pager").style.display = "inline";
        document.getElementById('pagertextbox').disabled = false;
        document.getElementById('pagerdropdown').disabled = false;
        document.getElementById("searchtext").disabled = false;
        document.getElementById("searchbutton").disabled = false;
    }
</script>



<!-- Start: Header -->
@Html.Partial("../Shared/Header")
<!-- End: Header -->
<!-- Start: Main -->

<!-- Start: Sidebar -->
<section>
    <div class="mainwrapper">
        @Html.Partial("../Shared/LeftMenu")
        <audio id="audio" muted="true" preload="auto" style="display: none" controls="controls" autoplay="false">
            <source src="" type="audio/ogg" />
        </audio>
        @Html.ValidationSummary(true)
        <input type="hidden" id="NumberOfRows" name="NumberOfRows" />
        <input type="hidden" id="SelectedRowValue" />
        <div class="mainpanel">
            <div class="col-md-12 col-lg-12">
                <br />
                <div class="col-lg-12 col-md-12">
                    <div class="col-md-4 col-lg-4">
                        <div class="row">
                            <div class="row">
                                <div id="searchdiv">
                                    <label>Search</label><br />
                                    <div class="row">
                                        <div class="form-group col-md-8 col-lg-8">
                                            <input type="text" name="search" id="searchtext" class="form-control" placeholder="Search" />
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <button type="button" id="searchbutton" class="btn btn-primary glyphicon glyphicon-search" style="width: 75px"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="MaterialListView"></div>
                        </div>
                    </div>

                    <div class="form-group col-md-1 col-lg-1">
                        <div style="float: left; min-height: 650px; width: 1px; background-color: lightgrey;"></div>
                    </div>

                    <!--this div is used to display Right hand side partial view-->
                    <div class="form-group col-md-7 col-lg-7" id="LoadPartialView">
                        <!--this is used o display partial view-->
                        <div id="PartialView"></div>
                    </div>

                    <div class="form-group col-md-7 col-lg-7">

                        <div id="ShowMaterial"></div>

                    </div>
                    <!--end of right hand side div-->

                </div>
            </div>
            <!--end of tile body-->
        </div>
    </div>
</section>
<!-- End: Main -->
