@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "EditPartial";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MaterialDetails.MaterialId)
    @Html.HiddenFor(model => model.MaterialDetails.MaterialCode)

    
    <div class="row">
        <h2><strong>Material </strong>Details</h2>

        <div class="form-group col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>Material Code</label>
                    </div>
                    <div class="form-group col-md-5 col-lg-5">
                        @Html.DisplayFor(model => model.MaterialDetails.MaterialCode)
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>Material Name<i style="color: red">*</i></label>
                    </div>
                    <div class="form-group col-md-5 col-lg-5">
                        @Html.TextBoxFor(model => model.MaterialDetails.MaterialName, new { @class = "form-control", @placeholder = "Material Name" })
                        @Html.ValidationMessageFor(model => model.MaterialDetails.MaterialName, null, new { style = "color:red" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>Material Short Name<i style="color: red">*</i></label>
                    </div>
                    <div class="form-group col-md-5 col-lg-5">
                        @Html.TextBoxFor(model => model.MaterialDetails.MaterialShortName, new { @class = "form-control", @placeholder = "MaterialShortName" })
                        @Html.ValidationMessageFor(model => model.MaterialDetails.MaterialShortName, null, new { style = "color:red" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>Material Description<i style="color: red">*</i></label>
                    </div>
                    <div class="form-group col-md-5 col-lg-5">
                        @Html.TextAreaFor(model => model.MaterialDetails.MaterialDescription, new { @class = "form-control", @placeholder = "Material Description" })
                        @Html.ValidationMessageFor(model => model.MaterialDetails.MaterialCode, null, new { style = "color:red" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-3">
                    <button type="button" class="btn btn-success" onclick="UpdateMaterialPartial()">Update</button>
                </div>
            </div>
        </div>
    </div>
}