@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/CapsLock.compressed.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/customAlerts.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script type="text/javascript">
    $(function () {
        $("#user_UserName").focus();
        CapsLock.addListener(
    function (status) {
        if (status) alert('WARNING: you have turned caps lock ON');
    });

    });
</script>

<script type="text/javascript">
    function alertbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone1.ogg';

        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('alertClass');
        bootbox.alert('<i class="fa fa-2x fa-warning"></i><br>' + message + '<hr>');
    }
</script>

@*REDIRECT TO USER CREATE PAGE*@
<script type="text/javascript">
    function UserCreate() {
        document.getElementById("ChooseView").value = "CreateUser";
        $("#Save").trigger('click');
    }
</script>

@{
    if (ViewData["NotEnoughRights"] != null)
    {
    <script type="text/javascript">
        alertbox("Not Enough Rights To Access This Company");
    </script>
    }
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Retail Login</title>
        <link type="text/css" href="~/Content/font-awesome.css" rel="stylesheet" />
        @*<link type="text/css" href="~/Content/style.default.css" rel="stylesheet" />*@
        <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" href="~/Content/style_login.css" rel="stylesheet" />
        @* <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">*@

        <script type="text/javascript">
            $(document).ready(function () {
                $(".username").focus(function () {
                    $(".user-icon").css("left", "-48px");
                    $(".user-icon").css("top", "200px");
                });
                $(".username").blur(function () {
                    $(".user-icon").css("left", "0px");
                });

                $(".password").focus(function () {
                    $(".pass-icon").css("left", "-48px");
                    $(".pass-icon").css("left", "300px");
                });
                $(".password").blur(function () {
                    $(".pass-icon").css("left", "0px");
                });
            });
        </script>
    </head>

    <body class="signin">

        <!--WRAPPER-->
<div id="wrapper">

	<!--SLIDE-IN ICONS-->
  <div class="user-icon"></div>
    <div class="pass-icon"></div>
    <!--END SLIDE-IN ICONS-->

<!--LOGIN FORM-->
<div class="login-form">

	<!--HEADER-->
    <div class="header">
    <!--TITLE--><!--<h1>Login Form</h1>--><!--END TITLE-->
    <!--DESCRIPTION--><span><img src="~/Images/sretail.png" style="width:100%"/></span><!--END DESCRIPTION-->
    </div>
    <!--END HEADER-->
	
	<!--CONTENT-->
    <div class="content">
	<!--USERNAME-->
        @Html.TextBoxFor(model => model.user.UserName, new { @class = "input username", @placeholder = "Username", @required = "", @autocomplete = "off" })
        <font style="color: red"> @Html.ValidationMessageFor(model => model.user.UserName)</font>
        @*<input name="username" type="text" class="input username" value="Username" onfocus="this.value=''" />*@
        <!--END USERNAME-->
        <!--PASSWORD-->
        @Html.PasswordFor(model => model.user.Password, new { @class = "input password", @placeholder = "Password" })
        <font style="color: red">@Html.ValidationMessageFor(model => model.user.Password)</font>
        @*<input name="password" type="password" class="input password" value="Password" onfocus="this.value=''" />*@
        <!--END PASSWORD-->
            <div>
                @if (ViewBag.errormsg != null)
                {
                    <font size="2" color="red">@Html.Raw(ViewBag.errormsg)</font>
                }
            </div>
            <div>
                @if (ViewBag.msg != null)
                {
                    <script type="text/javascript">
                        alertbox("Only SuperAdmin Can Create Users")
                    </script>
                }
            </div>

    </div>

    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div class="footer">
        <input type="submit" id="Save" style="display: none" />
    <!--LOGIN BUTTON-->
        <input type="submit" name="submit" value="Login" class="button" />
        <input type="hidden" id="ChooseView" name="ChooseView" value="Company" />
       <!--END LOGIN BUTTON-->
    <!--REGISTER BUTTON-->
        <a href="#" onclick="UserCreate()" style="text-align: left; font-size: 15px; color: #f00; text-shadow: 2px 2px 5px #333"><i class="fa fa-user"></i>Create User</a>
        @*<input type="submit" name="submit" value="Create User" class="register" />*@<!--END REGISTER BUTTON-->
    </div>
    <!--END FOOTER-->

</div>
<!--END LOGIN FORM-->

</div>
<!--END WRAPPER-->
        
    </body>
    </html>
}

@{
    if (ViewData["NotEnoughRights"] != null)
    {
    <script type="text/javascript">
        alertbox("Contact SuperAdmin To Gain Rights");
    </script>
    }
}
