@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "PurchaseOrderPrint";
}

<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>
<link href="~/Content/customAlerts.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    function alertbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone1.ogg';

        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('alertClass');
        bootbox.alert('<i class="fa fa-2x fa-warning"></i><br>' + message + '<hr>');
    }

    function confirmbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone2.ogg';
        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('confirmClass');
        bootbox.confirm('<i class="fa fa-2x fa-question-circle"></i><br>' + message + '<hr>',
		 function (result) {
		     if (result) {
		         $.getJSON("/PurchaseOrder/EncodePoId", { id: document.getElementById("PurchaseOrderData_PoId").value },
                    function (encodevalue) {
                        window.open("/PurchaseOrder/PrintPurchaseOrder?id=" + encodevalue, "_target", "width=850,height=842,top=200px,left=300px")
                    });
		     }
		     else {
		         window.location.assign("/PurchaseOrder/PurchaseData");
		     }
		 });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#PurchaseOrderData_PoNo").focus();
        $("#PurchaseOrderData_PoNo").autocomplete({
            source: "/PurchaseOrder/GetPurchaseOrderNos",
            minLength: 1,
            select: function (event, ui) {
                if (ui.item) {
                    $("#PurchaseOrderData_PoNo").val(ui.item.value);

                    var pono = $("#PurchaseOrderData_PoNo").val();
                    $.ajax({
                        url: "/PurchaseOrder/GetPurchaseOrderDetailsForPrint",
                        data: { pono: pono },
                        type: "GET",
                        success: function (data) {

                            $("#LoadPurchaseOrder").html(data);
                        }
                    });
                }
            }
        });
    });
</script>
@Html.Partial("../Shared/Header")
<!-- End: Header -->
<!-- Start: Main -->
<section>
    <div class="mainwrapper">
        <!-- Start: Sidebar -->
        @Html.Partial("../Shared/LeftMenu")
        <!-- End: Sidebar -->
        <audio id="audio" muted="true" preload="auto" style="display: none" controls="controls" autoplay="false">
            <source src="" type="audio/ogg" />
        </audio>
        <!-- Start: Content -->
        <div class="mainpanel">
            <div class="col-md-12 col-lg-12">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <h2>Print Purchase Order</h2>
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <label style="font-size: medium">Purchase Order No:<i style="color: red">*</i></label>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    @Html.TextBoxFor(model => model.PurchaseOrderData.PoNo, new { @class = "form-control", @placeholder = "Purchase Order No" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div style="height: 10px"></div>
                        </div>
                        <div id="LoadPurchaseOrder"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
