@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "SupplierDetails";
}

<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>

<style type="text/css">
    #EmptyData
    {
        text-align: center;
        width: 75px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        var name = $("#name").text();
        $.getJSON("/PurchaseOrder/GetSupplierDetails", { name: name },
           function (data) {
               window.opener.document.getElementById("SupplierDetails").style.display = "inline";
               window.opener.document.getElementById("SupplierState").innerHTML = data.State;
               if (data.Registered == "Yes") {
                   window.opener.$("#Registered").prop("checked", true);
                   window.opener.document.getElementById("PurchaseOrderData_ClientType").value = "Registered";
               }
               else {
                   window.opener.$("#NonRegistered").prop("checked", true);
                   window.opener.document.getElementById("PurchaseOrderData_ClientType").value = "NonRegistered";
               }
               if (data.State == "Maharashtra") {
                   window.opener.document.getElementById("formtypeid").style.display = "none";
                   window.opener.$("#YesRadioButton").attr("disabled", true);
                   window.opener.$("#NoRadioButton").attr("disabled", true);
                   window.opener.$("#NoRadioButton").prop("checked", true);
               }
               else {
                   if (data.Registered == "Yes") {
                       window.opener.$("#YesRadioButton").attr("disabled", false);
                       window.opener.$("#NoRadioButton").attr("disabled", false);
                       window.opener.$("#NoRadioButton").prop("checked", true);
                       window.opener.document.getElementById("formtypeid").style.display = "none";
                       window.opener.$("#ddlformtypes").val("").attr("selected", true);
                   }
                   else {
                       window.opener.$("#YesRadioButton").attr("disabled", true);
                       window.opener.$("#NoRadioButton").attr("disabled", true);
                       window.opener.$("#NoRadioButton").prop("checked", true);
                       window.opener.document.getElementById("formtypeid").style.display = "none";
                       window.opener.$("#ddlformtypes").val("").attr("selected", true);
                   }
               }

               window.opener.$("#PurchaseOrderData_SupplierAddress").val(data.Address);
               window.opener.$("#PurchaseOrderData_SupplierContactNo").val(data.ContactNo1);
               window.opener.$("#PurchaseOrderData_SupplierEmail").val(data.Email);
               window.opener.$("#PurchaseOrderData_SupplierState").val(data.State);

               window.opener.document.getElementById("TransportDetails").style.display = "inline";

               var select = window.opener.$("#ddlgodownnames");
               select.empty();
               select.append($('<option/>', {
                   text: "Godown Name",
                   value: "",
               }));
               $.each(data.godownNames, function (index, itemdata) {
                   select.append($('<option/>', {
                       text: itemdata.Text,
                       value: itemdata.Value,
                   }));
               });
               window.opener.document.getElementById("ddlSubcat").disabled = false;
               window.opener.document.getElementById("PurchaseOrderData_SupplierName").value = name;
           });
    });
    </script>

<script type="text/javascript">
    function Close()
    {
        window.close();
    }
</script>

<div class="col-md-12 col-lg-12">
    <br />
    <div class="tile-body">
        <div class="panel panel-default">
            <div class="panel-heading" style="vertical-align: central; height: 50%">
                <h2>Supplier Details</h2>
            </div>
            <div class="panel-body">
                <div class="col-md-3 col-lg-3">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group row">
                            <label for="exampleSupplierCode">Supplier Code</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.SupplierCode)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputname">Supplier Name</label><br />
                            @{
                                var name = Model.SupplierDetails.SupplierName;
                                }
                            <label style="font-weight:normal" id="name">@name</label>
                            
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputTypeofname">Type Of Supplier</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.SupplierType)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputCountry">Country</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.Country)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputState">State</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.State)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputDistrict">District</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.district)
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group row">
                            <label for="exampleInputCity">City</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.City)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputAddress">Address</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.Address)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPincode">Pincode</label><br />
                            @{
                                var pincode = Model.SupplierDetails.Pincode;
                                if (pincode != null)
                                {
                                @Html.DisplayFor(model => model.SupplierDetails.Pincode)
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>                                     
                                }
                            }
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputContact">Mobile No. 1</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.ContactNo1)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputContact">Mobile No. 2</label><br />
                            @{
                                string idmodel = Model.SupplierDetails.ContactNo2;
                                if (idmodel != null && idmodel != "")
                                {                                  
                                @Html.DisplayFor(model => model.SupplierDetails.ContactNo2)                                    
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>                                     
                                }
                            }
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputContact">LandLine No</label><br />
                            @{
                                string modeldata = Model.SupplierDetails.ContactNo3;
                                if (modeldata != null && modeldata != "")
                                {                                    
                                @Html.DisplayFor(model => model.SupplierDetails.ContactNo3)                                        
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>
                                }                                   
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group row">
                            <label for="exampleInputEmail">Email</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.Email)
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputWebsite">Website</label><br />
                            @{
                                var website = Model.SupplierDetails.Website;
                                if (website != null && website != "")
                                {
                                @Html.DisplayFor(model => model.SupplierDetails.Website)
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>
                                }
                            }
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputSalesTax">Sales Tax No</label><br />
                            @{
                                var salestax = Model.SupplierDetails.STNo;
                                if (salestax != null && salestax != "")
                                {
                                @Html.DisplayFor(model => model.SupplierDetails.STNo)
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>
                                }
                            }
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputGST">GST</label><br />
                            @{
                                var othertax = Model.SupplierDetails.OtherTax;
                                if (othertax != null && othertax != "")
                                {                                    
                                @Html.DisplayFor(model => model.SupplierDetails.OtherTax)                                    
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>                                     
                                }
                            }
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputVAT">VAT No</label><br />
                            @{
                                var vatno = Model.SupplierDetails.VTNo;
                                if (vatno != null && vatno != "")
                                {
                                @Html.DisplayFor(model => model.SupplierDetails.VTNo)
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>                                     
                                }
                            }
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputTDS">TDS</label><br />
                            @{
                                var tds = Model.SupplierDetails.TDSNo;
                                if (tds != null && tds != "")
                                {
                                @Html.DisplayFor(model => model.SupplierDetails.TDSNo)
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group row">
                            <label for="exampleInputPANNo">Pancard</label><br />
                            @{
                                var panno = Model.SupplierDetails.pancard;
                                if (panno != null && panno != "")
                                {
                                @Html.DisplayFor(model => model.SupplierDetails.pancard)
                                }
                                else
                                {     
                                <div id="EmptyData">
                                    <label>---</label>
                                </div>
                                }   
                            }
                        </div>
                        <div class="form-group row">
                            <label>Short Code</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.ShortCode)
                        </div>
                        <div class="form-group row">
                            <label>Dealer</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.checkState)
                        </div>
                        <div class="form-group row">
                            <label>Registered</label><br />
                            @Html.DisplayFor(model => model.SupplierDetails.Registered)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @{
            if (Model.SupplierBankDetailList != null && Model.SupplierBankDetailList.Any())
            {                       
            <div class="panel panel-default">
                <div class="panel-heading" style="vertical-align: central; height: 50%">
                    <h2>Bank Details</h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 col-lg-12">
                        <table class="table-striped col-md-12 col-lg-12" style="border-width: medium; border-color: grey;">
                            <tr>
                                <td class="col-md-2 col-lg-2">
                                    <label style="font-size: medium">Bank Name </label>
                                </td>
                                <td class="col-md-2 col-lg-2">
                                    <label style="font-size: medium">Branch</label>
                                </td>
                                <td class="col-md-2 col-lg-2">
                                    <label style="font-size: medium">Bank IFSCNo</label>
                                </td>
                                <td class="col-md-2 col-lg-2">
                                    <label style="font-size: medium">Bank Address</label>
                                </td>
                                <td class="col-md-2 col-lg-2">
                                    <label style="font-size: medium">Account Type</label>
                                </td>
                                <td class="col-md-2 col-lg-2">
                                    <label style="font-size: medium">Account Number</label>
                                </td>
                                <td class="col-md-2 col-lg-2">
                                    <label style="font-size: medium">MICR Code</label>
                                </td>
                            </tr>
                            @foreach (var bankdata in Model.SupplierBankDetailList)
                            {
                                <tr>
                                    <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankName)</td>
                                    <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.Branch)</td>
                                    <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankIFSCNo)</td>
                                    <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.BankAddress)</td>
                                    <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.AccountType)</td>
                                    <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.AccountNo)</td>
                                    <td class="col-md-2 col-lg-2">@Html.DisplayFor(model => bankdata.MICRCode)</td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>

            }
        }
    </div>
</div>

<div class="col-lg-offset-5 col-md-offset-5">
    <button type="button" class="btn btn-primary" onclick="Close()">Close</button>
</div>