@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "Edit";
}
<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>

<link href="~/Content/customAlerts.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    function alertbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone1.ogg';

        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('alertClass');
        bootbox.alert('<i class="fa fa-2x fa-warning"></i><br>' + message + '<hr>');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("input").not($(":button")).keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields =
$(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
        $("select").keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields =
$(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
        $("textarea").keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields =
$(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#ContactNo1').keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9]/g, '');
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ContactNo2').keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9]/g, '');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ContactNo3').keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9]/g, '');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#pinCode').keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9]/g, '');
            }
        });
    });
</script>

@*this script is usd for auto complete*@
<script type="text/javascript">
    $(function () {
        $("#BankDetails_bankName").autocomplete({
            source: "/Bank/GetBankNames",
            minLength: 1,
            select: function (event, ui) {
                if (ui.item) {
                    $("#BankDetails_bankName").val(ui.item.value);
                    var bankname = document.getElementById("BankDetails_bankName").value;
                    $.ajax({
                        url: '/Bank/LoadBranchesByBankName',
                        type: "GET",
                        data: { name: bankname },
                        success: function (data) {

                            document.getElementById("Searchdiv").style.display = "inline";
                            $("#BranchView").html(data);
                        }
                    });

                }
            }
        });
    });
</script>


@*this srcript is for search buttton*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbutton").click(function () {
            //document.getElementById("Searchdiv").style.display = "inline";
            var idmodel = document.getElementById("searchtext").value;
            $.ajax({
                url: '/Bank/BranchList',
                type: "GET",
                data: { name: idmodel },
                success: function (data) {

                    $("#BranchView").html(data);
                }
            });
        });
    });
</script>


<!--this script is used for display EDIT partial view-->
<script type="text/javascript">
    function BankEditRow(id, bndry, count) {

        document.getElementById("EditPartialView").style.display = "inline";
        document.getElementById("ShowEditView").style.display = "none";

        for (var i = 1; i <= bndry; i++) {
            editid = "EditId" + i;
            rowid = "rowid" + i;

            if (document.getElementById(editid) != null) {
                document.getElementById(rowid).style.backgroundColor = "#F1DDE7";
            }
        }
        RowId = "rowid" + count;
        if (document.getElementById(RowId) != null) {
            document.getElementById(RowId).style.backgroundColor = "lightgreen";
        }

        $.ajax({
            url: '/Bank/EditPartial',
            type: "GET",
            data: { Id: id },
            success: function (data) {

                $("#EditPartialView").html(data);

            }
        });

        document.getElementById("searchtext").disabled = true;
        document.getElementById("searchbutton").disabled = true;
        document.getElementById("EditId" + count).disabled = true;
        document.getElementById('pagertextbox').disabled = true;
        document.getElementById('pagerdropdown').disabled = true;
        document.getElementById("pager").style.display = "none";
        $("#NumberOfRows").val(bndry);
        $("#SelectedRowChange").val(count);
    }
</script>

@*this script is used for show partial view entity*@
<script type="text/javascript">
    function UpdatePartial() {
        var count = 0;
        //this if conditions is for check required fields
        if ($("#BankDetails_address").val() == "" || $("#BankDetails_IFSC").val() == "" ||
            $("#BankDetails_Branch").val() == "" || $("#BankDetails_ContactNo1").val() == "" ||
            $("#BankDetails_bankName").val() == "" || $("#BankDetails_IFSC").val() == "" || $("#BankDetails_email").val() == "") {
            return false;
        }
            //if the above if condition is false check their other validations eg: length,number.(for required fields)
        else if ($("#BankDetails_ContactNo1").val().length < 7 || $("#BankDetails_ContactNo1").val().length > 14) {
            return false;
        }
            //this condition is for non-required fields.
        else {
            if ($("#BankDetails_email").val() != "") {
                $.ajax({
                    url: '/User/EmailValidate',
                    dataType: 'json',
                    async: false,
                    data: { email: $("#BankDetails_email").val() },
                    success: function (data) {
                        if (data != 'true') {
                            count++;
                            return false;
                        }
                    }
                });
            }

            if ($("#BankDetails_ContactNo2").val() != "") {
                if ($("#BankDetails_ContactNo2").val().length < 7 || $("#BankDetails_ContactNo2").val().length > 14) {
                    count++;
                    return false;
                }
            }
            if ($("#BankDetails_ContactNo3").val() != "") {
                if ($("#BankDetails_ContactNo3").val().length < 7 || $("#BankDetails_ContactNo3").val().length > 14) {
                    count++;
                    return false;
                }
            }
            if ($("#BankDetails_pinCode").val() != "") {
                if ($("#BankDetails_pinCode").val().length < 6 || $("#BankDetails_pinCode").val().length > 8) {
                    count++;
                    return false;
                }
            }
            if ($("#BankDetails_MICRCode").val() != "") {
                if ($("#BankDetails_MICRCode").val().length != 9) {
                    count++;
                    return false;
                }
            }
        }
        if (count == 0) {
            //this code is used for show changes in list
            var count = document.getElementById("SelectedRowChange").value;
            var branch = "branch" + count;
            var ifsc = "ifsc" + count;
            document.getElementById(branch).innerHTML = $("#BankDetails_Branch").val();
            document.getElementById(ifsc).innerHTML = $("#BankDetails_IFSC").val();

            //this code is used for to Show first lettr capital
            var txt = document.getElementById("BankDetails_Branch").value;
            txt = txt.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
            document.getElementById(branch).innerHTML = txt;
            document.getElementById("BankDetails_Branch").value = txt;


            var bnk = {
                bankId: $("#BankDetails_bankId").val(),
                bankName: $("#BankDetails_bankName").val(),
                address: $("#BankDetails_address").val(),
                pinCode: $("#BankDetails_pinCode").val(),
                email: $("#BankDetails_email").val(),
                website: $("#BankDetails_website").val(),
                IFSC: $("#BankDetails_IFSC").val(),
                Branch: $("#BankDetails_Branch").val(),
                ContactNo1: $("#BankDetails_ContactNo1").val(),
                ContactNo2: $("#BankDetails_ContactNo2").val(),
                ContactNo3: $("#BankDetails_ContactNo3").val(),
                MICRCode: $("#BankDetails_MICRCode").val(),
            };

            $.ajax({
                url: "/Bank/EditPartial",
                type: "Post",
                data: JSON.stringify(bnk),
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    document.getElementById('EditPartialView').style.display = "inline";
                    document.getElementById('ShowEditView').style.display = "none";
                    $("#EditPartialView").html(data);
                }
            });
            document.getElementById("EditId" + count).disabled = false;
            document.getElementById("rowid" + count).style.background = "#F1DDE7";
            document.getElementById("pager").style.display = "inline";
            document.getElementById('pagertextbox').disabled = false;
            document.getElementById('pagerdropdown').disabled = false;
            document.getElementById("searchtext").disabled = false;
            document.getElementById("searchbutton").disabled = false;
        }
    }
</script>

<!-- Start: Header -->
@Html.Partial("../Shared/Header")
<!-- End: Header -->
<!-- Start: Main -->
<section>
    <div class="mainwrapper">
        <!-- Start: Sidebar -->
        @Html.Partial("../Shared/LeftMenu")
        <!-- End: Sidebar -->
        <!-- Start: Content -->
        <div class="mainpanel">
            @Html.ValidationSummary(true)
            <input type="hidden" id="NumberOfRows" name="NumberOfRows" />
            <input type="hidden" id="SelectedRowChange" />

            <audio id="audio" muted="true" preload="auto" style="display: none" controls="controls" autoplay="false">
                <source src="" type="audio/ogg" />
            </audio>

            <div class="col-md-12 col-lg-12">
                <br />
                <div class="form-group col-md-4 col-lg-4">
                    <div class="form-group col-md-11 col-lg-11">
                        <div class="row">
                            <div class="row">
                                <div class="row">
                                    <div class="form-group col-md-11 col-lg-11">
                                        <label>Bank Name</label>
                                        @Html.TextBoxFor(model => model.BankDetails.bankName, new { @class = "form-control", @placeholder = "Bank Name" })
                                    </div>
                                </div>
                                <div class="row" id="Searchdiv" style="display: none">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-lg-12">
                                            @Html.Label("Search")
                                            <div class="row">
                                                <div class="form-group col-md-8 col-lg-8">
                                                    @Html.TextBox("search", ViewData.TemplateInfo.FormattedModelValue, new { placeholder = "Search", @class = "form-control", id = "searchtext" })
                                                </div>
                                                <button type="submit" id="searchbutton" class="btn btn-primary glyphicon glyphicon-search" style="width: 70px"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 col-lg-12">
                                    <div class="form-group col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12">
                                                <div id="BranchView"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="float: left; min-height: 650px; width: 1px; background-color: lightgrey;"></div>
                </div>


                <div class="form-group col-md-8 col-lg-8">
                    <div id="EditPartialView"></div>
                    <div id="ShowEditView"></div>
                </div>

            </div>
        </div>
    </div>
</section>

