@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "GetInwardInterGodownDetailsForPrint";
}

<script type="text/javascript">
    $(function () {

        var temp = $("#date").text();
        var dat = new Date(temp);
        var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var data = dat.getDate() + "/" + month[dat.getMonth()] + "/" + dat.getFullYear();
        document.getElementById('date').innerHTML = data;

        $("#Print").click(function () {
            confirmbox("Do You Want To Print This Inward?");
        });
    });
</script>

@Html.HiddenFor(model => model.InwardInterGodownDetails.Id)

<table style="border: 1px double; width: 100%">
    <tr>
        <td>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="form-group col-md-4 col-lg-4">
                            <div class="col-lg-12 col-md-12">
                                <label style="font-size: 15px">From Godown Details</label><br />
                                <div class="col-md-12 col-lg-12">
                                    <label>Name: &nbsp</label>@Html.DisplayFor(model => model.InwardInterGodownDetails.FromGodownName)<br />
                                    <label>Contact Number: &nbsp</label>@Html.DisplayFor(model => model.InwardInterGodownDetails.FromGodownContactNo)<br />
                                    <label>Email: &nbsp</label>@Html.DisplayFor(model => model.InwardInterGodownDetails.FromGodownEmail)<br />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-lg-4">
                            <div class="col-md-12 col-lg-12">
                                <div style="float: left; min-height: 175px; width: 1px; background-color: GrayText;"></div>
                                <div class="col-md-11 col-lg-11">
                                    <label style="font-size: 15px">Store Keeper Details</label>
                                    <div class="col-md-12 col-lg-12">
                                        <label>Name: &nbsp</label>@Html.DisplayFor(model => model.InwardInterGodownDetails.StoreKeeperName)<br />
                                        <label>Email: &nbsp</label>@Html.DisplayFor(model => model.InwardInterGodownDetails.StoreKeeperEmail)<br />
                                        <label>Contact Number: &nbsp</label>@Html.DisplayFor(model => model.InwardInterGodownDetails.StoreKeeperContact)<br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-lg-4">
                            <div style="float: left; min-height: 175px; width: 1px; background-color: GrayText;"></div>
                            <div class="row">
                                <div class="col-md-11 col-lg-11">
                                    @{
                                        string dt = Convert.ToDateTime(Model.InwardInterGodownDetails.Date).ToString("MM/dd/yyyy");
                                    }
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div style="height: 2px"></div>
                                                <label>Date</label>
                                            </td>
                                            <td>
                                                <label style="font-weight: normal" id="date">&nbsp @dt</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>Inward No</label>
                                            </td>
                                            <td>
                                                <label style="font-weight: normal" id="pono">&nbsp @Model.InwardInterGodownDetails.InwardCode</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div style="height: 6px"></div>
                                                <label>Outward No</label>
                                            </td>
                                            <td>
                                                <label style="font-weight: normal">&nbsp @Html.DisplayFor(model => model.InwardInterGodownDetails.OutwardCode)</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div style="height: 6px"></div>
                                                <label>Reference No</label>
                                            </td>
                                            <td>
                                                <label style="font-weight: normal">&nbsp @Html.DisplayFor(model => model.InwardInterGodownDetails.GatePass)</label>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="col-lg-12 col-md-12">
                            <label style="font-size: medium">&nbsp Item Details</label>
                        </div>
                        <div class="form-group col-md-12 col-lg-12">
                            <table border="1" width="100%" style="border-collapse: collapse;" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1 col-md-1">S No.</th>
                                        <th class="col-md-2 col-lg-2">
                                            <label class="CenterText">Item</label></th>
                                        <th class="col-md-2 col-lg-2">
                                            <label class="CenterText">Description</label></th>
                                        <th class="col-md-1 col-lg-1">
                                            <label class="CenterText">Color</label></th>
                                        <th class="col-md-1 col-lg-1">
                                            <label class="CenterText">Material</label></th>
                                        <th class="col-md-2 col-lg-2">
                                            <label class="CenterText">Design</label></th>
                                        <th class="col-md-1 col-lg-1">
                                            <label class="CenterText">Rate</label></th>
                                        <th class="col-md-1 col-lg-1">
                                            <label class="CenterText">Quantity</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.InwardInterGodownItemList.Count() != 0 && Model.InwardInterGodownItemList.Any())
                                        {
                                            int count = 1;
                                            foreach (var item in Model.InwardInterGodownItemList)
                                            {
                                        <tr>
                                            @{
                                                string qty = Convert.ToDouble(item.Quantity).ToString("#,###.00##");
                                                string rate = Convert.ToDouble(item.MRP).ToString("#,###.00##");
                                                string balamt = string.Empty;
                                            }
                                            <td class="col-lg-1 col-md-1">@count</td>
                                            <td class="col-md-2 col-lg-2" style="text-align: left">
                                                <label style="font-weight: normal">@item.ItemName</label></td>
                                            <td class="col-md-2 col-lg-2" style="text-align: left">
                                                <label style="font-weight: normal">@item.ItemDescription</label></td>
                                            <td class="col-md-1 col-lg-1" style="text-align: left">
                                                <label style="font-weight: normal">@item.Color</label></td>
                                            <td class="col-md-1 col-lg-1" style="text-align: left">
                                                <label style="font-weight: normal">@item.Material</label></td>
                                            <td class="col-md-2 col-lg-2" style="text-align: left">
                                                <label style="font-weight: normal">@item.DesignName</label></td>
                                            <td class="col-md-1 col-lg-1" style="text-align: right">
                                                <label style="font-weight: normal">@rate</label></td>
                                            <td class="col-md-1 col-lg-1" style="text-align: right">
                                                <label style="font-weight: normal">@qty</label></td>
                                        </tr>
                                                count++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-10 col-md-10"></div>
                            <div class="col-lg-2 col-md-2">
                                <label>Prepared By</label>
                                <br />
                                <label style="font-weight: normal">@Html.DisplayFor(model => model.InwardInterGodownDetails.EmpName)</label>
                            </div>
                        </div>

                        @{
                            if (Model.InwardInterGodownDetails.Narration != null)
                            { 
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-2 col-md-2">
                                    <label>Narration</label>
                                </div>
                                <div class="col-lg-10 col-md-10">

                                    @Html.DisplayFor(model => model.InwardInterGodownDetails.Narration)

                                </div>
                            </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<br />
<div class="row">
    <input type="button" id="Print" class="col-md-offset-6 col-lg-offset-6 btn btn-blue" value="Print" />
</div>
