@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "GetItemsListFromInward";
}

<script type="text/javascript">
    $(function () {
        $("#NonInvButton").click(function () {
            var noninvrowid = document.getElementById("hdnRowCount").value;
            var validationcounter = 0;
            for (var i = 1; i <= noninvrowid; i++) {
                var previtemCode = "itemCode" + i;
                var prevfreeqty = "FreeQty" + i;
                var prevquantity = "receivedquantity" + i;
                var prevdiscount = "discount" + i;
                var prevrate = "rate" + i;
                if (document.getElementById(previtemCode) != null) {
                    if ($("#" + previtemCode).val() == "") {
                        alertbox("Please Select The Item");
                        document.getElementById("Submit").disabled = true;
                        validationcounter++;
                        break;
                    }
                    else if ($("#" + prevquantity).val() == "") {
                        alertbox("Please Fill The Quantity");
                        document.getElementById("Submit").disabled = true;
                        validationcounter++;
                        break;
                    }
                    else if ((+$("#" + prevrate).val()) == 0 || $("#" + prevrate).val() == "") {
                        alertbox("Please Fill The Rate");
                        document.getElementById("Submit").disabled = true;
                        validationcounter++;
                        break;
                    }
                    else {
                        if (document.getElementById(previtemCode).disabled != true) {
                            document.getElementById(prevfreeqty).disabled = true;
                            document.getElementById(previtemCode).disabled = true;
                            document.getElementById(prevquantity).disabled = true;
                            document.getElementById(prevdiscount).disabled = true;
                        }
                    }
                }
            }
            if (validationcounter == 0) {
                noninvrowid = +noninvrowid + 1;
                var row = "row" + noninvrowid;
                var subcat = "SubCat" + noninvrowid;
                var noninvItemType = "ItemType" + noninvrowid;
                var noninvitem = "itemCode" + noninvrowid;
                var noninvdescription = "description" + noninvrowid;
                var noninvdescriptionvalue = "descriptionvalue" + noninvrowid;
                var noninvrate = "rate" + noninvrowid;
                var noninvmrp = "MRP" + noninvrowid;
                var noninvsellingprice = "sellingprice" + noninvrowid;
                var noninvquantity = "receivedquantity" + noninvrowid;
                var noninvextraqty = "ExtraQty" + noninvrowid;
                var noninvfreeqty = "FreeQty" + noninvrowid;
                var noninvbalanceqty = "balanceqty" + noninvrowid;
                var noninvdis = "discount" + noninvrowid;
                var noninvunit = "unit" + noninvrowid;
                var noninvamount = "amount" + noninvrowid;
                var noninvitemtax = "ItemTax" + noninvrowid;
                var noninvproportionatetax = "proportionatetax" + noninvrowid;

                var noninvitemname = "itemName" + noninvrowid;
                var noninvdesigncode = "design" + noninvrowid;
                var noninvdesignname = "designName" + noninvrowid;
                var noninvdesignnamevalue = "designNameValue" + noninvrowid;
                var noninvcolorvalue = "colorvalue" + noninvrowid;
                var noninvbrandvalue = "brandvalue" + noninvrowid;
                var noninvsizevalue = "sizevalue" + noninvrowid;
                var noninvmaterialvalue = "materialvalue" + noninvrowid;
                var noninvunitvalue = "unitvalue" + noninvrowid;
                var noninvnumbertype = "numberType" + noninvrowid;
                var noninvamountvalue = "amountvalue" + noninvrowid;
                var noninvitemtaxvalue = "ItemTaxValue" + noninvrowid;
                var noninvproptaxvalue = "proportionatetaxvalue" + noninvrowid;
                var noninvproptaxamount = "proportionatetaxamount" + noninvrowid;
                var noninvnewlyadded = "NewAdded" + noninvrowid;

                var ItemListFrom = document.getElementById("GetItemListFrom").value;
                var unorderedList;
                if (ItemListFrom == "From PO")
                { unorderedList = $("#ItemsFromPO"); }
                else
                { unorderedList = $("#ItemsFromPerforma"); }

                var data = "<tr id='" + row + "'><input type='hidden' id='" + subcat + "' name='" + subcat + "' />";
                data += "<td><select id='" + noninvitem + "' name='" + noninvitem + "' class='form-control col-md-2 col-lg-2'><option value=''>Select</option></select><input type='hidden' id='" + noninvitemname + "' name='" + noninvitemname + "' /></td>";
                data += "<td><label id='" + noninvdescription + "' style='text-align:center;width:100%;font-weight:normal'>---</label><input type='hidden' name='" + noninvdescriptionvalue + "' id='" + noninvdescriptionvalue + "'><input type='hidden' id='" + noninvcolorvalue + "' name='" + noninvcolorvalue + "'/><input type='hidden' id='" + noninvmaterialvalue + "' name='" + noninvmaterialvalue + "' /></td>";
                data += "<td style='text-align:left'><label id='" + noninvdesignname + "' style='font-weight:normal'>---</label><input type='hidden' id='" + noninvdesigncode + "' name='" + noninvdesigncode + "'/><input type='hidden' id='" + noninvdesignnamevalue + "' name='" + noninvdesignnamevalue + "'/><input type='hidden' name='" + noninvsizevalue + "' id='" + noninvsizevalue + "'><input type='hidden' name='" + noninvbrandvalue + "' id='" + noninvbrandvalue + "'></td>";
                data += "<td style='text-align:right'><label style='font-weight:normal'>0</label></td>";
                data += "<td style='text-align:right'><label style='font-weight:normal'>0</label></td>";
                data += "<td style='text-align:right'><label style='font-weight:normal'>0</label></td>";
                data += "<td><input type='text' id='" + noninvquantity + "' name='" + noninvquantity + "' autocomplete='off' class='form-control col-md-1 col-lg-1' placeholder='Qty' style='text-align:center;width:100%' onchange='CalculateItemWiseAmount(" + noninvrowid + ")' onkeypress='return AllowDecimal(event," + noninvrowid + ")' /><input type='hidden' name='" + noninvextraqty + "' id='" + noninvextraqty + "' value='0' /></td>";
                data += "<td><input type='text' id='" + noninvfreeqty + "' name='" + noninvfreeqty + "' autocomplete='off' class='form-control col-md-1 col-lg-1' placeholder='Qty' style='text-align:center;width:100%' value='0' onkeypress='return AllowDecimal(event," + noninvrowid + ")' /></td>";
                data += "<td style='text-align:right'><label style='font-weight:normal' id='" + noninvbalanceqty + "'>0</label></td>";
                data += "<td style='text-align:left'><label id='" + noninvunit + "' style='font-weight:normal'>---</label><input type='hidden' name='" + noninvunitvalue + "' id='" + noninvunitvalue + "'><input type='hidden' name='" + noninvnumbertype + "' id='" + noninvnumbertype + "'></td>";
                data += "<td><input type='text' id='" + noninvrate + "' name='" + noninvrate + "' autocomplete='off' disabled='disabled' class='form-control col-md-1 col-lg-1' placeholder='Qty' style='text-align:center;width:100%' onchange='CalculateItemWiseAmount(" + noninvrowid + ")' onkeypress='return AllowNumbers(event," + noninvrowid + ")' /><input type='hidden' id='" + noninvmrp + "' name='" + noninvmrp + "'/><input type='hidden' id='" + noninvsellingprice + "' name='" + noninvsellingprice + "'/></td>";
                data += "<td><input type='text' id='" + noninvdis + "' name='" + noninvdis + "' autocomplete='off' class='form-control col-md-1 col-lg-1' placeholder='0' style='text-align:center;width:100%' onchange='CalculateItemWiseAmount(" + noninvrowid + ")' onkeypress='return AllowNumbers(event," + noninvrowid + ")' /></td>";
                data += "<td style='text-align:right'><label id='" + noninvitemtax + "'>0</label><input type='hidden' id='" + noninvitemtaxvalue + "' name='" + noninvitemtaxvalue + "' value='0'/></td>";
                data += "<td style='text-align:right'><label  id='" + noninvamount + "'></label><input type='hidden' id='" + noninvamountvalue + "' name='" + noninvamountvalue + "' value='0'/></td>";
                data += "<td style='text-align:right'><label id='" + noninvproportionatetax + "'>0</label><input type='hidden' id='" + noninvproptaxvalue + "' name='" + noninvproptaxvalue + "' value='0' /><input type='hidden' id='" + noninvproptaxamount + "' name='" + noninvproptaxamount + "' value='0' /></td>";
                data += "<td><div style='height:2px'></div><a href='#' onclick='DeleteRow(" + noninvrowid + ")' class='fa fa-trash fa-lg' style='color:red;' /><input type='hidden' id='" + noninvItemType + "' name='" + noninvItemType + "' value='Non-Inventory'/><input type='hidden' id='" + noninvnewlyadded + "' name='" + noninvnewlyadded + "' value='Newadded'/></td></tr>";
                unorderedList.append(data);

                $.getJSON("/Inward/GetNonInventoryItems",
                function (data) {

                    var select = $("#" + noninvitem);
                    select.empty();
                    select.append($('<option>', {
                        text: "Select Item",
                        value: "",
                    }));
                    $.each(data, function (index, itemdata) {
                        select.append($('<option>', {
                            text: itemdata.Text + " " + itemdata.Value,
                            value: itemdata.Value,
                        }));
                    });
                });

                $("#" + noninvitem).change(function () {
                    var noninvitemcode = document.getElementById(noninvitem).value;
                    if (noninvitemcode != "") {
                        $("#Submit").attr("disabled", false);
                        var qty = "receivedquantity" + noninvrowid;
                        var freeqty = "FreeQty" + noninvrowid;
                        var amt = "amount" + noninvrowid;
                        var rate = "rate" + noninvrowid;
                        var description = "description" + noninvrowid;
                        var designname = "designName" + noninvrowid;
                        var discount = "discount" + noninvrowid;
                        var itemtax = "ItemTax" + noninvrowid;
                        if (document.getElementById(qty) != null) {
                            document.getElementById(qty).value = "";
                            document.getElementById(amt).innerHTML = "";
                            document.getElementById(freeqty).value = "0";
                            document.getElementById(rate).value = "";
                            document.getElementById(description).innerHTML = "---";
                            document.getElementById(designname).innerHTML = "---";
                            document.getElementById(itemtax).innerHTML = "";
                            document.getElementById(discount).value = "0";
                        }

                        var validationcount = 0;
                        for (var i = 1; i < noninvrowid; i++) {
                            var prevquantity = "receivedquantity" + i;
                            var prevfreeqty = "FreeQty" + i;
                            var prevrate = "rate" + i;
                            var prevdiscount = "discount" + i;
                            if (document.getElementById(prevquantity) != null) {
                                if ($("#" + prevquantity).val() == "") {
                                    alertbox("Please Fill The Quantity");
                                    validationcount++;
                                }
                                else if ((+$("#" + prevrate).val()) == 0 || $("#" + prevrate).val() == "") {
                                    alertbox("Please Fill The Rate");
                                    validationcount++;
                                }
                                else {
                                    if (document.getElementById(prevquantity).disabled == false) {
                                        document.getElementById(prevquantity).disabled = true;
                                        document.getElementById(prevfreeqty).disabled = true;
                                        document.getElementById(prevdiscount).disabled = true;
                                    }
                                }
                            }
                        }
                        if (validationcount == 0) {
                            var Formtype = "";
                            if (document.getElementById("formtypeid").style.display == "inline") {
                                Formtype = $("#InwardFromSupplierDetails_FormType").val();
                            }
                            $.getJSON("/Inward/GetInventoryAndNonInvItemDetailsFromItems",
                                {
                                    itemname: noninvitemcode,
                                    State: $("#InwardFromSupplierDetails_SupplierState").val(),
                                    Formtype: Formtype,
                                    ItemType: $("#" + noninvItemType).val(),
                                },
                         function (data) {
                             document.getElementById("receivedquantity" + noninvrowid).value = "";
                             document.getElementById("amount" + noninvrowid).innerHTML = 0.00;
                             document.getElementById("amountvalue" + noninvrowid).innerHTML = 0.00;
                             $("#" + subcat).val(data.subcat);
                             $("#" + noninvitemname).val(data.itemName);
                             $("#" + noninvdescription).text(data.description);
                             $("#" + noninvdescriptionvalue).val(data.description);
                             $("#" + noninvsellingprice).val(data.sellingprice);
                             $("#" + noninvmrp).val(data.mrp);
                             $("#" + noninvrate).val(data.costprice);
                             $("#" + noninvcolorvalue).val(data.colorname);
                             $("#" + noninvbrandvalue).val(data.brandName);
                             $("#" + noninvsizevalue).val(data.size);
                             $("#" + noninvdesigncode).val(data.designCode);
                             $("#" + noninvdesignname).text(data.designName);
                             $("#" + noninvdesignnamevalue).val(data.designName);
                             $("#" + noninvmaterialvalue).val(data.typematerial);
                             $("#" + noninvunit).text(data.unit);
                             $("#" + noninvunitvalue).val(data.unit);
                             $("#" + noninvnumbertype).val(data.NumberType);
                             $("#" + noninvitemtax).text(data.taxPercent);
                             $("#" + noninvitemtaxvalue).val(data.taxPercent);

                             var tax = data.taxPercent;
                             if (tax != '0') {
                                 var taxcount = document.getElementById("ItemTaxCount").value;
                                 if ($("#ItemTaxNumber" + taxcount).val() == 0) {
                                     $("#ItemTaxNumber" + taxcount).val(tax);
                                     document.getElementById("AddTaxes").style.display = "inline";
                                     $("#AddedTax1").text(tax + "%");
                                 }
                                 else {
                                     var taxpresent = 0;
                                     for (var i = 1; i <= taxcount; i++) {
                                         var taxno = "ItemTaxNumber" + i;
                                         if (tax == $("#" + taxno).val()) {
                                             taxpresent++;
                                         }
                                     }
                                     if (taxpresent == 0) {
                                         taxcount++;
                                         var taxno = "ItemTaxNumber" + taxcount;
                                         var data = "<input type='hidden' id='" + taxno + "' name='" + taxno + "' value='" + tax + "' />";
                                         $("#AllTaxesNumbersValue").append(data);
                                         var addedtaxno = "AddedTax" + taxcount;
                                         var addedtaxamount = "AddedTaxAmount" + taxcount;
                                         var addedtaxamounthdn = "AddedTaxAmounthdn" + taxcount;
                                         var addedamount = "AddedAmount" + taxcount;
                                         var addedamounthdn = "AddedAmounthdn" + taxcount;
                                         var newlabel = "<div class='row'><div class='col-md-3 col-lg-3'><label id='" + addedamount + "'>0</label><input type='hidden' id='" + addedamounthdn + "' name='" + addedamounthdn + "' value='0' /></div>";
                                         newlabel += "<div class='col-md-2 col-lg-2'><label id='" + addedtaxno + "'>" + tax + "%" + "</label></div>";
                                         newlabel += "<div class='col-md-7 col-lg-7'><label id='" + addedtaxamount + "'>0</label><input type='hidden' id='" + addedtaxamounthdn + "' name='" + addedtaxamounthdn + "' value='0' /></div></div>";
                                         $("#AddTaxes").append(newlabel);
                                         $("#ItemTaxCount").val(taxcount);
                                     }
                                 }
                             }
                             var CostPrice = +$("#" + noninvrate).val();
                             var Tax = +$("#" + noninvitemtaxvalue).val();
                             var MRP = +$("#" + noninvmrp).val();
                             taxoncostprice = (CostPrice * Tax) / 100;
                             var taxpercentoncostprice = CostPrice / (CostPrice + taxoncostprice) * Tax;
                             var Sellingprice = MRP - (MRP * +taxpercentoncostprice / 100);
                             $("#sellingprice" + noninvrowid).val(Sellingprice.toFixed(2));
                         });
                        }
                        else {
                            $("#itemCode" + noninvrowid).val("").attr("selected", true);
                        }
                    }
                    else {
                        alertbox("Please Select Item First");
                        document.getElementById("receivedquantity" + noninvrowid).value = 0;
                        document.getElementById("FreeQty" + noninvrowid).value = 0;
                        document.getElementById("amount" + noninvrowid).innerHTML = 0.00;
                        document.getElementById("proportionatetax" + rowid).innerHTML = 0;
                        $("#description" + noninvrowid).text("---");
                        $("#designName" + noninvrowid).text("---");
                        $("#discount" + noninvrowid).val("0");
                        $("#rate" + noninvrowid).val(0.00);
                        $("#unit" + noninvrowid).text("---");
                        $("#ItemTax" + noninvrowid).text("0");
                        CalculateItemWiseAmount(noninvrowid);
                        CalculateTaxSummary(noninvrowid);
                        CalculateTotalQuantityAndAmount();
                    }
                });
                $("#hdnRowCount").val(noninvrowid);
            }
        });
    });
</script>
<script type="text/javascript">
    function CalculatePackAndForwd() {
        var rowid = document.getElementById("hdnRowCount").value;
        var packandforwd = (+document.getElementById("InwardFromSupplierDetails_PackAndForwd").value);
        for (var i = 1; i <= rowid; i++) {
            CalculateItemWiseAmount(i);
        }
    }
</script>
<div id="AllTaxesNumbersValue">
    @if (Model.PurchaseInventoryTaxList.Count() == 0)
    {
        <input type="hidden" id="ItemTaxCount" name="ItemTaxCount" value="1" />
        <input type="hidden" id="ItemTaxNumber1" name="ItemTaxNumber1" value="0" />
    }
    else
    {
        <input type="hidden" id="ItemTaxCount" name="ItemTaxCount" value="@Model.PurchaseInventoryTaxList.Count()" />
    }
</div>

<div class="col-md-12 col-lg-12" id="AddingRows" style="display: none;">
    <div class="col-md-12 col-lg-12">
        <div style="width: 100%; height: 2px; background-color: gray;"></div>
    </div>
    <br />
    <div class="col-md-12 col-lg-12">
        @if (Model.InwardItemsFromSupplierList != null && Model.InwardItemsFromSupplierList.Any())
        {
            <table class="table" id="ItemsFromPerforma" style="display: none">
                <thead>
                    <tr>
                        <th>
                            <label class="CenterText">Item</label></th>
                        <th>
                            <label class="CenterText">Description</label></th>
                        <th>
                            <label class="CenterText">Design</label></th>
                        <th>
                            <label class="CenterText">
                                Ord.<br />
                                Qty</label></th>
                        <th>
                            <label class="CenterText">
                                Pre.<br />
                                Bal</label></th>
                        <th>
                            <label class="CenterText">
                                Rcd.<br />
                                Till</label></th>
                        <th>
                            <label class="CenterText">
                                Rcd<br />
                                Qty<i style="color: red">*</i></label></th>
                        <th>
                            <label class="CenterText">
                                Free<br />
                                Qty</label></th>
                        <th>
                            <label class="CenterText">Bal</label></th>
                        <th>
                            <label class="CenterText">Unit</label></th>
                        <th>
                            <label class="CenterText">Rate<i style="color: red">*</i></label></th>
                        <th>
                            <label class="CenterText">
                                Disc<br />
                                (%)</label></th>
                        <th>
                            <label class="CenterText">
                                Tax<br />
                                (%)</label></th>
                        <th>
                            <label class="CenterText">Amt</label></th>
                        <th>
                            <label class="CenterText">
                                Prop<br />
                                Tax(%)</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
            string row = string.Empty;
            string itemcode = string.Empty;
            string itemtype = string.Empty;
            string orderedquantity = string.Empty;
            string receivedquantity = string.Empty;
            string rate = string.Empty;
            string mrp = string.Empty;
            string sellingprice = string.Empty;
            string balanceqtyvalue = string.Empty;
            string balanceqty = string.Empty;
            string amount = string.Empty;
            string discount = string.Empty;
            string numbertype = string.Empty;
            string itemtaxvalue = string.Empty;
            string amountvalue = string.Empty;
            string prevbal = string.Empty;
            string freeqty = string.Empty;
            string extraqty = string.Empty;
            string barcode = string.Empty;
            string proportionatetax = string.Empty;
            string proportionatetaxvalue = string.Empty;
            string proportionateamount = string.Empty;
            int rowid = 1;
            int rowcount = Model.InwardItemsFromSupplierList.Count();
            foreach (var item in Model.InwardItemsFromSupplierList)
            {
                row = "row" + rowid;
                itemcode = "itemCode" + rowid;
                itemtype = "ItemType" + rowid;
                orderedquantity = "orderedquantity" + rowid;
                receivedquantity = "receivedquantity" + rowid;
                rate = "rate" + rowid;
                mrp = "MRP" + rowid;
                sellingprice = "sellingprice" + rowid;
                amount = "amount" + rowid;
                amountvalue = "amountvalue" + rowid;
                discount = "discount" + rowid;
                balanceqty = "balanceqty" + rowid;
                balanceqtyvalue = "balanceqtyvalue" + rowid;
                numbertype = "numberType" + rowid;
                prevbal = "prevbal" + rowid;
                freeqty = "FreeQty" + rowid;
                extraqty = "ExtraQty" + rowid;
                itemtaxvalue = "ItemTaxValue" + rowid;
                proportionatetax = "proportionatetax" + rowid;
                proportionatetaxvalue = "proportionatetaxvalue" + rowid;
                proportionateamount = "proportionatetaxamount" + rowid;
                barcode = "barcode" + rowid;
                        <tr id="@row">
                            <td style="text-align: left">
                                <label style="font-weight: normal">@item.Item</label>
                                <input type="hidden" id="@barcode" name="@barcode" value="@item.Barcode" />
                                <input type="hidden" id="@itemcode" value="@item.itemCode" />
                                <input type="hidden" id="@itemtype" value="@item.ItemType" />
                            </td>
                            <td style="text-align: left">
                                <label style="font-weight: normal">@item.Description</label></td>
                            <td style="text-align: left">
                                <label style="font-weight: normal">@item.DesignName</label></td>
                            <td style="text-align: right">
                                <label id="@orderedquantity" style="font-weight: normal">@item.OrderedQuantity</label></td>
                            <td style="text-align: right">
                                <label id="@prevbal" style="font-weight: normal; color:red">@item.Balance</label></td>
                            <td style="text-align: right">
                                <label style="font-weight: normal">@item.ReceivedQuantity</label></td>
                            <td class="col-md-1 col-lg-1">
                                <input type="text" style="text-align:center" id="@receivedquantity" name="@receivedquantity" class="form-control" autocomplete="off" onchange="CalculateBalance(@rowid,'Performa','quantity')" />
                                <input type="hidden" id="@extraqty" name="@extraqty" value="0" />
                            </td>
                            <td class="col-md-1 col-lg-1">
                                <input type="text" id="@freeqty" style="text-align:center" name="@freeqty" value="0" autocomplete="off" class="form-control" />
                            </td>
                            <td style="text-align: right">
                                <label id="@balanceqty" style="font-weight: normal">0</label>
                                <input type="hidden" id="@balanceqtyvalue" name="@balanceqtyvalue" value="0" />
                            </td>
                            <td style="text-align: left">
                                <label style="font-weight: normal">@item.Unit</label>
                                <input type="hidden" id="@numbertype" name="@numbertype" value="@item.NumberType" /></td>
                            <td class="col-md-1 col-lg-1" style="text-align: right">
                                <input id="@rate" name="@rate" value="@item.CostPrice" class="form-control" style="font-weight: normal;text-align:center" disabled="disabled" onchange="CalculateBalance(@rowid,'Performa','')" onkeypress="return AllowNumbers(event)"/>
                                <input type="hidden" id="@mrp" name="@mrp" value="@item.MRP" />
                                <input type="hidden" id="@sellingprice" name="@sellingprice" value="@item.SellingPrice" />
                            </td>
                            <td style="text-align: center">
                                <label id="@discount" style="font-weight: normal">@item.Discount</label></td>
                            <td style="text-align: right">
                                <label>@item.ItemTax</label>
                                <input type="hidden" id="@itemtaxvalue" name="@itemtaxvalue" value="@item.ItemTax" />
                            </td>
                            <td style="text-align: right">
                                <label id="@amount">@item.Amount</label>
                                <input type="hidden" id="@amountvalue" name="@amountvalue" value="@Convert.ToDouble(item.Amount).ToString("#,###.00##")" />
                            </td>
                            <td style="text-align: right">
                                <label id="@proportionatetax">@item.ProportionateTax</label>
                                <input type="hidden" id="@proportionatetaxvalue" name="@proportionatetaxvalue" value="@item.ProportionateTax" />
                                <input type="hidden" id="@proportionateamount" name="@proportionateamount" value="@item.ProportionateTaxAmt" />
                            </td>
                            <td></td>
                        </tr>
                rowid += 1;
            }
                        <input type="hidden" id="hdnRowCount" name="hdnRowCount" value="@rowcount" />
                        <script type="text/javascript">
                            document.getElementById("AlreadyPresentItems").value = +"@rowcount";
                        </script>
                    }
                </tbody>
            </table>
            
        }
        else
        {
            <label id="ItemsFromPerforma" style="color: green; margin-left: 35%; font-size: x-large">All Items Received</label>
            <script type="text/javascript">
                document.getElementById("Submit").disabled = true;
                document.getElementById("CreateNewItem").style.display = "none";
            </script>
        }
    </div>
    <div class="row" id="TotalQuantityDetails" style="display: none">
        <div class="col-md-12 col-lg-12">
            <div style="width: 100%; height: 2px; background-color: gray;"></div>
            <div style="height: 5px"></div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="col-md-5 col-lg-5">
                        <div class="col-md-12 col-lg-12">
                            <div id="AddTaxes" style="display: none">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <label style="font-size: 14px">Tax Summary:</label>
                                    </div>
                                </div>
                                @{
                                    if (Model.PurchaseInventoryTaxList.Count() == 0)
                                    {
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3">
                                            <label id="AddedAmount1">0</label>
                                            <input type="hidden" id="AddedAmounthdn1" name="AddedAmounthdn1" value="0" />
                                        </div>
                                        <div class="col-md-2 col-lg-2">
                                            <label id="AddedTax1"></label>
                                        </div>
                                        <div class="col-md-7 col-lg-7">
                                            <label id="AddedTaxAmount1">0</label>
                                            <input type="hidden" id="AddedTaxAmounthdn1" name="AddedTaxAmounthdn1" value="0" />
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                        int taxcount = 1;
                                        foreach (var tax in Model.PurchaseInventoryTaxList)
                                        {
                                            string addedtax = "AddedTax" + taxcount;
                                            string taxnumber = "ItemTaxNumber" + taxcount;
                                            string addedtaxamount = "AddedTaxAmount" + taxcount;
                                            string addedtaxhdn = "AddedTaxAmounthdn" + taxcount;
                                            string addedamount = "AddedAmount" + taxcount;
                                            string addedamounthdn = "AddedAmounthdn" + taxcount;
                                            string itemtax = tax.Tax + "%";
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3">
                                            <label id="@addedamount"><i class="fa fa-inr"></i>@Convert.ToDouble(tax.Amount).ToString("#,###.00##")</label>
                                            <input type="hidden" id="@addedamounthdn" name="@addedamounthdn" value="@tax.Amount" />
                                        </div>
                                        <div class="col-md-2 col-lg-2">
                                            <label id="@addedtax">@itemtax</label>
                                            <input type="hidden" id="@taxnumber" name="@taxnumber" value="@tax.Tax" />
                                        </div>
                                        <div class="col-md-7 col-lg-7">
                                            <label id="@addedtaxamount"><i class="fa fa-inr"></i>@Convert.ToDouble(tax.TaxAmount).ToString("#,###.00##")</label>
                                            <input type="hidden" id="@addedtaxhdn" name="@addedtaxhdn" value="@tax.TaxAmount" />
                                        </div>
                                    </div>
                                            taxcount++;
                                        }
                                    <script type="text/javascript">
                                        document.getElementById("AddTaxes").style.display = "inline";
                                    </script>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7">
                        <input type="button" value="New Item" id="CreateNewItem" class="btn btn-link col-md-offset-11 col-lg-offset-11" style="color: royalblue; float: right; text-align: right; font-size: small" onclick="OpenPopUp()" />
                        <button class="btn btn-link col-md-offset-11 col-lg-offset-11" id="NonInvButton" type="button" style="float: right; text-align: right; color: orangered; font-size: small">Non-Inventory Item</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-6 col-lg-6" style="text-align: left">
                        <label style="font-size: larger">Total Received Quantity</label>
                    </div>
                    <div class="col-md-1 col-lg-1" style="text-align: left">
                        <label id="Total_Quantity" style="font-size: larger"></label>
                        <input type="hidden" id="Total_Quantity_Value" name="Total_Quantity_Value" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6" style="text-align: left">
                        <label style="font-size: larger">Total Remaining Quantity</label>
                    </div>
                    <div class="col-md-1 col-lg-1" style="text-align: left">
                        <label id="Total_Remaining_Quantity" style="font-size: larger"></label>
                        <input type="hidden" id="Total_Remaining_Quantity_Value" name="Total_Remaining_Quantity_Value" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6" style="text-align: left">
                        <label style="font-size: larger">Total Extra Quantity</label>
                    </div>
                    <div class="col-md-1 col-lg-1" style="text-align: left">
                        <label id="Total_Extra_Quantity" style="font-size: larger"></label>
                        <input type="hidden" id="Total_Extra_Quantity_Value" name="Total_Extra_Quantity_Value" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6" id="AmountDetails">
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <label style="font-size: 14px;">Total Amount</label>
                    </div>
                    <div class="col-md-5 col-lg-5" style="text-align: right">
                        <label id="Total_Amount" style="font-size: 14px"><i class="fa fa-inr"></i>0</label>
                        <input type="hidden" id="Total_Amount_Value" name="Total_Amount_Value" value="0" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <label style="font-size: 14px;">Packing and Forwarding</label>
                    </div>
                    <div class="col-md-5 col-lg-5" style="text-align: right">
                        @Html.TextBoxFor(model => model.InwardFromSupplierDetails.PackAndForwd, new { @class = "form-control", @autocomplete = "off", @placeholder = "0", @style = "text-align:right", @onchange = "CalculatePackAndForwd()" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <label style="font-size: 14px;">Tax Amount</label>
                    </div>
                    <div class="col-md-5 col-lg-5" style="text-align: right">
                        <label id="TotalTaxAmount" style="font-size: 14px"><i class="fa fa-inr"></i>0</label>
                        <input type="hidden" id="TotalTaxAmountValue" name="TotalTaxAmountValue" value="0" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <label style="font-size: 14px;">Grand Total</label>
                    </div>
                    <div class="col-md-5 col-lg-5" style="text-align: right">
                        <label id="Grand_Total" style="font-size: 14px"><i class="fa fa-inr"></i>0</label>
                        <input type="hidden" id="Grand_Total_Value" name="Grand_Total_Value" value="0" />
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 5px"></div>
        <div class="row">
            <div class="col-md-12 col-lg-12 form-group">
                <div class="col-md-1 col-lg-1">
                    <label style="font-size: larger">Narration:</label>
                </div>
                <div class="col-md-11 col-lg-11">
                    @Html.TextBoxFor(model => model.InwardFromSupplierDetails.Narration, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
