@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "GetOutwardItems";
}
<style type="text/css">
    .CenterText {
        text-align: center;
        width: 100%;
    }
</style>

<div class="col-md-12 col-lg-12">
             <table style="border: 1px double; width: 100%" class="table">
        <div class="col-md-12 col-lg-12">
            @if (Model.OutwardItemToShopList != null && Model.OutwardItemToShopList.Any())
            {
                <table border="1" width: 100%">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-lg-1">
                                <label class="CenterText">SNo.</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Item</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Description</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Color</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Material</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Design</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Unit</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Rate</label></th>
                            <th class="col-md-1 col-lg-1">
                                <label class="CenterText">Quantity</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                int count = 1;
                foreach (var item in Model.OutwardItemToShopList)
                {
                    var qty = "quantity" + count;
                    var row = "row" + count;
                    var rate = Convert.ToDouble(item.MRP).ToString("#,###.00##");
                    var quantity = Convert.ToDouble(item.OutwardQuantity).ToString("#,###.00##");
                    
                    
                            <tr id="@row">
                                <td style="text-align:center">@count</td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.ItemName</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.ItemDescription</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.Color</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.Material</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.DesignName</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:right">
                                    <label class="CenterText" style="font-weight: normal">@item.Unit</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:right">
                                    <label style="font-weight: normal">@rate</label></td>
                                <td class="col-md-1 col-lg-1" style="text-align:right">
                                    <label style="font-weight: normal">@quantity</label></td>
                            </tr>
                    count++;
                }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <table border="1">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-lg-1">SNo.</th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Item</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Description</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Color</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Material</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Design</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">Unit</label></th>
                            <th class="col-md-2 col-lg-2">
                                <label class="CenterText">MRP</label></th>
                            <th class="col-md-1 col-lg-1">
                                <label class="CenterText">Quantity</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                int count = 1;
                foreach (var item in Model.OutwardItemStkDisList)
                {
                    var qty = "quantity" + count;
                    var row = "row" + count;
                    var mrp = Convert.ToDouble(item.MRP).ToString("#,###.00##");
                    var quantity = Convert.ToDouble(item.ItemQuantity).ToString("#,###.00##");
                            <tr id="@row">
                                <td style="text-align:center">@count</td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.ItemName</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.Description</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.Color</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.Material</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.DesignName</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:left">
                                    <label style="font-weight: normal">@item.Unit</label></td>
                                <td class="col-md-2 col-lg-2" style="text-align:right">
                                    <label style="font-weight: normal">@mrp</label></td>
                                <td class="col-md-1 col-lg-1" style="text-align:right">
                                    <label style="font-weight: normal">@quantity</label></td>
                            </tr>
                    count++;
                }
                        }
                    </tbody>
                </table>
            }
            
        </div>
    </table>
</div>
