@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "NewItem";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<!-- Plugins - Via CDN -->
<script type ="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/customAlerts.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function () {
        $("input").not($(":button")).keypress(function (evt) {
            if (evt.keyCode == 13) {
                iname = $(this).val();
                if (iname !== 'Submit') {
                    var fields = $(this).parents('form:eq(0),body').find('button,input,textarea,select');
                    var index = fields.index(this);
                    if (index > -1 && (index + 1) < fields.length) {
                        fields.eq(index + 1).focus();
                    }
                    return false;
                }
            }
        });
    });
</script>

<script type="text/javascript">
    function alertbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone1.ogg';

        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('alertClass');
        bootbox.alert('<i class="fa fa-2x fa-warning"></i><br>' + message + '<hr>');
    }

    function confirmbox(message, row) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone2.ogg';
        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('confirmClass');
        bootbox.confirm('<i class="fa fa-2x fa-question-circle"></i><br>' + message + '<hr>',
		 function (result) {
		     if (result) {
		         $("#" + row).remove();
		     }
		 });
    }
</script>

@*GET SUBCATEGORY BY CATEGORY*@
<script type="text/javascript">
    $(function () {
        $("#ItemDetails_itemCategory").autocomplete({
            source: "/Item/GetCategory",
            minLength: 1,
            select: function (event, ui) {
                document.getElementById("DDLSubCat").disabled = false;
                document.getElementById("itemname").disabled = false;

                if (ui.item) {
                    $("#ItemDetails_itemCategory").val(ui.item.value);
                    var idModel = document.getElementById("ItemDetails_itemCategory").value;
                    $.getJSON("/Item/LoadSubCategoryByCategory", { id: idModel },
           function (stateData) {
               var select = $("#DDLSubCat");
               select.empty();
               select.append($('<option/>', {
                   value: "",
                   text: "Select SubCategory"
               }));
               $.each(stateData, function (index, itemData) {

                   select.append($('<option/>', {
                       value: itemData.Value,
                       text: itemData.Text
                   }));
               });
           });
                    $("#ItemDetails_itemCategory").change(function () {
                        if (document.getElementById("ItemDetails_itemCategory").value == "") {
                            var select = $("#DDLSubCat");
                            select.empty();
                            select.append($('<option/>', {
                                value: "",
                                text: "Select SubCategory"
                            }));
                            document.getElementById("CreateRow").innerHTML = "";
                            document.getElementById("Save").style.display = "none";
                        }
                    });
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#DDLSubCat").change(function () {
            var subcat = document.getElementById("DDLSubCat").value;
            $.getJSON("/PurchaseOrder/GetSubCatTax", { SubCategory: subcat },
                    function (data) {
                        document.getElementById("SubCatTax").value = data;
                    });
        });
    });
</script>

<script type="text/javascript">
    function addCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }

    function removeCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, '');
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }
</script>

@*CALCULATE SELLINGPRICE USING MRP*@
<script type="text/javascript">
    function CalcSellingPrice(id) {
        var costprice = "CostPrice" + id;
        var sellingprice = "SellingPrice" + id;
        var mrp = "MRP" + id;

        var tax = document.getElementById("SubCatTax").value;
        var costpriceval = +document.getElementById(costprice).value;
        var mrpval = +document.getElementById(mrp).value;
        if (mrpval < costpriceval) {
            alertbox("MRP Cannot Be Less Than Cost Price");
            document.getElementById(sellingprice).value = 0;
            document.getElementById(mrp).value = 0;
            return false;
        }
        var costprisetax = costpriceval * tax / 100;
        var costprisetaxinper = costpriceval / (costpriceval + costprisetax) * tax;
        var sellingpriceval = mrpval - (mrpval * costprisetaxinper / 100);
        if (sellingpriceval < costpriceval) {
            alertbox("Selling Price Cannot Be Less Than Cost Price");
            document.getElementById(sellingprice).value = 0;
            document.getElementById(mrp).value = 0;
        }
        else {
            document.getElementById(sellingprice).value = sellingpriceval.toFixed(2);
        }
    }
</script>

@*CALCULATE MRP USING SELLINGPRICE*@
<script type="text/javascript">
    function CalcMRP(id) {
        var costprice = "CostPrice" + id;
        var sellingprice = "SellingPrice" + id;
        var mrp = "MRP" + id;

        var tax = document.getElementById("SubCatTax").value;
        var costpriceval = +document.getElementById(costprice).value;
        var sellingpriceval = +document.getElementById(sellingprice).value;
        if (sellingpriceval < costpriceval) {
            alertbox("SellingPrice Cannot Be Less Than Cost Price");
            document.getElementById(sellingprice).value = 0;
            document.getElementById(mrp).value = 0;
        }
        else {
            var taxonsellprice = sellingpriceval * tax / 100;
            var mrpval = sellingpriceval + taxonsellprice;
            document.getElementById(mrp).value = mrpval.toFixed(2);
        }
    }
</script>

@*DISPLAY DETAILS ON ITEM CHANGE EVENT*@
<script type="text/javascript">
    $(document).ready(function () {
        var rowId = 1;
        $("#itemname").change(function () {
            document.getElementById("ItemDetails_itemCategory").disabled = true;
            document.getElementById("DDLSubCat").disabled = true;
            document.getElementById("itemname").disabled = true;

            $("#CreateRow").empty();
            var unorderedList = $("#CreateRow");
            var row = "row" + rowId;
            var select = "TypeOfMaterial" + rowId;
            var colorCodeSelect = "ColorCode" + rowId;
            var designname = "designName" + rowId;
            var selectbrand = "BrandList" + rowId;
            var typeOfMaterial = document.createElement("SELECT");
            var colorCode = document.createElement("SELECT");
            var brand = document.createElement("SELECT");
            var designCode = "designCodeData" + rowId;
            var unit = "Unit" + rowId;
            var unitnumbertype = "NumberType" + rowId;
            var discount = "Discount" + rowId;
            var quantity = "Quantity" + rowId;
            var idModel1 = $(this).val();
            var category = document.getElementById("ItemDetails_itemCategory").value;

            //GET TYPE OF MATERIAL DDL
            $.getJSON("/Item/LoadTypeOfMaterial", {},
            function (stateData) {
                typeOfMaterial.className = "form-control";
                typeOfMaterial.id = "materialType" + rowId;
                typeOfMaterial.name = "materialType" + rowId;
                var myoption1 = document.createElement("option");
                myoption1.text = "Select Type Of Material";
                myoption1.value = "";
                typeOfMaterial.appendChild(myoption1);
                $.each(stateData, function (index, itemData) {
                    var myoption = document.createElement("option");
                    myoption.text = itemData.Text;
                    myoption.value = itemData.Value;
                    typeOfMaterial.appendChild(myoption);
                });
            });

            //GET UNIT DDL
            $.getJSON("/PurchaseOrder/GetUnits",
            function (stateData) {
                var select = $("#" + unit);
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Select Unit"
                }));
                $.each(stateData, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });

            //GET BRAND LIST
            $.getJSON("/Item/LoadBrandList", {},
                           function (stateData) {
                               brand.className = "form-control";
                               brand.id = "Brand" + rowId;
                               brand.name = "Brand" + rowId;
                               var myoption1 = document.createElement("option");
                               myoption1.text = "Select Brand";
                               myoption1.value = "";
                               brand.appendChild(myoption1);
                               $.each(stateData, function (index, itemData) {
                                   var myoption = document.createElement("option");
                                   myoption.text = itemData.Text;
                                   myoption.value = itemData.Value;
                                   brand.appendChild(myoption);
                               });
                           });

            //GET COLOR DDL
            $.getJSON("/Item/LoadColorCode", {},
            function (stateData) {
                colorCode.className = "form-control";
                colorCode.id = "colorCodeData" + rowId;
                colorCode.name = "colorCodeData" + rowId;
                var myoption1 = document.createElement("option");
                myoption1.text = "Select Color Code";
                myoption1.value = "";
                colorCode.appendChild(myoption1);
                $.each(stateData, function (index, itemData) {
                    var myoption = document.createElement("option");
                    myoption.text = itemData.Text;
                    myoption.value = itemData.Value;
                    colorCode.appendChild(myoption);
                });
            });

            //GET DESIGN NAME DDL
            $.getJSON("/Item/LoadDesignCode", { type: document.getElementById("DDLSubCat").value },
            function (stateData) {
                var select = $("#" + designCode);
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Select Design"
                }));
                $.each(stateData, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });

            unorderedList.append(
            "<div class='panel' id='" + row + "'> " +
            "<div class='form-group'></div><div class='row'><div class='col-md-12 col-lg-12'>" +
            "<div class='form-group col-md-3 col-lg-3'><label>Item Type<i style='color:red'>*</i></label><select id='ItemType" + rowId + "' name='ItemType" + rowId + "' class='form-control'><option value=''>Select Type Of Item</option><option value='Inventory'>Inventory</option><option value='Non-Inventory'>Non-Inventory</option></select></div>" +
            "<div class='form-group col-md-3 col-lg-3'><label>Item Description</label><textarea rows='1' placeholder='Item Description' class='form-control' name='itemDescription" + rowId + "' id='itemDescription" + rowId + "'/></div>" +
            "<div class='form-group col-md-3 col-lg-3' id='" + select + "'><label>Type Of Material<i style='color:red'>*</i></label></div>" +
            "<div class='form-group col-md-3 col-lg-3' id='" + colorCodeSelect + "'><label>Color Code<i style='color:red'>*</i></label></div>" +
            "</div></div>" +

            "<div class='row'><div class='col-md-12 col-lg-12'>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Design Code<i style='color:red'>*</i></label><select id='" + designCode + "' name='" + designCode + "' class='form-control'><option value=''>Select Design</option></select><input type='hidden' id='" + designname + "' name='" + designname + "'></input></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Brand<i style='color:red'>*</i></label><div id='" + selectbrand + "' name='" + selectbrand + "' ></div></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Quantity</label><input type='text' placeholder='Quantity' autocomplete='off' class='form-control' name='Quantity" + rowId + "' id='Quantity" + rowId + "' onkeypress='return AllowNumbers(event)' onchange='CalculateAmount(" + rowId + ")'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Unit<i style='color:red'>*</i></label><select id='" + unit + "' name='" + unit + "' class='form-control' onchange='GetUnitDecimalType(" + rowId + ")'><option value=''>Select Unit</option></select><input type='hidden' id='" + unitnumbertype + "' name='" + unitnumbertype + "'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Size<i style='color:red'>*</i></label><input type='text' placeholder='Size' autocomplete='off' class='form-control' name='Size" + rowId + "' id='Size" + rowId + "' onkeypress='return DontAllowWhiteSpace(event)'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Cost Price<i style='color:red'>*</i></label><input type='text' placeholder='Cost Price' autocomplete='off' class='form-control' name='CostPrice" + rowId + "' id='CostPrice" + rowId + "' onkeypress='return AllowNumbers(event)' onchange='CalculateAmount(" + rowId + ")'/></div>" +
            "</div></div>" +

            "<div class='row'><div class='col-md-12 col-lg-12'>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Selling Price<i style='color:red'>*</i></label><input type='text' placeholder='Selling Price' autocomplete='off' class='form-control' name='SellingPrice" + rowId + "' id='SellingPrice" + rowId + "' onkeypress='return AllowNumbers(event)' onchange='CalcMRP(" + rowId + ")' /></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>M.R.P.<i style='color:red'>*</i></label><input type='text' placeholder='M.R.P.' autocomplete='off' class='form-control' name='MRP" + rowId + "' id='MRP" + rowId + "' onkeypress='return AllowNumbers(event)' onchange='CalcSellingPrice(" + rowId + ")' /></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Commission In Percent</label><input type='text' placeholder='Commission In Percent' class='form-control' name='CommissionInPercent" + rowId + "' id='CommissionInPercent" + rowId + "' value='0' onkeypress='return AllowNumbers(event)' onchange='CalculateComm(" + rowId + ")' autocomplete='off'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Commission In Rupees</label><input type='text' placeholder='Commission In Rupees' class='form-control' name='CommissionInRupees" + rowId + "' id='CommissionInRupees" + rowId + "' value='0' onkeypress='return AllowNumbers(event)' onchange='CalculateComm(" + rowId + ")' autocomplete='off'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Discount(%)</label><input type='text' placeholder='Discount' class='form-control' autocomplete='off' name='Discount" + rowId + "' id='Discount" + rowId + "' value='0' onkeypress='return AllowNumbers(event)' onchange='CalculateAmount(" + rowId + ")'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label style='text-align:center;width:100%'>Amount</label><label id='Amount" + rowId + "' style='text-align:center;width:100%'/><input type='hidden' id='AmountValue" + rowId + "' name='AmountValue" + rowId + "'/></div>" +
            "</div></div></div>"
            );

            $("#hdnRowCount").val(rowId);
            var finalList = document.getElementById(select);
            finalList.appendChild(typeOfMaterial);
            var finalList1 = document.getElementById(colorCodeSelect);
            finalList1.appendChild(colorCode);
            var FinalBrandList = document.getElementById(selectbrand);
            FinalBrandList.appendChild(brand);

            document.getElementById("Save").style.display = "inline";

            //GET DESIGN NAME FROM DESIGN CODE
            $("#" + designCode).change(function () {
                var CODE = document.getElementById(designCode).value;
                $.getJSON("/Item/GetDesignDetails", { code: CODE },
                    function (data) {
                        $("#" + designname).val(data);
                    });
            });
        });
    });
</script>

@*DYNAMIC ROW CREATION ON ENTER BUTTON*@
<script type="text/javascript">
    $(document).keypress(function (e) {
        if (e.which == 13) {
            if ($("#DDLSubCat").val() != "" && $("#itemname").val() != "") {

                var rowId = document.getElementById("hdnRowCount").value;

                //CHECK ALL DATA IS FILL OR NOT
                var row = "row" + rowId;
                var typeOfMaterial = "materialType" + rowId;
                var colorCode = "colorCodeData" + rowId;
                var designCode = "designCodeData" + rowId;
                var designname = "designName" + rowId;
                var description = "itemDescription" + rowId;
                var quantity = "Quantity" + rowId;
                var size = "Size" + rowId;
                var unit = "Unit" + rowId;
                var type = "ItemType" + rowId;
                var costprice = "CostPrice" + rowId;
                var sellingprice = "SellingPrice" + rowId;
                var mrp = "MRP" + rowId;
                var brand = "Brand" + rowId;
                var CommissionInPercent = "CommissionInPercent" + rowId;
                var CommissionInRupees = "CommissionInRupees" + rowId;


                if (document.getElementById(costprice) != null) {
                    //If previous row is inventory then check all the validations
                    if (document.getElementById(type).value == "Inventory") {
                        if ($("#" + type).val() == "") {
                            alertbox("Please Select The Item Type");
                        }
                        else if ($("#" + typeOfMaterial).val() == "") {
                            alertbox("Please Select The Type Of Material");
                        }
                        else if ($("#" + colorCode).val() == "") {
                            alertbox("Please Select The Color");
                        }
                        else if ($("#" + unit).val() == "") {
                            alertbox("Please Select The Unit");
                        }
                        else if ($("#" + costprice).val() == "" || +$("#" + costprice).val() == 0) {
                            alertbox("Please Fill The Cost Price");
                        }
                        else if ($("#" + sellingprice).val() == "" || +$("#" + sellingprice).val() == 0) {
                            alertbox("Please Fill The Selling Price");
                        }
                        else if ($("#" + mrp).val() == "" || +$("#" + mrp).val() == 0) {
                            alertbox("Please Fill The MRP");
                        }
                        else if ($("#" + brand).val() == "") {
                            alertbox("Please Select The Brand");
                        }
                        else if ($("#" + size).val() == "") {
                            alertbox("Please Fill The Size");
                        }
                        else if ($("#" + designCode).val() == "") {
                            alertbox("Please Select The Design");
                        }
                        else {
                            //CHECK IF SAME ITEM IS ALREADY CREATED THEN GET ALERT 
                            var counter = 0;
                            for (i = 1; i < rowId; i++) {
                                var MATERIAL = "materialType" + i;
                                var COLOR = "colorCodeData" + i;
                                var COSTPRICE = "CostPrice" + i;
                                var BRAND = "Brand" + i;
                                var SIZE = "Size" + i;
                                var DESIGN = "designCodeData" + i;
                                var UNIT = "Unit" + i;

                                var material = document.getElementById("materialType" + rowId).value;
                                var color = document.getElementById("colorCodeData" + rowId).value;
                                var costprice = document.getElementById("CostPrice" + rowId).value;
                                var brand = document.getElementById("Brand" + rowId).value;
                                var size = document.getElementById("Size" + rowId).value;
                                var design = document.getElementById("designCodeData" + rowId).value;
                                var unit = document.getElementById("Unit" + rowId).value;

                                //IF ROW IS DELETED THEN CURRENT ITEM WON'T GET COMPARED
                                if ($("#" + MATERIAL).val() == material && $("#" + COLOR).val() == color && $("#" + COSTPRICE).val() == costprice && $("#" + BRAND).val() == brand && $("#" + SIZE).val() == size && $("#" + DESIGN).val() == design && $("#" + UNIT).val() == unit) {
                                    alertbox("The Item Is Already Created..");
                                    counter = i;
                                    break;
                                }
                            }

                            if (counter == 0) {

                                var material = document.getElementById("materialType" + rowId).value;
                                var color = document.getElementById("colorCodeData" + rowId).value;
                                var costprice = document.getElementById("CostPrice" + rowId).value;
                                var brand = document.getElementById("Brand" + rowId).value;
                                var size = document.getElementById("Size" + rowId).value;
                                var design = document.getElementById("designCodeData" + rowId).value;
                                var unit = document.getElementById("Unit" + rowId).value;
                                var CAT = document.getElementById("ItemDetails_itemCategory").value;
                                var SUBCAT = document.getElementById("DDLSubCat").value;

                                //CHECK ITEM IS ALREADY CREATED IN THE DATABASE
                                $.getJSON("/Item/GetAllItemDetails", { Material: material, Color: color, Costprice: costprice, Brand: brand, Size: size, Design: design, Unit: unit, Cat: CAT, SubCat: SUBCAT },
                               function (stateData) {
                                   if (stateData == "Present") {
                                       alertbox("The Item Is Already Created..")
                                   }
                                   else {
                                       //DISABLED THE PREVIOUS ROW
                                       var row = "row" + rowId;
                                       var typeOfMaterial = "materialType" + rowId;
                                       var colorCode = "colorCodeData" + rowId;
                                       var designCode = "designCodeData" + rowId;
                                       var designname = "designName" + rowId;
                                       var description = "itemDescription" + rowId;
                                       var size = "Size" + rowId;
                                       var unit = "Unit" + rowId;
                                       var type = "ItemType" + rowId;
                                       var costprice = "CostPrice" + rowId;
                                       var sellingprice = "SellingPrice" + rowId;
                                       var mrp = "MRP" + rowId;
                                       var quantity = "Quantity" + rowId;
                                       var brand = "Brand" + rowId;
                                       var discount = "Discount" + rowId;
                                       var CommissionInPercent = "CommissionInPercent" + rowId;
                                       var CommissionInRupees = "CommissionInRupees" + rowId;

                                       document.getElementById(typeOfMaterial).disabled = true;
                                       document.getElementById(colorCode).disabled = true;
                                       document.getElementById(designCode).disabled = true;
                                       document.getElementById(description).disabled = true;
                                       document.getElementById(quantity).disabled = true;
                                       document.getElementById(size).disabled = true;
                                       document.getElementById(unit).disabled = true;
                                       document.getElementById(type).disabled = true;
                                       document.getElementById(costprice).disabled = true;
                                       document.getElementById(sellingprice).disabled = true;
                                       document.getElementById(mrp).disabled = true;
                                       document.getElementById(brand).disabled = true;
                                       document.getElementById(discount).disabled = true;
                                       document.getElementById(CommissionInPercent).disabled = true;
                                       document.getElementById(CommissionInRupees).disabled = true;
                                       GenerateDynamicRows(rowId);
                                   }
                               });
                            }
                        }
                    }
                    else {
                        if ($("#" + type).val() == "") {
                            alertbox("Please Select The Item Type");
                        }
                        else if ($("#" + unit).val() == "") {
                            alertbox("Please Select The Unit");
                        }
                        else {
                            //CHECK IF SAME ITEM IS ALREADY CREATED THEN GET ALERT 
                            var counter = 0;
                            for (i = 1; i < rowId; i++) {
                                var MATERIAL = "materialType" + i;
                                var COLOR = "colorCodeData" + i;
                                var COSTPRICE = "CostPrice" + i;
                                var BRAND = "Brand" + i;
                                var SIZE = "Size" + i;
                                var DESIGN = "designCodeData" + i;
                                var UNIT = "Unit" + i;

                                var material = document.getElementById("materialType" + rowId).value;
                                var color = document.getElementById("colorCodeData" + rowId).value;
                                var costprice = document.getElementById("CostPrice" + rowId).value;
                                var brand = document.getElementById("Brand" + rowId).value;
                                var size = document.getElementById("Size" + rowId).value;
                                var design = document.getElementById("designCodeData" + rowId).value;
                                var unit = document.getElementById("Unit" + rowId).value;

                                //IF ROW IS DELETED THEN CURRENT ITEM WON'T GET COMPARED
                                if ($("#" + MATERIAL).val() == material && $("#" + COLOR).val() == color && $("#" + COSTPRICE).val() == costprice && $("#" + BRAND).val() == brand && $("#" + SIZE).val() == size && $("#" + DESIGN).val() == design && $("#" + UNIT).val() == unit) {
                                    alertbox("The Item Is Already Created..");
                                    counter = i;
                                    break;
                                }
                            }

                            if (counter == 0) {
                                var material = document.getElementById("materialType" + rowId).value;
                                var color = document.getElementById("colorCodeData" + rowId).value;
                                var costprice = document.getElementById("CostPrice" + rowId).value;
                                var brand = document.getElementById("Brand" + rowId).value;
                                var size = document.getElementById("Size" + rowId).value;
                                var design = document.getElementById("designCodeData" + rowId).value;
                                var unit = document.getElementById("Unit" + rowId).value;
                                var CAT = document.getElementById("ItemDetails_itemCategory").value;
                                var SUBCAT = document.getElementById("DDLSubCat").value;

                                //CHECK ITEM IS ALREADY CREATED IN THE DATABASE
                                $.getJSON("/Item/GetAllItemDetails", { Material: material, Color: color, Costprice: costprice, Brand: brand, Size: size, Design: design, Unit: unit, Cat: CAT, SubCat: SUBCAT },
                               function (stateData) {
                                   if (stateData == "Present") {
                                       alertbox("The Item Is Already Created..")
                                   }
                                   else {
                                       //DISABLED THE PREVIOUS ROW
                                       var row = "row" + rowId;
                                       var typeOfMaterial = "materialType" + rowId;
                                       var colorCode = "colorCodeData" + rowId;
                                       var designCode = "designCodeData" + rowId;
                                       var designname = "designName" + rowId;
                                       var quantity = "Quantity" + rowId;
                                       var description = "itemDescription" + rowId;
                                       var size = "Size" + rowId;
                                       var unit = "Unit" + rowId;
                                       var type = "ItemType" + rowId;
                                       var costprice = "CostPrice" + rowId;
                                       var sellingprice = "SellingPrice" + rowId;
                                       var mrp = "MRP" + rowId;
                                       var brand = "Brand" + rowId;
                                       var discount = "Discount" + rowId;
                                       var CommissionInPercent = "CommissionInPercent" + rowId;
                                       var CommissionInRupees = "CommissionInRupees" + rowId;

                                       document.getElementById(typeOfMaterial).disabled = true;
                                       document.getElementById(colorCode).disabled = true;
                                       document.getElementById(designCode).disabled = true;
                                       document.getElementById(description).disabled = true;
                                       document.getElementById(quantity).disabled = true;
                                       document.getElementById(size).disabled = true;
                                       document.getElementById(unit).disabled = true;
                                       document.getElementById(type).disabled = true;
                                       document.getElementById(costprice).disabled = true;
                                       document.getElementById(sellingprice).disabled = true;
                                       document.getElementById(mrp).disabled = true;
                                       document.getElementById(brand).disabled = true;
                                       document.getElementById(discount).disabled = true;
                                       document.getElementById(CommissionInPercent).disabled = true;
                                       document.getElementById(CommissionInRupees).disabled = true;
                                       GenerateDynamicRows(rowId);
                                   }
                               });
                            }
                        }
                    }
                }
                else {
                    GenerateDynamicRows(rowId);
                }
            }
            else {
                alertbox("Please Fill Item Name..");
                return false;
            }
        }
    });
</script>

<script type="text/javascript">
    function GenerateDynamicRows(rowId) {
        rowId = +rowId + 1;
        var unorderedList = $("#CreateRow");
        var row = "row" + rowId;
        var select = "TypeOfMaterial" + rowId;
        var colorCodeSelect = "ColorCode" + rowId;
        var designname = "designName" + rowId;
        var selectunit = "Unit" + rowId;
        var type = "ItemType" + rowId;
        var unitnumbertype = "NumberType" + rowId;
        var selectbrand = "BrandList" + rowId;
        var brand = document.createElement("SELECT");
        var typeOfMaterial = document.createElement("SELECT");
        var colorCode = document.createElement("SELECT");
        var designCode = "designCodeData" + rowId;
        var category = document.getElementById("ItemDetails_itemCategory").value;

        //GET TYPE OF MATERIAL DDL
        $.getJSON("/Item/LoadTypeOfMaterial", {},
        function (stateData) {
            typeOfMaterial.className = "form-control";
            typeOfMaterial.id = "materialType" + rowId;
            typeOfMaterial.name = "materialType" + rowId;
            var myoption1 = document.createElement("option");
            myoption1.text = "Select Type Of Material";
            myoption1.value = "";
            typeOfMaterial.appendChild(myoption1);
            $.each(stateData, function (index, itemData) {
                var myoption = document.createElement("option");
                myoption.text = itemData.Text;
                myoption.value = itemData.Value;
                typeOfMaterial.appendChild(myoption);
            });
        });

        //GET COLOR DDL
        $.getJSON("/Item/LoadColorCode", {},
        function (stateData) {
            colorCode.className = "form-control";
            colorCode.id = "colorCodeData" + rowId;
            colorCode.name = "colorCodeData" + rowId;
            var myoption1 = document.createElement("option");
            myoption1.text = "Select Color Code";
            myoption1.value = "";
            colorCode.appendChild(myoption1);
            $.each(stateData, function (index, itemData) {
                var myoption = document.createElement("option");
                myoption.text = itemData.Text;
                myoption.value = itemData.Value;
                colorCode.appendChild(myoption);
            });
        });

        //GET DESIGN NAME DDL
        $.getJSON("/Item/LoadDesignCode", { type: document.getElementById("DDLSubCat").value },
        function (stateData) {
            var select = $("#" + designCode);
            select.empty();
            select.append($('<option/>', {
                value: "",
                text: "Select Design"
            }));
            $.each(stateData, function (index, itemData) {
                select.append($('<option/>', {
                    value: itemData.Value,
                    text: itemData.Text
                }));
            });

        });

        //GET BRAND LIST
        $.getJSON("/Item/LoadBrandList", {},
                       function (stateData) {
                           brand.className = "form-control";
                           brand.id = "Brand" + rowId;
                           brand.name = "Brand" + rowId;
                           var myoption1 = document.createElement("option");
                           myoption1.text = "Select Brand";
                           myoption1.value = "";
                           brand.appendChild(myoption1);
                           $.each(stateData, function (index, itemData) {
                               var myoption = document.createElement("option");
                               myoption.text = itemData.Text;
                               myoption.value = itemData.Value;
                               brand.appendChild(myoption);
                           });
                       });

        //GET UNIT LIST
        $.getJSON("/Item/LoadUnitList", {},
                       function (data) {

                           var select = $("#" + selectunit);
                           select.empty();
                           select.append($('<option/>', {
                               value: "",
                               text: "Select Unit"
                           }));

                           $.each(data, function (i, item) {
                               select.append($('<option/>', {
                                   value: item.Value,
                                   text: item.Text
                               }));
                           })
                       });


        unorderedList.append(
            "<div class='panel' id='" + row + "'> " +
            "<div class='form-group'></div><div class='row'><div class='col-md-12 col-lg-12'>" +
            "<div class='form-group col-md-3 col-lg-3'><label>Item Type<i style='color:red'>*</i></label><select id='ItemType" + rowId + "' name='ItemType" + rowId + "' class='form-control'><option value=''>Select Type Of Item</option><option value='Inventory'>Inventory</option><option value='Non-Inventory'>Non-Inventory</option></select></div>" +
            "<div class='form-group col-md-3 col-lg-3'><label>Item Description</label><textarea rows='1' placeholder='Item Description' class='form-control' name='itemDescription" + rowId + "' id='itemDescription" + rowId + "'/></div>" +
            "<div class='form-group col-md-3 col-lg-3' id='" + select + "'><label>Type Of Material<i style='color:red'>*</i></label></div>" +
            "<div class='form-group col-md-3 col-lg-3' id='" + colorCodeSelect + "'><label>Color Code<i style='color:red'>*</i></label></div>" +
            "</div></div>" +

            "<div class='row'><div class='col-md-12 col-lg-12'>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Design Code<i style='color:red'>*</i></label><select id='" + designCode + "' name='" + designCode + "' class='form-control'><option value=''>Select Design</option></select><input type='hidden' id='" + designname + "' name='" + designname + "'></input></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Brand<i style='color:red'>*</i></label><div id='" + selectbrand + "' name='" + selectbrand + "' ></div></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Quantity</label><input type='text' placeholder='Quantity' class='form-control' name='Quantity" + rowId + "' id='Quantity" + rowId + "' autocomplete='off' onkeypress='return AllowNumbers(event)' onchange='CalculateAmount(" + rowId + ")'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Unit<i style='color:red'>*</i></label><select id='" + selectunit + "' name='" + selectunit + "' class='form-control' onchange='GetUnitDecimalType(" + rowId + ")'><option value=''>Select Unit</option></select><input type='hidden' id='" + unitnumbertype + "' name='" + unitnumbertype + "'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Size<i style='color:red'>*</i></label><input type='text' placeholder='Size' class='form-control' name='Size" + rowId + "' id='Size" + rowId + "' autocomplete='off' onkeypress='return DontAllowWhiteSpace(event)'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Cost Price<i style='color:red'>*</i></label><input type='text' placeholder='Cost Price' autocomplete='off' class='form-control' name='CostPrice" + rowId + "' id='CostPrice" + rowId + "' onchange='CalculateAmount(" + rowId + ")' onkeypress='return AllowNumbers(event)'/></div>" +
            "</div></div>" +

            "<div class='row'><div class='col-md-12 col-lg-12'>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Selling Price<i style='color:red'>*</i></label><input type='text' placeholder='Selling Price' autocomplete='off' class='form-control' name='SellingPrice" + rowId + "' id='SellingPrice" + rowId + "' onkeypress='return AllowNumbers(event)' onchange='CalcMRP(" + rowId + ");'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>M.R.P.<i style='color:red'>*</i></label><input type='text' placeholder='M.R.P.' autocomplete='off' class='form-control' name='MRP" + rowId + "' id='MRP" + rowId + "' onkeypress='return AllowNumbers(event)' onchange='CalcSellingPrice(" + rowId + ");'  /></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Commission In Percent</label><input type='text' placeholder='Commission In Percent' class='form-control' name='CommissionInPercent" + rowId + "' id='CommissionInPercent" + rowId + "' value='0' onkeypress='return AllowNumbers(event)' onchange='CalculateComm(" + rowId + ")' autocomplete='off'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Commission In Rupees</label><input type='text' placeholder='Commission In Rupees' class='form-control' name='CommissionInRupees" + rowId + "' id='CommissionInRupees" + rowId + "' value='0' onkeypress='return AllowNumbers(event)' onchange='CalculateComm(" + rowId + ")' autocomplete='off'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label>Discount(%)</label><input type='text' placeholder='Discount' class='form-control' name='Discount" + rowId + "' id='Discount" + rowId + "' value='0' autocomplete='off' onkeypress='return AllowNumbers(event)' onchange='CalculateAmount(" + rowId + ")'/></div>" +
            "<div class='form-group col-md-2 col-lg-2'><label style='text-align:center;width:100%'>Amount</label><label id='Amount" + rowId + "' style='text-align:center;width:100%'/><input type='hidden' id='AmountValue" + rowId + "' name='AmountValue" + rowId + "'/></div>" +

            "<div class='row'>" +
            "<div class='col-md-12 col-lg-12'>" +
            "<a href='#' onclick='DeleteRow(" + rowId + ")' class='fa fa-trash fa-lg' style='color:red; float:right'></a>" +
            "</div></div></div>"
        );


        $("#hdnRowCount").val(rowId);
        var finalList = document.getElementById(select);
        finalList.appendChild(typeOfMaterial);
        var finalList1 = document.getElementById(colorCodeSelect);
        finalList1.appendChild(colorCode);
        var FinalBrandList = document.getElementById(selectbrand);
        FinalBrandList.appendChild(brand);

        document.getElementById("Save").style.display = "inline";

        //GET DESIGN NAME FROM DESIGN CODE
        $("#" + designCode).change(function () {
            var CODE = document.getElementById(designCode).value;
            if (CODE != "") {
                $.getJSON("/Item/GetDesignDetails", { code: CODE },
                    function (data) {
                        $("#" + designname).val(data);
                    });
            }
        });
    }
</script>

<script type="text/javascript">
    function GetUnitDecimalType(rowid) {
        $.getJSON("/Item/GetUnitType", { unit: $("#Unit" + rowid).val() },
            function (data) {
                $("#NumberType" + rowid).val(data);
            });
    }
</script>

<script type="text/javascript">
    function CalculateComm(id) {
        var CommissionInPercent = "CommissionInPercent" + id;
        var CommissionInRupees = "CommissionInRupees" + id;
        if ($("#" + CommissionInPercent).val() != "0") {
            if ($("#" + CommissionInPercent).val() >= 100) {
                alertbox("Percent Commission Cannot Be Equal Or Greater Than 100");
                $("#" + CommissionInPercent).val("");

                return false;
            }
            else {
                $("#" + CommissionInRupees).val("0");
                $("#" + CommissionInRupees).attr("disabled", true);
            }
        }
        else if ($("#" + CommissionInRupees).val() != "0") {
            $("#" + CommissionInPercent).attr("disabled", true);
            $("#" + CommissionInPercent).val("0")
        }
        else {
            $("#" + CommissionInPercent).attr("disabled", false);
            $("#" + CommissionInRupees).attr("disabled", false);
        }
    }

    function AllowNumbers(key) {
        var keycode = (key.which) ? key.which : key.keyCode;
        //comparing pressed keycodes
        if (!(keycode == 8 || keycode == 46) && (keycode < 48 || keycode > 57)) {
            return false;
        }
    }

    function DontAllowWhiteSpace(key) {
        var keycode = (key.which) ? key.which : key.keyCode;
        //comparing pressed keycodes
        if (keycode == 8 || keycode == 32) {
            return false;
        }
    }

    function DeleteRow(id) {
        var row = "row" + id;
        confirmbox("Are you sure you wish to delete this row?", row);
    }

    function CalculateAmount(rowId, type) {
        var quantity = "Quantity" + rowId;
        var costprice = "CostPrice" + rowId;
        var amount = "Amount" + rowId;
        var amountvalue = "AmountValue" + rowId;
        var discount = "Discount" + rowId;
        var percent = (+document.getElementById(discount).value) / 100;

        var calculatedvalue = (+document.getElementById(quantity).value) * (+document.getElementById(costprice).value);
        if (percent != 0 || percent != "") {
            var valueafterdiscount = calculatedvalue * percent;
            calculatedvalue -= valueafterdiscount;
        }
        else { document.getElementById(discount).value = 0; }
        document.getElementById(amountvalue).value = calculatedvalue.toFixed(2);
        document.getElementById(amount).innerHTML = addCommas(calculatedvalue.toFixed(2));
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Save").click(function () {
            document.getElementById("PoNO").value = window.opener.parent.document.getElementById("ddlponos").value;//Get Po number from partial view having PO's DDL

            var rows = (+document.getElementById("hdnRowCount").value);
            var itemtype = "ItemType" + rows;
            var typeOfMaterial = "materialType" + rows;
            var colorCode = "colorCodeData" + rows;
            var designCode = "designCodeData" + rows;
            var designname = "designName" + rows;
            var description = "itemDescription" + rows;
            var size = "Size" + rows;
            var costprice = "CostPrice" + rows;
            var sellingprice = "SellingPrice" + rows;
            var mrp = "MRP" + rows;
            var brand = "Brand" + rows;
            var unit = "Unit" + rows;
            var discount = "Discount" + rows;
            var quantity = "Quantity" + rows;
            var percentcomm = "CommissionInPercent" + rows;
            var rupeescomm = "CommissionInRupees" + rows;
            var amount = "AmountValue" + rows;

            if (document.getElementById(costprice) != null) {
                //If last row is inventory then check all the validations
                if (document.getElementById(itemtype).value == "Inventory") {
                    if ($("#" + itemtype).val() == "") {
                        alertbox("Please Select The Item Type");
                    }
                    else if ($("#" + typeOfMaterial).val() == "") {
                        alertbox("Please Select The Type Of Material");
                    }
                    else if ($("#" + colorCode).val() == "") {
                        alertbox("Please Select The Color");
                    }
                    else if ($("#" + unit).val() == "") {
                        alertbox("Please Select The Unit");
                    }
                    else if ($("#" + costprice).val() == "" || +$("#" + costprice).val() == 0) {
                        alertbox("Please Fill The Cost Price");
                    }
                    else if ($("#" + sellingprice).val() == "" || +$("#" + sellingprice).val() == 0) {
                        alertbox("Please Fill The Selling Price");
                    }
                    else if ($("#" + mrp).val() == "" || +$("#" + mrp).val() == 0) {
                        alertbox("Please Fill The MRP");
                    }
                    else if ($("#" + brand).val() == "") {
                        alertbox("Please Select The Brand");
                    }
                    else if ($("#" + size).val() == "") {
                        alertbox("Please Fill The Size");
                    }
                    else if ($("#" + designCode).val() == "") {
                        alertbox("Please Select The Design");
                    }
                    else {
                        //CHECK IF SAME ITEM IS ALREADY CREATED THEN GET ALERT 
                        var counter = 0;
                        for (i = 1; i < rows; i++) {
                            var MATERIAL = "materialType" + i;
                            var COLOR = "colorCodeData" + i;
                            var COSTPRICE = "CostPrice" + i;
                            var BRAND = "Brand" + i;
                            var SIZE = "Size" + i;
                            var DESIGN = "designCodeData" + i;
                            var UNIT = "Unit" + i;

                            var material = document.getElementById("materialType" + rows).value;
                            var color = document.getElementById("colorCodeData" + rows).value;
                            var costprice = document.getElementById("CostPrice" + rows).value;
                            var brand = document.getElementById("Brand" + rows).value;
                            var size = document.getElementById("Size" + rows).value;
                            var design = document.getElementById("designCodeData" + rows).value;
                            var unit = document.getElementById("Unit" + rows).value;

                            //IF ROW IS DELETED THEN CURRENT ITEM WON'T GET COMPARED
                            if ($("#" + MATERIAL).val() == material && $("#" + COLOR).val() == color && $("#" + COSTPRICE).val() == costprice && $("#" + BRAND).val() == brand && $("#" + SIZE).val() == size && $("#" + DESIGN).val() == design && $("#" + UNIT).val() == unit) {
                                alertbox("The Item Is Already Created..");
                                counter = i;
                                return false;
                            }
                        }
                        if (counter == 0) {
                            var material = document.getElementById("materialType" + rows).value;
                            var color = document.getElementById("colorCodeData" + rows).value;
                            var costprice = document.getElementById("CostPrice" + rows).value;
                            var brand = document.getElementById("Brand" + rows).value;
                            var size = document.getElementById("Size" + rows).value;
                            var design = document.getElementById("designCodeData" + rows).value;
                            var unit = document.getElementById("Unit" + rows).value;
                            var CAT = document.getElementById("ItemDetails_itemCategory").value;
                            var SUBCAT = document.getElementById("DDLSubCat").value;

                            //CHECK ITEM IS ALREADY CREATED IN THE DATABASE
                            $.getJSON("/Item/GetAllItemDetails", { Material: material, Color: color, Costprice: costprice, Brand: brand, Size: size, Design: design, Unit: unit, Cat: CAT, SubCat: SUBCAT },
                           function (stateData) {
                               if (stateData == "Present") {
                                   alertbox("The Item Is Already Created..")
                                   return false;
                               }
                               else {
                                   document.getElementById("ItemDetails_itemCategory").disabled = false;
                                   document.getElementById("DDLSubCat").disabled = false;
                                   document.getElementById("itemname").disabled = false;
                                   AppendAndSubmitData(rows);
                               }
                           });
                        }
                    }
                }
                    // IF LAST ITEM IS NON INVENTORY THEN WITHOUT VALIDATION SUBMIT THE DATA..
                else {
                    if ($("#" + itemtype).val() == "") {
                        alertbox("Please Select The Item Type");
                    }
                    else if ($("#" + unit).val() == "") {
                        alertbox("Please Select The Unit");
                    }
                    else {
                        document.getElementById("ItemDetails_itemCategory").disabled = false;
                        document.getElementById("DDLSubCat").disabled = false;
                        document.getElementById("itemname").disabled = false;
                        AppendAndSubmitData(rows);
                    }
                }
            }
                // IF LAST ITEM IS DELETED THEN WITHOUT VALIDATION SUBMIT THE DATA..
            else {
                document.getElementById("ItemDetails_itemCategory").disabled = false;
                document.getElementById("DDLSubCat").disabled = false;
                document.getElementById("itemname").disabled = false;
                AppendAndSubmitData(rows);
            }
        });
    });

    //Append All The Items In The Partial View And Then Submit The Data By Calling Triggger
    function AppendAndSubmitData(rows) {
        var Itemlistfrom = window.opener.parent.document.getElementById("GetItemListFrom").value;//check if items list is from PO means First Time
        document.getElementById("GetItemListFrom").value = Itemlistfrom;//Inward is created for particular PO else inward is already created for same PO

        var partialviewrows = (+window.opener.parent.document.getElementById("hdnRowCount").value);
        partialviewrows = (+partialviewrows) + 1;
        var newitempop = 1;
        for (var i = 1; i <= rows; i++) {
            var row = "row" + i;
            if (document.getElementById(row) != null) {
                var itemtype = "ItemType" + i;
                var typeOfMaterial = "materialType" + i;
                var colorCode = "colorCodeData" + i;
                var designCode = "designCodeData" + i;
                var designname = "designName" + i;
                var description = "itemDescription" + i;
                var size = "Size" + i;
                var costprice = "CostPrice" + i;
                var sellingprice = "SellingPrice" + i;
                var mrp = "MRP" + i;
                var costprice = "CostPrice" + i;
                var brand = "Brand" + i;
                var unit = "Unit" + i;
                var discount = "Discount" + i;
                var quantity = "Quantity" + i;
                var percentcomm = "CommissionInPercent" + i;
                var rupeescomm = "CommissionInRupees" + i;
                var amount = "Amount" + i;
                var amountvalue = "AmountValue" + i;

                document.getElementById(itemtype).disabled = false;
                document.getElementById(typeOfMaterial).disabled = false;
                document.getElementById(colorCode).disabled = false;
                document.getElementById(designCode).disabled = false;
                document.getElementById(description).disabled = false;
                document.getElementById(size).disabled = false;
                document.getElementById(costprice).disabled = false;
                document.getElementById(sellingprice).disabled = false;
                document.getElementById(mrp).disabled = false;
                document.getElementById(unit).disabled = false;
                document.getElementById(discount).disabled = false;
                document.getElementById(quantity).disabled = false;
                document.getElementById(brand).disabled = false;
                document.getElementById(percentcomm).disabled = false;
                document.getElementById(rupeescomm).disabled = false;

                var data = "<tr id='row" + partialviewrows + "'>";
                // Append the itemcode as hiddenvariable in main page with empty value because until item gets saved itemcode cannot be created and append the newitempopup hidden variable having the value of main page hdnrowcount of particular row and save all the itemcodes in tempdata so on details page itemcode will get saved using the newitempopup hidden variable which contains the value of main page hdnrowcount value of particular row. Using this hidden value get the itemcode hidden variable and save the itemcode value in itemcode hidden variable which is in the main page.
                data += "<td style='text-align: left'><label style='font-weight: normal'>" + $("#itemname").val() + "</label><input type='hidden' id='itemCode" + partialviewrows + "' name='itemCode" + partialviewrows + "' /><input type='hidden' id='ItemType" + partialviewrows + "' name='ItemType" + partialviewrows + "' value='" + document.getElementById(itemtype).value + "' /><input type='hidden' id='SubCat" + partialviewrows + "' name='SubCat" + partialviewrows + "' value='" + document.getElementById("DDLSubCat").value + "' /><input type='hidden' id='NewItemPopup" + partialviewrows + "' name='NewItemPopup" + partialviewrows + "' value='" + partialviewrows + "' /></td>";
                data += "<td><label style='font-weight: normal'>" + document.getElementById(description).value + "</label></td>";

                if (Itemlistfrom == "From PO") {
                    data += "<td style='text-align: left'><label style='font-weight: normal'>" + document.getElementById(designname).value + "</label></td>";
                }
                else {
                    data += "<td style='text-align: left'><label style='font-weight: normal'>" + document.getElementById(designname).value + "</label></td>";
                }

                data += "<td style='text-align: right'><label style='font-weight: normal' id='orderedquantity" + partialviewrows + "' name=='orderedquantity" + partialviewrows + "'>0</label></td>";

                if (Itemlistfrom == "From PO") {
                    data += "<td><input type='text' class='form-control' autocomplete='off' style='text-align:center' class='form-control' id='receivedquantity" + partialviewrows + "' name='receivedquantity" + partialviewrows + "' style='text-align:center;width:100%;' value='" + document.getElementById(quantity).value + "' onchange='CalculateBalance(" + partialviewrows + ",\"PO\",\"quantity\")' /><input type='hidden' id='ExtraQty" + partialviewrows + "' name='ExtraQty" + partialviewrows + "' value='0' /></td>";
                }
                else {
                    data += "<td style='text-align: right'><label style='font-weight: normal' id='prevbal" + partialviewrows + "' name=='prevbal" + partialviewrows + "'>0</label></td>";
                    data += "<td style='text-align: right'><label style='font-weight: normal'>0</label></td>";
                    data += "<td><input type='text' class='form-control' autocomplete='off' class='form-control' style='text-align:center' id='receivedquantity" + partialviewrows + "' name='receivedquantity" + partialviewrows + "' value='" + document.getElementById(quantity).value + "' onchange='CalculateBalance(" + partialviewrows + ",\"Performa\",\"quantity\")' /><input type='hidden' id='ExtraQty" + partialviewrows + "' name='ExtraQty" + partialviewrows + "' value='0' /></td>";
                }

                data += "<td><input type='text' class='form-control' autocomplete='off' class='form-control' id='FreeQty" + partialviewrows + "' name='FreeQty" + partialviewrows + "' value='0' style='text-align:center;width:100%;' /></td>";
                data += "<td style='text-align: right'><label style='font-weight: normal' id='balanceqty" + partialviewrows + "' name='" + partialviewrows + "'>0</label><input type='hidden' id='balanceqtyvalue" + partialviewrows + "' name='balanceqtyvalue" + partialviewrows + "' value='0' /></td>";
                data += "<td style='text-align: left'><label style='font-weight: normal'>" + document.getElementById(unit).value + "</label></td>";
                if (Itemlistfrom == "From PO") {
                    data += "<td><input type='text' class='form-control' autocomplete='off' style='text-align:center' class='form-control' disabled='disabled' id='rate" + partialviewrows + "' name='rate" + partialviewrows + "' value='" + document.getElementById(costprice).value + "' onchange='CalculateBalance(" + partialviewrows + ",\"PO\",\"\")' /><input type='hidden' id='MRP" + partialviewrows + "' name='MRP" + partialviewrows + "' value='" + document.getElementById(mrp).value + "' /><input type='hidden' id='SellingPrice" + partialviewrows + "' name='SellingPrice" + partialviewrows + "' value='" + document.getElementById(sellingprice).value + "' /></td>";
                }
                else {
                    data += "<td><input type='text' class='form-control' autocomplete='off' style='text-align:center' class='form-control' disabled='disabled' id='rate" + partialviewrows + "' name='rate" + partialviewrows + "' value='" + document.getElementById(costprice).value + "' onchange='CalculateBalance(" + partialviewrows + ",\"Performa\",\"\")' /><input type='hidden' id='MRP" + partialviewrows + "' name='MRP" + partialviewrows + "' value='" + document.getElementById(mrp).value + "' /><input type='hidden' id='SellingPrice" + partialviewrows + "' name='SellingPrice" + partialviewrows + "' value='" + document.getElementById(sellingprice).value + "' /></td>";
                }
                data += "<td style='text-align: center'><label style='font-weight: normal' id='discount" + partialviewrows + "' name='discount" + partialviewrows + "'>" + document.getElementById(discount).value + "</label></td>";
                data += "<td style='text-align: right'><label id='ItemTax" + partialviewrows + "'>0</label><input type='hidden' id='ItemTaxValue" + partialviewrows + "' name='ItemTaxValue" + partialviewrows + "' value='0' /></td>";

                if (Itemlistfrom == "From PO") {
                    data += "<td style='text-align: right'><label id='amount" + partialviewrows + "'>" + document.getElementById(amount).innerHTML + "</label><input type='hidden' id='amountvalue" + partialviewrows + "' name='amountvalue" + partialviewrows + "' value='" + document.getElementById(amountvalue).value + "' /><input type='hidden' id='NewPopUpItem" + partialviewrows + "' name='NewPopUpItem" + partialviewrows + "' /></td>";
                }
                else {
                    data += "<td style='text-align: right'><label id='amount" + partialviewrows + "'>" + document.getElementById(amount).innerHTML + "</label><input type='hidden' id='amountvalue" + partialviewrows + "' name='amountvalue" + partialviewrows + "' value='" + document.getElementById(amountvalue).value + "' /></td>";
                }
                data += "<td style='text-align: right'><label id='proportionatetax" + partialviewrows + "'>0</label><input type='hidden' id='proportionatetaxvalue" + partialviewrows + "' name='proportionatetaxvalue" + partialviewrows + "' value='0' /><input type='hidden' id='proportionatetaxamount" + partialviewrows + "' name='proportionatetaxamount" + partialviewrows + "' value='0' /></td>";
                data += "<td></td></tr>"
                if (Itemlistfrom == "From PO") {
                    window.opener.parent.$("#ItemsFromPO").append(data);
                }
                else {
                    window.opener.parent.$("#ItemsFromPerforma").append(data);
                }

                //Call The Function For Calculating The Tax For New Item
                GetItemTax(partialviewrows);

                partialviewrows = (+partialviewrows) + 1;
                newitempop += 1;
            }
        }
        window.opener.parent.document.getElementById("hdnRowCount").value = partialviewrows - 1;//value incremented first and then forloop executes
        document.getElementById("MainPagehdnRowCount").value = partialviewrows;
        window.opener.parent.CalculateTaxSummary(partialviewrows - 1);
        window.opener.parent.CalculateTotalQuantityAndAmount();
        window.opener.parent.CalculateProportionateTax();
        $("#Submit").trigger("click");
    }

    //Calculate The Item Tax For New Item And Return The Value
    function GetItemTax(partialviewrows) {
        $.getJSON("/Inward/GetItemTax",
        {
            itemname: $("#itemname").val(),
            subcat: $("#DDLSubCat").val(),
            State: window.opener.parent.$("#InwardFromSupplierDetails_SupplierState").val(),
            Formtype: window.opener.parent.$("#InwardFromSupplierDetails_FormType").val(),
        },
        function (data) {
            window.opener.parent.document.getElementById("ItemTax" + partialviewrows).innerHTML = +data;
            window.opener.parent.document.getElementById("ItemTaxValue" + partialviewrows).value = +data;
            window.opener.parent.CalculateItemTaxNumber();
        });
    }
</script>


@using (Html.BeginForm("NewItem", "Inward", FormMethod.Post))
{
    <audio id="audio" muted="true" preload="auto" style="display: none" controls="controls" autoplay="false">
        <source src="" type="audio/ogg" />
    </audio>
    <input type="hidden" id="hdnRowCount" name="hdnRowCount" />
    <input type="hidden" id="MainPagehdnRowCount" name="MainPagehdnRowCount" />
    <input type="hidden" id="PoNO" name="PoNO" />
    <input type="hidden" id="SubCatTax" name="SubCatTax" />
    <input type="hidden" id="GetItemListFrom" name="GetItemListFrom" />
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div style="height: 10px"></div>
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="form-group col-md-3 col-lg-3">
                            <label for="exampleInputname">Item Category<i style="color: red">*</i></label>
                            @Html.TextBoxFor(model => model.ItemDetails.itemCategory, new { @placeholder = "Item Category Name", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ItemDetails.itemCategory)

                        </div>
                        <div class="form-group col-md-3 col-lg-3">
                            <label for="exampleInputDistrict">Item Sub Category<i style="color: red">*</i></label>
                            @Html.DropDownListFor(model => model.ItemDetails.itemSubCategory, Enumerable.Empty<SelectListItem>(), "Please select ", new { id = "DDLSubCat", @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.ItemDetails.itemSubCategory)
                        </div>
                        <div class="form-group col-md-3 col-lg-3">
                            <label>Item Name<i style="color: red">*</i></label>
                            @Html.TextBoxFor(model => model.ItemDetails.itemName, new { id = "itemname", @class = "form-control", @placeholder = "Item Name", @disabled = "disabled", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.ItemDetails.itemName)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div id="CreateRow"></div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6"></div>
            <div class="col-lg-1 col-md-1">
                <button type="button" class="btn btn-success" id="Save" style="display: none">Save</button>
                <button type="submit" class="btn btn-success" id="Submit" style="display: none">Submit</button>
            </div>

        </div>
    </div>
}