@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "OutwardInterGodownDetails";
}
<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>

<link href="~/Content/customAlerts.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    function alertbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone1.ogg';

        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('alertClass');
        bootbox.alert('<i class="fa fa-2x fa-warning"></i><br>' + message + '<hr>');
    }
    function confirmbox(message) {
        var sample = document.getElementById("audio");
        sample.src = '../../Audio/tone2.ogg';
        sample.load();
        sample.muted = false;
        sample.play();

        bootbox.classes('confirmClass');
        bootbox.confirm('<i class="fa fa-2x fa-question-circle"></i><br>' + message + '<hr>',
		 function (result) {
		     if (result) {
		         $.getJSON("/Outward/EncodeOutwardId", { id: document.getElementById("OutwardInterGodownDetails_OutwardId").value },
                    function (encodedvalue) {
                        window.open("/Outward/PrintOutwardInterGodown?id=" + encodedvalue, "_target", "width=770,height=842,top=200px,left=300px")
                    });
		     }
		     else {
		         window.location.assign("/Outward/OutwardInterGodown");
		     }
		 });
    }
</script>


@Html.Partial("../Shared/Header")



<script>
    $(function () {
        $("#Print").click(function () {
            confirmbox("Do you Want To Print This Outward?");
        });

        var temp = $("#date").text();
        var dat = new Date(temp);
        var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var data = dat.getDate() + "/" + month[dat.getMonth()] + "/" + dat.getFullYear();
        document.getElementById('date').innerHTML = data;

    });
</script>


<!-- End: Header -->
<!-- Start: Main -->
<section>
    <div class="mainwrapper">
        <!-- End: Sidebar -->
        @Html.Partial("../Shared/LeftMenu")

        <!-- Start: Content -->
        @Html.HiddenFor(model => model.OutwardInterGodownDetails.OutwardId)

        <audio id="audio" muted="true" preload="auto" style="display: none" controls="controls" autoplay="false">
            <source src="" type="audio/ogg" />
        </audio>

        <div class="mainpanel">
            <div class="col-lg-12 col-md-12">
                <br />
                <h2>Outward Inter Godown Details</h2>
                <div class="col-lg-12 col-md-12">
                    <table style="border: 1px double; width: 100%">

                        <tr>
                            <td>
                                <div class="col-lg-12 col-md-12">

                                    <div class="col-lg-4 col-md-4" style="border-right: 1px solid #999; height: 200px;">
                                        <div style="height: 10px"></div>
                                        <div class="col-md-12 col-lg-12">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="row">
                                                            <label style="font-size: large">From Godown:</label>
                                                            <div class="col-md-12 col-lg-12">
                                                                <label>Name: &nbsp</label>
                                                                @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownname)<br />

                                                                <label>Contact Person: &nbsp</label>
                                                                @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownContactNo)<br />

                                                                <label>Contact Number: &nbsp</label>
                                                                @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownContactNo)<br />

                                                                <label>Email: &nbsp</label>
                                                                @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownEmail)

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4" style="border-right: 1px solid #999; height: 200px;">
                                        <div style="height: 10px"></div>
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row">
                                                <label style="font-size: large">To Godown:</label>
                                                <div class="col-md-12 col-lg-12">
                                                    <label>Name: &nbsp</label>
                                                    @Html.DisplayFor(model => model.OutwardInterGodownDetails.ToGodownname)<br />
                                                    <label>Address: &nbsp</label>
                                                    @Html.DisplayFor(model => model.OutwardInterGodownDetails.ToDeliveryAt)<br />
                                                    <label>Contact Person: &nbsp</label>
                                                    @Html.DisplayFor(model => model.OutwardInterGodownDetails.ToGodownContactPerson)<br />
                                                    <label>Contact Number: &nbsp</label>
                                                    @Html.DisplayFor(model => model.OutwardInterGodownDetails.ToGodownContactNo)<br />
                                                    <label>Email: &nbsp</label>
                                                    @Html.DisplayFor(model => model.OutwardInterGodownDetails.ToGodownEmail)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="col-md-12 col-lg-12">
                                            @{
                                                string outwardcode = Model.OutwardInterGodownDetails.OutwardCode;
                                            }
                                            <div style="height: 10px"></div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <label style="font-size: 14px;">Date:</label>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="row">
                                                        @{
                                                            var date = Convert.ToDateTime(Model.OutwardInterGodownDetails.OutwardDate).ToString("MM/dd/yyyy");
                                                        }
                                                        <label id="date" style="font-size: 14px; font-weight: normal">@date</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <label style="font-size: 14px;">Outward No:</label>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="row">
                                                        <label style="font-size: 14px; font-weight: normal">
                                                            @Html.DisplayFor(model => model.OutwardInterGodownDetails.OutwardCode)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <label style="font-size: 14px;">Reference No. :</label>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="row">
                                                       <label style="font-size: 25px; font-weight:bold">
                                                            @Html.DisplayFor(model => model.OutwardInterGodownDetails.GatePass)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div style="height: 15px"></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="col-md-12 col-lg-12">
                                    <label style="font-size: medium">Item Details</label>
                                    <div class="form-group row">
                                        <table border="1" style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center">
                                                        <label>S.N0.</label></th>
                                                    <th style="text-align: center">
                                                        <label>Item</label></th>
                                                    <th style="text-align: center">
                                                        <label>Description</label></th>
                                                    <th style="text-align: center">
                                                        <label>Color</label></th>
                                                    <th style="text-align: center">
                                                        <label>Material</label></th>
                                                    <th style="text-align: center">
                                                        <label>Design</label></th>
                                                    <th style="text-align: center">
                                                        <label>Quantity</label></th>
                                                    <th style="text-align: center">
                                                        <label>Balance</label></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model.OutwardItemInterGodownList != null && Model.OutwardItemInterGodownList.Any())
                                                    {
                                                        int count = 1;
                                                        foreach (var data in Model.OutwardItemInterGodownList)
                                                        {                                                                        
                                                    <tr>
                                                        @{
                                                            double outqty = Convert.ToDouble(@data.QuantityTransfer);
                                                            var Quantity = outqty.ToString("#,###.00##");
                                                            double bal = Convert.ToDouble(@data.Balance);
                                                            var Balance = bal.ToString("#,###.00##");
                                                        }
                                                        <td>
                                                            <label style="font-weight: normal">&nbsp;@count</label>
                                                        </td>
                                                        <td>
                                                            <label style="font-weight: normal">&nbsp;@data.ItemName</label>
                                                        </td>
                                                        <td>
                                                            <label style="font-weight: normal">&nbsp;@data.Description</label>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <label style="font-weight: normal">@data.ColorCode&nbsp;</label>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <label style="font-weight: normal">@data.TypeOfMaterial&nbsp;</label>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <label style="font-weight: normal">@data.DesignName&nbsp;</label>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <label style="font-weight: normal">@Quantity&nbsp;</label>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <label style="font-weight: normal">@Balance&nbsp;</label>
                                                        </td>
                                                    </tr>
                                                            count += 1;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="col-lg-12 col-md-12">
                                    <label style="font-size: medium">Store Keeper Details</label>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="col-lg-3 col-md-3">
                                        <label>Name</label><br />
                                        @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownStoreKeeperName)
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <label>Designation</label><br />
                                        @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownStoreKeeperDesignation)
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <label>Email</label><br />
                                        @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownStoreKeeperEmail)
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <label>Contact No</label><br />
                                        @Html.DisplayFor(model => model.OutwardInterGodownDetails.FromGodownStoreKeeperContactNo)
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="col-lg-12 col-md-12" style="float: right; text-align: right">
                                    <label>Prepared By,</label><br />
                                    @Html.DisplayFor(model => model.OutwardInterGodownDetails.PrepareBy)
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-3 col-md-3">
                                            <label>Narration</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9">
                                            @Html.DisplayFor(model => model.OutwardInterGodownDetails.Narration)
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>



                <div class="col-lg-12 col-md-12">
                    <div style="height: 10px"></div>
                </div>

                <br />
                <div class="col-lg-offset-5 col-md-ofset-5">
                    <button type="button" id="Print" class="btn btn-success">Print</button>
                </div>
            </div>
        </div>
    </div>
</section>


@{
    if (ViewData["PreviousGodownRequisitionViewdata"] != null)
    {
        string prevshopoutwardno = ViewData["PreviousGodownRequisitionViewdata"].ToString();
    <input type="hidden" id="ShopOutwardNoChanged" value="@prevshopoutwardno" />
    <script type="text/javascript">
        alert(document.getElementById("PreviousGodownRequisitionViewdata").value);
    </script>
    }
}

