@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "ShopRequisitionByItemNameCategory";
}

<meta charset="utf-8" />
<title>Retail Managment Software</title>
<meta name="keywords" content="Retail Software" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/style.default.blue.css" rel="stylesheet" />
<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/metisMenu.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/glyphicons.min.css" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/animate.css" />*@

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/pages.css" />
<link rel="stylesheet" type="text/css" href="~/Content/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="~/Images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<!-- Plugins - Via CDN -->
<script type="text/javascript" src="~/Scripts/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="~/Scripts/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.js"></script>
<script type="text/javascript" src="~/Scripts/sb-admin-2.js"></script>
<script type="text/javascript" src="~/vendor/plugins/metisMenu/metisMenu.min.js"></script>



<script type="text/javascript">
    $(function () {
        $("#ItemDetails_itemCategory").autocomplete({
            source: "/Item/GetCategory",
            minLength: 1,
            select: function (event, ui) {
                document.getElementById("DDLSubCat").disabled = false;
            
                if (ui.item) {
                    $("#ItemDetails_itemCategory").val(ui.item.value);
                    var idModel = document.getElementById("ItemDetails_itemCategory").value;
                    $.getJSON("/Item/LoadSubCategoryByCategory", { id: idModel },
           function (stateData) {
               var select = $("#DDLSubCat");
               select.empty();
               select.append($('<option/>', {
                   value: "",
                   text: "Select SubCategory"
               }));
               $.each(stateData, function (index, itemData) {

                   select.append($('<option/>', {
                       value: itemData.Value,
                       text: itemData.Text
                   }));
               });
           });
                    $("#DDLSubCat").change(function () {
                       
                        var subcatvalue = $(this).val();
                        var category = document.getElementById("ItemDetails_itemCategory").value;
                      
                        $.getJSON("/Requisition/getItemNameBySubcategory", { valuesubcat: subcatvalue, valuecat: category },
                        function (value) {
                            var select = $("#DDLItemname");
                            select.empty();
                            select.append($('<option/>', {
                                value: "",
                                text: "Select Itemname"
                            }));
                            $.each(value, function (index, itemdata) {

                                select.append($('<option/>', {
                                    value: itemdata.Value,
                                    text: itemdata.Text

                                }));
                            });

                        }
                        )
                    });

                    $("#DDLItemname").change(function () {
                     
                        var selectedValues = $('#DDLItemname').val();
                        $('input[id=ddlitemname]').val(selectedValues);

                        var temp = document.getElementById("ddlitemname").value;
                        $.ajax({

                            url: "/Requisition/getStockDetailsByItemNameForPo",
                            data: { itemnamevalue: temp },
                            type: "GET",
                           
                           
                            success: function (data) {
                                $("#showpartial").html(data);

                            }
                        });

                    });
                }
            }
            });
    });
</script>



<div class="col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8">
                <div class="form-group row">

                <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div style="height: 10px"></div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="form-group col-md-3 col-lg-3">
                                                <label for="exampleInputname">Item Category<i style="color: red">*</i></label>
                                                @Html.TextBoxFor(model => model.ItemDetails.itemCategory, new { id = "ItemDetails_itemCategory", @placeholder = "Item Category", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ItemDetails.itemCategory)
                                            </div>
                                            <div class="form-group col-md-3 col-lg-3">
                                                <label for="exampleInputDistrict">Item Sub Category</label>
                                                @Html.DropDownListFor(model => model.ItemDetails.itemSubCategory, Enumerable.Empty<SelectListItem>(), "Please select ", new { id = "DDLSubCat", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ItemDetails.itemSubCategory)
                                            </div>
                                            <div class="form-group col-md-3 col-lg-3">
                                                <label>Item Name</label>
                                                @Html.DropDownListFor(model => model.ItemDetails.itemName, Enumerable.Empty<SelectListItem>(), "Please select ", new { id = "DDLItemname", @class = "form-control" ,@multiple="multiple",@width="250px"})
                                                @Html.ValidationMessageFor(model => model.ItemDetails.itemName)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </div>

    <input type="hidden" id="ddlitemname" name="ddlitemname" value=""/>
    
    <input type="hidden" id="idmodelitem" name="idmodelitem" value=""/>
   
      </div>