@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "LoadBrands";
}
<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
       .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
</script>

<div class="col-md-12 col-lg-12">
    <div class="row">
        <div class="row">
            <table class="tablesorter table">
                <thead>
                    <tr>
                        <th style="color: royalblue">Code</th>
                        <th style="color: royalblue">Brands</th>
                        <th style="color: royalblue">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.BrandMasterList != null)
                        {

                            int count = 1;
                            int bndry = Model.BrandMasterList.Count();
                            string type = TempData["ViewType"].ToString();
                            TempData["ViewType"] = type;
                            if (type == "Edit")
                            {
                                string lableEditid = string.Empty;
                                string rowid = string.Empty;
                                string brndname = string.Empty;
                                string editid = string.Empty;
                                foreach (var data in Model.BrandMasterList)
                                {
                                    editid = "EditId" + count;
                                    lableEditid = "LableEditId" + count;
                                    brndname = "brandname" + count;
                                    rowid = "rowid" + count;
                                       
                        <tr id="@rowid">
                            <td>
                                @Html.DisplayFor(modeldata => data.BrandCode)
                            </td>

                            <td>
                                @{var brandname = data.BrandName;}
                                <label id="@brndname" style="font-weight:normal">@brandname</label>
                            </td>

                            <td>
                                <a href="#" onclick="ChangeRow(@data.Id,@bndry,@count)" id="@editid">Edit</a>
                                <label id="@lableEditid" style="display:none; font-weight:normal; color:dodgerblue">Edit</label>
                            </td>
                        </tr>
                                  count = count + 1;
                                }
                            }
                            else
                            {
                                string lableDeleteid = string.Empty;
                                string rowid = string.Empty;
                                string brndname = string.Empty;
                                string deleteid = string.Empty;
                                foreach (var data in Model.BrandMasterList)
                                {
                                    deleteid = "DeleteId" + count;
                                    lableDeleteid = "LableDeleteId" + count;
                                    brndname = "brndname" + count;
                                    rowid = "rowid" + count;
                                       
                        <tr id="@rowid">
                            <td>
                                @Html.DisplayFor(modeldata => data.BrandCode)
                            </td>

                            <td>
                                @{var brandname = data.BrandName;}
                                <label id="@brndname" style="font-weight:normal">@brandname</label>
                            </td>

                            <td>
                                <a href="#" onclick="DeleteRow(@data.Id,@bndry,@count)" id="@deleteid">Delete</a>
                                <label id="@lableDeleteid" style="display:none; font-weight:normal; color:dodgerblue">Delete</label>
                            </td>
                        </tr>
                                  count = count + 1;
                                }
                            }
                        }
                        
                    }
                </tbody>
            </table>
            <br />
            <div id="pager">
                <form>
                    <img src="../Images/first.png" class="first" />
                    <img src="../Images/prev.png" class="prev" />
                    <input type="text" class="pagedisplay" id="pagertextbox" style="width: 170px" />
                    <img src="../Images/next.png" class="next" />
                    <img src="../Images/last.png" class="last" />
                    <select class="pagesize" id="pagerdropdown">
                        <option selected="selected" value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- End: Main -->



