@model CodeFirstEntities.MainApplication

@{
    ViewBag.Title = "PrintMyRetailBillWithTaxPreprinted";
}


<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />

<script type="text/javascript">
    $(function () {
        document.getElementById("Inwords").innerHTML = NumberToWords();
        var temp = $("#date").text();
        var dat = new Date(temp);
        var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var data = dat.getDate() + "/" + month[dat.getMonth()] + "/" + dat.getFullYear();
        document.getElementById('date').innerHTML = data;
    });
</script>

<script type="text/javascript">
    function addCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }

    function removeCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, '');
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }

    function NumberToWords() {
        var junkVal = (+removeCommas(document.getElementById('Payment').innerHTML));
        junkVal = Math.floor(junkVal);
        var obStr = new String(junkVal);
        numReversed = obStr.split("");
        actnumber = numReversed.reverse();
        if (Number(junkVal) > 0) {
            //do nothing
        }
        else if (Number(junkVal) == 0) {
            //document.getElementById('container').innerHTML = obStr + '' + 'Rupees Zero Only';
            return 'Rupees Zero Only';
        }
        else {
            alert('wrong Number cannot be converted');
            return false;
        }

        if (actnumber.length > 9) {
            alert('Oops!!!! the Number is too big to covertes');
            return false;
        }

        var iWords = ["Zero", " One", " Two", " Three", " Four", " Five", " Six", " Seven", " Eight", " Nine"];
        var ePlace = ['Ten', ' Eleven', ' Twelve', ' Thirteen', ' Fourteen', ' Fifteen', ' Sixteen', ' Seventeen', ' Eighteen', ' Nineteen'];
        var tensPlace = ['dummy', ' Ten', ' Twenty', ' Thirty', ' Forty', ' Fifty', ' Sixty', ' Seventy', ' Eighty', ' Ninety'];

        var iWordsLength = numReversed.length;
        var totalWords = "";
        var inWords = new Array();
        var finalWord = "";
        j = 0;
        for (i = 0; i < iWordsLength; i++) {
            switch (i) {
                case 0:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    inWords[j] = inWords[j] + ' Only';
                    break;
                case 1:
                    tens_complication();
                    break;
                case 2:
                    if (actnumber[i] == 0) {
                        inWords[j] = '';
                    }
                    else if (actnumber[i - 1] != 0 && actnumber[i - 2] != 0) {
                        inWords[j] = iWords[actnumber[i]] + ' Hundred and';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]] + ' Hundred';
                    }
                    break;
                case 3:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    if (actnumber[i + 1] != 0 || actnumber[i] > 0) {
                        inWords[j] = inWords[j] + " Thousand";
                    }
                    break;
                case 4:
                    tens_complication();
                    break;
                case 5:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    if (actnumber[i + 1] != 0 || actnumber[i] > 0) {
                        inWords[j] = inWords[j] + " Lakh";
                    }
                    break;
                case 6:
                    tens_complication();
                    break;
                case 7:
                    if (actnumber[i] == 0 || actnumber[i + 1] == 1) {
                        inWords[j] = '';
                    }
                    else {
                        inWords[j] = iWords[actnumber[i]];
                    }
                    inWords[j] = inWords[j] + " Crore";
                    break;
                case 8:
                    tens_complication();
                    break;
                default:
                    break;
            }
            j++;
        }

        function tens_complication() {
            if (actnumber[i] == 0) {
                inWords[j] = '';
            }
            else if (actnumber[i] == 1) {
                inWords[j] = ePlace[actnumber[i - 1]];
            }
            else {
                inWords[j] = tensPlace[actnumber[i]];
            }
        }
        inWords.reverse();
        for (i = 0; i < inWords.length; i++) {
            finalWord += inWords[i];
        }
        // obStr + '  '+ finalWord;
        return finalWord;
    }
</script>

<script>
    $(function () {
        var temp = $("#date").text();
        var dat = new Date(temp);
        var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var data = dat.getDate() + "/" + month[dat.getMonth()] + "/" + dat.getFullYear();
        document.getElementById('date').innerHTML = data;
    });
</script>

<div style="margin-left:8px"></div>
<table style="border: 1px double; width: 100%;">

    <tr>
        <td>
            <table border="1" style="border-collapse: collapse; width: 100%" cellpadding="2" cellspacing="0" id="basic-table">
                <tr>
                    <td class="col-lg-8 col-md-8 col-sm-8" style="font-size: 13px">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
                            <label style="font-size: 24px; color: red"><b>Retail Invoice</b></label>
                            <br />
                            <label>PROP. PAREKH & CO.</label>
                            <div style="height:5px"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid">
                            <label style="color: red">*&nbsp;</label>Imperial Mahal, Khodadad Circle, Dadar T.T., (East), Mumbai 400 014, Tel. : 2412 1936 2418 7707
                                <br />
                            Email:atozfurnishings@hotmail.com
                            <div style="height:7px"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div style="height:5px"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label style="color: red">*&nbsp;</label>Broadway Shopping Centre, Dadar T.T.(East), Mumbai 400 014
                                <br />
                            Tel. : 2416 3631, 2412 4820, 2412 0085, 2411 6599
                                <br />
                            Fax : 91-22-2414 6361
                        </div>
                    </td>
                    <td class="col-lg-4 col-md-4 col-sm-4">
                        <img src="~/Images/retail-logo.png" class="img-responsive" alt="logo" style="max-width: 100px;" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <div class="col-lg-12 col-md-12 col-sm-12" style="color:red">
                <label><b>Invoice No:</b></label>
                @{
                    <label><b>@Html.DisplayFor(model => model.RetailBillDetails.RetailBillNo)</b></label>
                }
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Client Name:</label>
                @{
                    if (Model.RetailBillDetails.ClientName != "Customer")
                    {
                    @Html.DisplayFor(model => model.RetailBillDetails.ClientName)
                    }
                }
            </div>
        </td>
    </tr>

    <tr>
        <td style="height:300px; vertical-align:top">


            <table border="2" style="border-collapse: collapse; width: 100%" cellpadding="2" cellspacing="0" id="basic-table">
                <thead>
                    <tr style="background-color: #eee">
                        <th style="text-align: center; font-size:13px">
                            <label>Sno.</label>
                        </th>
                        <th style="text-align: center; font-size:13px">
                            <label>Item Code</label>
                        </th>
                        <th style="text-align: center; font-size:13px" class="col-lg-3 col-md-3 col-sm-3">
                            <label>Item</label>
                        </th>
                        <th style="text-align: center; font-size:13px">
                            <label>Unit</label>
                        </th>
                        <th style="text-align: center; font-size:13px">
                            <label>Qty</label>
                        </th>
                        <th style="text-align: center; font-size:13px">
                            <label>
                                Rate<br />
                                (<i class="fa fa-inr"></i>)</label>
                        </th>
                        <th style="text-align: center; font-size:13px">
                            <label>
                                Disc<br />
                                (<i class="fa fa-inr"></i>)</label>
                        </th>
                        <th style="text-align: center; font-size:13px">
                            <label>
                                Disc<br />
                                (%)</label>
                        </th>
                        <th style="text-align: center; font-size:13px" class="col-lg-2 col-md-2 col-sm-2">
                            <label>
                                Amount<br />
                                (<i class="fa fa-rupee"></i>)</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.RetailBillItemList != null && Model.RetailBillItemList.Any())
                        {
                            int count = 1;
                            foreach (var data in Model.RetailBillItemList)
                            {                                                                        
                        <tr>
                            @{
                                var discountrps = Convert.ToDouble(@data.DiscountRPS).ToString("#,###.00##");
                                double Rate = Convert.ToDouble(@data.MRP);
                                var rate = Rate.ToString("#,###.00##");
                                double Amt = Convert.ToDouble(@data.Amount);
                                var amount = Amt.ToString("#,###.00##");
                            }
                            <td style="text-align: center; font-size:13px">@count</td>
                            <td style="text-align: left; font-size:13px">
                                <label style="font-weight: normal">&nbsp;@data.ItemCode</label>
                            </td>
                            <td style="text-align: left; font-size:13px">
                                <label style="font-weight: normal">&nbsp;@data.ItemName</label>
                            </td>
                            <td style="text-align: left; font-size:13px">
                                <label style="font-weight: normal">&nbsp;@data.Unit</label>
                            </td>
                            <td style="text-align: right; font-size:13px">
                                <label style="font-weight: normal">@data.Quantity&nbsp;</label>
                            </td>
                            <td style="text-align: right; font-size:13px">
                                <label style="font-weight: normal">&nbsp;@rate</label>
                            </td>
                            <td style="text-align: right; font-size:13px">
                                <label style="font-weight: normal">@discountrps&nbsp;</label>
                            </td>
                            <td style="text-align: right; font-size:13px">
                                <label style="font-weight: normal">@data.DiscountPercent&nbsp;</label>
                            </td>
                            <td style="text-align: right; font-size:13px">
                                <label style="font-weight: normal">@amount&nbsp;</label>
                            </td>
                        </tr>
                                count += 1;
                            }
                        }
                    }

                    <tr style="text-align: right">
                        <td colspan="8" style="text-align: right; border-left: none; font-size:13px">
                            <label><b>Total Amount</b></label>
                        </td>
                        <td colspan="2" style="text-align: right; font-size:13px">
                            @{string totalamount = Convert.ToDouble(Model.RetailBillDetails.TotalAmount).ToString("#,###.00##");}
                            <label><b><i class="fa fa-inr"></i>@totalamount</b></label>
                        </td>
                    </tr>

                    <tr style="text-align: right">
                        <td colspan="8" style="text-align: right; border-left: none; font-size:13px">
                            <label><b>Payment</b></label>
                        </td>
                        <td colspan="2" style="text-align: right; font-size:13px">
                            @{string payment = Convert.ToDouble(Model.RetailBillDetails.Payment).ToString("#,###.00##");}
                            <label id="Payment"><b><i class="fa fa-inr"></i>@payment</b></label>
                        </td>
                    </tr>

                    <tr style="text-align: right;">
                        <td colspan="8" style="border-left: none; font-size:13px">
                            <div>
                                <label style="text-align: left; width:70%">(All prices inclusive of VAT, VAT Amt Rs.@Html.DisplayFor(model => model.RetailBillDetails.TotalTaxAmount))</label>
                                <label style="text-align: right"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grand Total</b></label>
                            </div>
                        </td>
                        <td colspan="2" style="text-align: right; font-size:13px">
                            @{string grandtotal = Convert.ToDouble(Model.RetailBillDetails.GrandTotal).ToString("#,###.00##");}
                            <label><b><i class="fa fa-inr"></i>@grandtotal</b></label>
                        </td>
                    </tr>

                    <tr style="text-align: left; background-color: #eee">
                        <td colspan="9" style="text-align: left; border-left: none; font-size:13px">
                            <label><b>Amount In Words :</b></label>
            &nbsp;<label id="Inwords"><b></b></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="font-size:13px">
            <div style="float: right; text-align: right;">
                <label style="font-weight: bold; margin-right: 10px">Prepared By,</label><br />
                <div style="margin-right: 10px">@Html.DisplayFor(model => model.RetailBillDetails.PreparedBy)</div>
            </div>
        </td>
    </tr>

      <tr>
        <td>
            <table border="1" style="border-collapse: collapse; width: 100%" cellpadding="2" cellspacing="0" id="basic-table">
                <tr>
                    <td style="width:80%;">
                        <table style="width:100%">
                            <tr>
                                <td style="font-size:10px; text-align:left; width:100%; border-bottom:1px solid">
                                    <label>SUBJECT TO MUMBAI JURISDICTION ONCE SOLD WILL NOT BE TAKEN BACK ALL HANDLOOM AND SILK MATERIAL MUST BE DRY CLEANED</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:14px; text-align:center; width:100%;">
                                    <label style="color:red"><b>MONDAY CLOSED</b></label>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:14px; text-align:center; width:100%;">
                                    <label><b>VAT TIN No. 27790060963V. CST TIN No. 27790060963C</b></label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:20%; text-align:center">
                        <label>E. &O. E.</label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
   
</table>
<div style="margin-right:8px"></div>
<div style="height:15px"></div>