@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "PrintCreditNoteWithMRP";
}
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />

<script type="text/javascript">
    $(function () {
        var itemlist = +document.getElementById("ItemList").value;
        var taxamount = 0;
        document.getElementById("CreditNoteAmt").innerHTML = "<i class='fa fa-inr'></i>" + (+document.getElementById("CreditNoteAmt").innerHTML).toFixed(2);
    });
</script>
<table style="border: 1px double; width: 100%">
    <tbody>
        <tr>
            <td>
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td colspan="8" style="text-align: center;">
                                <img src="~/Images/retail-logo.png" class="img-responsive" alt="logo" style="max-width: 100px;" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align: center;">
                                <label><b>A To Z DADAR T.T.</b></label><br />
                                <label>Shopping Centre, Dadar T.T., Dadar East,Mumbai - 400014</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align: center">
                                <label style="font-size: x-large;"><b>Credit Note</b></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table cellpadding="0" cellspacing="0" style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 50%">
                                @{
                                    if (Model.SalesReturnDetails.ClientName != "")
                                    {
                                    <label><b>Client Name: </b></label>
                                    <label>@Model.SalesReturnDetails.ClientName</label>
                                    }
                                }
                            </td>
                            <td>
                                <table>
                                    <tr style="float: right">
                                        <td>
                                            <label><b>Date: &nbsp</b></label>
                                        </td>
                                        <td>
                                            @{
                                                string date = DateTime.Now.ToString("dd/MM/yyyy");
                                            }
                                            <label style="font-weight: normal">@date</label>
                                        </td>
                                    </tr>
                                    <tr style="float: right">
                                        <td>
                                            <label><b>Credit Note No: &nbsp</b></label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.SalesReturnDetails.CreditNoteNo)
                                        </td>
                                    </tr>
                                    <tr style="float: right">
                                        <td>
                                            <label><b>Bill No: &nbsp</b></label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.SalesReturnDetails.BillNo)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="2" style="border-collapse: collapse; width: 100%" cellpadding="2" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align: center">
                                <label>Sno.</label>
                            </th>
                            <th style="text-align: center">
                                <label>Item</label>
                            </th>
                            <th style="text-align: center">
                                <label>Colour</label>
                            </th>
                            <th style="text-align: center">
                                <label>Unit</label>
                            </th>
                            <th style="text-align: center">
                                <label>Qty</label>
                            </th>

                            <th style="text-align: center">
                                <label>
                                    Rate<br />
                                    (<i class="fa fa-inr"></i>)</label>
                            </th>
                            <th style="text-align: center">
                                <label>
                                    Disc<br />
                                    (%)</label>
                            </th>
                            <th style="text-align: center">
                                <label>
                                    Disc<br />
                                    (<i class="fa fa-inr"></i>)</label>
                            </th>
                            <th style="text-align: center">
                                <label>
                                    Amount<br />
                                    (<i class="fa fa-rupee"></i>)</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            @{
                            
                                if (Model.RetailBillCreditNoteItemList.Count() != 0)
                                {
                                    int count = 1;
                                    foreach (var data in Model.RetailBillCreditNoteItemList)
                                    {
                                        var itemtaxamt = "ItemTaxAmt" + count;
                                        var rt = Convert.ToDouble(data.MRP);
                                        var rate = rt.ToString("#,###.00##");
                                        var amt = Convert.ToDouble(data.Quantity * data.MRP);
                                        var amount = amt.ToString("#,###.00##");
                                        var DiscountRs = Convert.ToDouble(data.DiscRs).ToString("#,###.00##");
                                        var discountonmrp = (data.MRP * Convert.ToDouble(data.Quantity)) * data.DiscPer / 100;
                                        amount = Convert.ToDouble(data.MRP * Convert.ToDouble(data.Quantity) - discountonmrp).ToString("#,###.00##");
                                        if (data.Status == "Return" && data.Quantity != 0)
                                        {
                                <tr>
                                    <td style="text-align: center">
                                        <label style="font-weight: normal">&nbsp;@count</label>
                                    </td>
                                    <td style="text-align: left">
                                        <label style="font-weight: normal">&nbsp;@data.ItemName</label>
                                    </td>
                                    <td style="text-align: left">
                                        <label style="font-weight: normal">&nbsp;@data.Color</label>
                                    </td>
                                    <td style="text-align: left">
                                        <label style="font-weight: normal">&nbsp;@data.Unit</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@data.Quantity&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@rate&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@data.DiscPer&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@discountonmrp&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@amount&nbsp;</label>
                                    </td>
                                </tr>
                                            count++;
                                        }
                                    }
                                <input type="hidden" id="ItemList" name="ItemList" value="@Model.RetailBillCreditNoteItemList.Count()" />
                                }
                                else
                                {
                                    int count = 1;
                                    foreach (var data in Model.SalesBillCreditNoteItemList)
                                    {
                                        var itemtaxamt = "ItemTaxAmt" + count;
                                        var rt = Convert.ToDouble(@data.MRP);
                                        var rate = rt.ToString("#,###.00##");
                                        var amt = Convert.ToDouble(data.Quantity * data.MRP);
                                        var amount = amt.ToString("#,###.00##");
                                        var DiscountRs = Convert.ToDouble(@data.DiscRs).ToString("#,###.00##");
                                        var discountonmrp = (data.MRP * Convert.ToDouble(data.Quantity)) * data.DiscPer / 100;
                                        amount = Convert.ToDouble(data.MRP * Convert.ToDouble(data.Quantity) - discountonmrp).ToString("#,###.00##");
                                        if (data.Status == "Return" && data.Quantity != 0)
                                        {
                                <tr>
                                    <td style="text-align: center">
                                        <label style="font-weight: normal">&nbsp;@count</label>
                                    </td>
                                    <td style="text-align: left">
                                        <label style="font-weight: normal">&nbsp;@data.ItemName</label>
                                    </td>
                                    <td style="text-align: left">
                                        <label style="font-weight: normal">&nbsp;@data.Color</label>
                                    </td>
                                    <td style="text-align: left">
                                        <label style="font-weight: normal">&nbsp;@data.Unit</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@data.Quantity&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@rate&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@data.DiscPer&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@discountonmrp&nbsp;</label>
                                    </td>
                                    <td style="text-align: right">
                                        <label style="font-weight: normal">@amount&nbsp;</label>
                                    </td>
                                </tr>
                                            count++;
                                        }
                                    }
                                <input type="hidden" id="ItemList" name="ItemList" value="@Model.SalesBillCreditNoteItemList.Count()" />
                                }
                            }
                        </tbody>
                </table>
                <br />
                @* <table style="width: 100%">
                    <tr style="float: right">
                        <td>
                            <label style="font-weight: bold">Tax: </label>
                            <label style="font-weight: bold" id="TaxAmount">0</label>
                        </td>
                    </tr>
                </table>*@
                @* @{
                    if (Model.SalesBillCreditNoteItemList.Count() != 0)
                    {
                        double? packandfowrd = 0;
                        foreach (var item in Model.SalesBillCreditNoteItemList)
                        {
                            if (item.Status == "Return")
                            {
                                packandfowrd = packandfowrd + item.PropTaxAmt;
                            }
                        }
                
                    <table style="width: 100%">
                        <tr style="float: right">
                            <td>
                                <label style="font-weight: bold">Pack&Forwd: </label>
                                <label style="font-weight: bold"><i class="fa fa-inr"></i>@Convert.ToDouble(packandfowrd).ToString("#,###.00##")</label>
                            </td>
                        </tr>
                    </table>
                    }
                }*@
                <table style="width: 100%">
                    <tr style="float: right">
                        <td>
                            <label style="font-weight: bold">Credit Note Amount: </label>
                            <label style="font-weight: bold" id="CreditNoteAmt">@Model.SalesReturnDetails.CreditNoteAmount</label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
